:root {
    --red-0: #fff5f2;
    --red-1: #ffe0da;
    --red-2: #ffbeb6;
    --red-3: #ffb2a8;
    --red-4: #ff978f;
    --red-5: #ff877f;
    --red-6: #f75d59;
    --red-7: #db2b33;
    --red-8: #c21725;
    --red-9: #9e0016;
    --red-10: #760009;
    --red-11: #560005;
    --red-12: #370000;
    --red-13: #210000;
    --red-14: #120000;
}
