:root {
    --teal-0: #e9fff9;
    --teal-1: #c7fce8;
    --teal-2: #84f8d2;
    --teal-3: #64f5c9;
    --teal-4: #15e5b4;
    --teal-5: #00d9a7;
    --teal-6: #00bb86;
    --teal-7: #009e66;
    --teal-8: #008956;
    --teal-9: #006e42;
    --teal-10: #00502e;
    --teal-11: #00391f;
    --teal-12: #00220f;
    --teal-13: #001307;
    --teal-14: #000803;
}
