<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fylgja Playground - Layout</title>
  <!-- Test styles -->
  <link rel="stylesheet" href="../../components/base/base.css">

  <!-- Other styles -->
  <link rel="stylesheet" href="../../components/container/container.css">
  <link rel="stylesheet" href="../../components/menu/menu.css">
  <link rel="stylesheet" href="../../components/button/button.css">

  <!-- Test styles -->
  <link rel="stylesheet" href="../../components/auto-grid/auto-grid.css">
  <link rel="stylesheet" href="../../components/section/section.css">
  <link rel="stylesheet" href="../../components/gradient/gradient.css">
  <link rel="stylesheet" href="../../components/card/card.css">
  <link rel="stylesheet" href="../../components/scroll-slider/scroll-slider.css">
  <link rel="stylesheet" href="../../components/dialog/dialog.css">

  <!-- Other styles -->
  <link rel="stylesheet" href="../../components/aria-only/mq.css">
  <link rel="stylesheet" href="../../components/utilpack/utilpack.css">

  <style>
    [data-theme="dark"] {
      --color-scheme: dark;
      --color-bg: #111;
      --color-text: #fff;
      --color-text-alt: #fff8;
      --color-text-muted: #fff6;

      /* Specific dark mode styles */
      --card-bg: #222;
      --card-color: #fff;
    }
  </style>
</head>
<body>
  <header class="container flex items-center py-4 border-block-end">
    <a href="/"><img src="../../assets/logo.svg" width="100" height="43" alt="Fylgja" class="me-8"></a>
    <nav class="menu -row">
      <a href="/_playground/text">Text</a>
      <a href="/_playground/navs">Navs</a>
      <a href="/_playground/actions">Action</a>
      <a href="/_playground/layouts" aria-current="page">Layout</a>
    </nav>
    <button class="btn ms-auto" data-color-preference>Toggle mode</button>
  </header>
  <main class="my-8">
    <div class="container flex">
      <section class="w-50 hero -theme p-8">
        <h1>Hero!!!</h1>
      </section>
      <section class="w-50 bg-gradient p-8 -angle-top-left -from-theme">
        <h1>Gradient Hero!!!</h1>
      </section>
    </div>
    <section class="container auto-grid my-8">
      <div class="card card-content">
        Simple Card
      </div>
      <figure class="card card-media">
        <img src="../assets/logo.svg" alt="Fylgja Rocks!">
        <figcaption>Simple Card Media</figcaption>
      </figure>
      <div class="card">
        <div class="card-media">
          <img src="../assets/logo.svg" alt="Fylgja Rocks!">
        </div>
        <div class="card-content">
          Card with layers
        </div>
        <div class="card-action">
          <a href="#" class="btn me-2">Action</a>
          <a href="#" class="btn">Action</a>
        </div>
      </div>
    </section>
    <section class="container">
      <h2>aria-only (sr-only)</h2>
      <p>Inspect to see me and the hidden text next to me</p>
      <p class="aria-only">This is a hidden text</p>
      <p class="aria-only md-not-aria-only">I am hidden on small screens</p>
    </section>
    <section class="container">
      <!-- Modal -->
      <button onclick="document.querySelector('#dialog-modal').showModal()">Open</button>
      <dialog id="dialog-modal">
        <div class="flex justify-between items-center">
          <h1 class="my-0">Hello from Modal</h1>
          <button onclick="document.querySelector('#dialog-modal').close()">X</button>
        </div>
        <div class="dialog-inner">
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Quibusdam, in incidunt, id quos facere hic corrupti, quia
              perferendis atque consectetur ipsum eaque quo quod explicabo.
              Aspernatur repudiandae voluptas dolore impedit? Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Quibusdam, in
              incidunt, id quos facere hic corrupti, quia perferendis atque
              consectetur ipsum eaque quo quod explicabo. Aspernatur
              repudiandae voluptas dolore impedit?
          </p>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Quibusdam, in incidunt, id quos facere hic corrupti, quia
              perferendis atque consectetur ipsum eaque quo quod explicabo.
              Aspernatur repudiandae voluptas dolore impedit? Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Quibusdam, in
              incidunt, id quos facere hic corrupti, quia perferendis atque
              consectetur ipsum eaque quo quod explicabo. Aspernatur
              repudiandae voluptas dolore impedit?
          </p>
      </div>
      </dialog>

      <!-- Snackbar -->
      <button onclick="document.querySelector('#dialog-snackbar').show()">Open</button>
      <dialog id="dialog-snackbar" class="snackbar flex-row justify-between items-center">
          <p class="my-0">Hello from Snackbar</p>
          <button onclick="document.querySelector('#dialog-snackbar').close()">X</button>
      </dialog>

      <!-- Offcanvas -->
      <button onclick="document.querySelector('#dialog-offcanvas').showModal()">Open</button>
      <dialog id="dialog-offcanvas" class="offcanvas">
        <div class="flex justify-between items-center">
          <h1 class="my-0">Hello from Modal</h1>
          <button onclick="document.querySelector('#dialog-offcanvas').close()">X</button>
        </div>
        <div class="dialog-inner">
          <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
            <li>item 5</li>
            <li>item 6</li>
            <li>item 7</li>
            <li>item 8</li>
            <li>item 9</li>
            <li>item 10</li>
            <li>item 11</li>
            <li>item 12</li>
            <li>item 13</li>
            <li>item 14</li>
            <li>item 15</li>
          </ul>
      </div>
      </dialog>
    </section>
    <section>
      <ul class="scroll-slider">
        <li class="card card-content">
          <p>slide 1</p>
        </li>
        <li class="card card-content">
          <p>slide 2</p>
        </li>
        <li class="card card-content">
          <p>slide 3</p>
        </li>
        <li class="card card-content">
          <p>slide 4</p>
        </li>
        <li class="card card-content">
          <p>slide 5</p>
        </li>
        <li class="card card-content">
          <p>slide 6</p>
        </li>
        <li class="card card-content">
          <p>slide 7</p>
        </li>
        <li class="card card-content">
          <p>slide 8</p>
        </li>
        <li class="card card-content">
          <p>slide 9</p>
        </li>
        <li class="card card-content">
          <p>slide 10</p>
        </li>
        <li class="card card-content">
          <p>slide 11</p>
        </li>
        <li class="card card-content">
          <p>slide 12</p>
        </li>
        <li class="card card-content">
          <p>slide 13</p>
        </li>
        <li class="card card-content">
          <p>slide 14</p>
        </li>
        <li class="card card-content">
          <p>slide 15</p>
        </li>
        <li class="card card-content">
          <p>slide 16</p>
        </li>
        <li class="card card-content">
          <p>slide 17</p>
        </li>
        <li class="card card-content">
          <p>slide 18</p>
        </li>
        <li class="card card-content">
          <p>slide 19</p>
        </li>
        <li class="card card-content">
          <p>slide 20</p>
        </li>
        <li class="card card-content">
          <p>slide 21</p>
        </li>
        <li class="card card-content">
          <p>slide 22</p>
        </li>
      </ul>
    </section>
  </main>
</body>
<script>
  let theme = "light";
  document.addEventListener("click", (e) => {
    if (!e.target.closest("[data-color-preference]")) return;
    theme = theme === "light" ? "dark" : "light";
    document.documentElement.setAttribute("data-theme", theme);
  });
</script>
</html>
