$pink-0: oklch(99% calc(.03 * var(--chroma, 1)) 350);
$pink-1: oklch(95% calc(.06 * var(--chroma, 1)) 350);
$pink-2: oklch(90% calc(.12 * var(--chroma, 1)) 350);
$pink-3: oklch(88% calc(.14 * var(--chroma, 1)) 350);
$pink-4: oklch(82% calc(.16 * var(--chroma, 1)) 350);
$pink-5: oklch(78% calc(.17 * var(--chroma, 1)) 350);
$pink-6: oklch(68% calc(.19 * var(--chroma, 1)) 350);
$pink-7: oklch(58% calc(.21 * var(--chroma, 1)) 350);
$pink-8: oklch(52% calc(.20 * var(--chroma, 1)) 350);
$pink-9: oklch(44% calc(.18 * var(--chroma, 1)) 350);
$pink-10: oklch(35% calc(.15 * var(--chroma, 1)) 350);
$pink-11: oklch(28% calc(.12 * var(--chroma, 1)) 350);
$pink-12: oklch(20% calc(.10 * var(--chroma, 1)) 350);
$pink-13: oklch(15% calc(.07 * var(--chroma, 1)) 350);
$pink-14: oklch(11% calc(.05 * var(--chroma, 1)) 350);
$purple-0: oklch(99% calc(.03 * var(--chroma, 1)) 330);
$purple-1: oklch(95% calc(.06 * var(--chroma, 1)) 330);
$purple-2: oklch(90% calc(.12 * var(--chroma, 1)) 330);
$purple-3: oklch(88% calc(.14 * var(--chroma, 1)) 330);
$purple-4: oklch(82% calc(.16 * var(--chroma, 1)) 330);
$purple-5: oklch(78% calc(.17 * var(--chroma, 1)) 330);
$purple-6: oklch(68% calc(.19 * var(--chroma, 1)) 330);
$purple-7: oklch(58% calc(.21 * var(--chroma, 1)) 330);
$purple-8: oklch(52% calc(.20 * var(--chroma, 1)) 330);
$purple-9: oklch(44% calc(.18 * var(--chroma, 1)) 330);
$purple-10: oklch(35% calc(.15 * var(--chroma, 1)) 330);
$purple-11: oklch(28% calc(.12 * var(--chroma, 1)) 330);
$purple-12: oklch(20% calc(.10 * var(--chroma, 1)) 330);
$purple-13: oklch(15% calc(.07 * var(--chroma, 1)) 330);
$purple-14: oklch(11% calc(.05 * var(--chroma, 1)) 330);
$violet-0: oklch(99% calc(.03 * var(--chroma, 1)) 310);
$violet-1: oklch(95% calc(.06 * var(--chroma, 1)) 310);
$violet-2: oklch(90% calc(.12 * var(--chroma, 1)) 310);
$violet-3: oklch(88% calc(.14 * var(--chroma, 1)) 310);
$violet-4: oklch(82% calc(.16 * var(--chroma, 1)) 310);
$violet-5: oklch(78% calc(.17 * var(--chroma, 1)) 310);
$violet-6: oklch(68% calc(.19 * var(--chroma, 1)) 310);
$violet-7: oklch(58% calc(.21 * var(--chroma, 1)) 310);
$violet-8: oklch(52% calc(.20 * var(--chroma, 1)) 310);
$violet-9: oklch(44% calc(.18 * var(--chroma, 1)) 310);
$violet-10: oklch(35% calc(.15 * var(--chroma, 1)) 310);
$violet-11: oklch(28% calc(.12 * var(--chroma, 1)) 310);
$violet-12: oklch(20% calc(.10 * var(--chroma, 1)) 310);
$violet-13: oklch(15% calc(.07 * var(--chroma, 1)) 310);
$violet-14: oklch(11% calc(.05 * var(--chroma, 1)) 310);
$indigo-0: oklch(99% calc(.03 * var(--chroma, 1)) 290);
$indigo-1: oklch(95% calc(.06 * var(--chroma, 1)) 290);
$indigo-2: oklch(90% calc(.12 * var(--chroma, 1)) 290);
$indigo-3: oklch(88% calc(.14 * var(--chroma, 1)) 290);
$indigo-4: oklch(82% calc(.16 * var(--chroma, 1)) 290);
$indigo-5: oklch(78% calc(.17 * var(--chroma, 1)) 290);
$indigo-6: oklch(68% calc(.19 * var(--chroma, 1)) 290);
$indigo-7: oklch(58% calc(.21 * var(--chroma, 1)) 290);
$indigo-8: oklch(52% calc(.20 * var(--chroma, 1)) 290);
$indigo-9: oklch(44% calc(.18 * var(--chroma, 1)) 290);
$indigo-10: oklch(35% calc(.15 * var(--chroma, 1)) 290);
$indigo-11: oklch(28% calc(.12 * var(--chroma, 1)) 290);
$indigo-12: oklch(20% calc(.10 * var(--chroma, 1)) 290);
$indigo-13: oklch(15% calc(.07 * var(--chroma, 1)) 290);
$indigo-14: oklch(11% calc(.05 * var(--chroma, 1)) 290);
$blue-0: oklch(99% calc(.03 * var(--chroma, 1)) 260);
$blue-1: oklch(95% calc(.06 * var(--chroma, 1)) 260);
$blue-2: oklch(90% calc(.12 * var(--chroma, 1)) 260);
$blue-3: oklch(88% calc(.14 * var(--chroma, 1)) 260);
$blue-4: oklch(82% calc(.16 * var(--chroma, 1)) 260);
$blue-5: oklch(78% calc(.17 * var(--chroma, 1)) 260);
$blue-6: oklch(68% calc(.19 * var(--chroma, 1)) 260);
$blue-7: oklch(58% calc(.21 * var(--chroma, 1)) 260);
$blue-8: oklch(52% calc(.20 * var(--chroma, 1)) 260);
$blue-9: oklch(44% calc(.18 * var(--chroma, 1)) 260);
$blue-10: oklch(35% calc(.15 * var(--chroma, 1)) 260);
$blue-11: oklch(28% calc(.12 * var(--chroma, 1)) 260);
$blue-12: oklch(20% calc(.10 * var(--chroma, 1)) 260);
$blue-13: oklch(15% calc(.07 * var(--chroma, 1)) 260);
$blue-14: oklch(11% calc(.05 * var(--chroma, 1)) 260);
$cyan-0: oklch(99% calc(.03 * var(--chroma, 1)) 220);
$cyan-1: oklch(95% calc(.06 * var(--chroma, 1)) 220);
$cyan-2: oklch(90% calc(.12 * var(--chroma, 1)) 220);
$cyan-3: oklch(88% calc(.14 * var(--chroma, 1)) 220);
$cyan-4: oklch(82% calc(.16 * var(--chroma, 1)) 220);
$cyan-5: oklch(78% calc(.17 * var(--chroma, 1)) 220);
$cyan-6: oklch(68% calc(.19 * var(--chroma, 1)) 220);
$cyan-7: oklch(58% calc(.21 * var(--chroma, 1)) 220);
$cyan-8: oklch(52% calc(.20 * var(--chroma, 1)) 220);
$cyan-9: oklch(44% calc(.18 * var(--chroma, 1)) 220);
$cyan-10: oklch(35% calc(.15 * var(--chroma, 1)) 220);
$cyan-11: oklch(28% calc(.12 * var(--chroma, 1)) 220);
$cyan-12: oklch(20% calc(.10 * var(--chroma, 1)) 220);
$cyan-13: oklch(15% calc(.07 * var(--chroma, 1)) 220);
$cyan-14: oklch(11% calc(.05 * var(--chroma, 1)) 220);
$teal-0: oklch(99% calc(.03 * var(--chroma, 1)) 170);
$teal-1: oklch(95% calc(.06 * var(--chroma, 1)) 170);
$teal-2: oklch(90% calc(.12 * var(--chroma, 1)) 170);
$teal-3: oklch(88% calc(.14 * var(--chroma, 1)) 170);
$teal-4: oklch(82% calc(.16 * var(--chroma, 1)) 170);
$teal-5: oklch(78% calc(.17 * var(--chroma, 1)) 170);
$teal-6: oklch(68% calc(.19 * var(--chroma, 1)) 170);
$teal-7: oklch(58% calc(.21 * var(--chroma, 1)) 170);
$teal-8: oklch(52% calc(.20 * var(--chroma, 1)) 170);
$teal-9: oklch(44% calc(.18 * var(--chroma, 1)) 170);
$teal-10: oklch(35% calc(.15 * var(--chroma, 1)) 170);
$teal-11: oklch(28% calc(.12 * var(--chroma, 1)) 170);
$teal-12: oklch(20% calc(.10 * var(--chroma, 1)) 170);
$teal-13: oklch(15% calc(.07 * var(--chroma, 1)) 170);
$teal-14: oklch(11% calc(.05 * var(--chroma, 1)) 170);
$green-0: oklch(99% calc(.03 * var(--chroma, 1)) 140);
$green-1: oklch(95% calc(.06 * var(--chroma, 1)) 140);
$green-2: oklch(90% calc(.12 * var(--chroma, 1)) 140);
$green-3: oklch(88% calc(.14 * var(--chroma, 1)) 140);
$green-4: oklch(82% calc(.16 * var(--chroma, 1)) 140);
$green-5: oklch(78% calc(.17 * var(--chroma, 1)) 140);
$green-6: oklch(68% calc(.19 * var(--chroma, 1)) 140);
$green-7: oklch(58% calc(.21 * var(--chroma, 1)) 140);
$green-8: oklch(52% calc(.20 * var(--chroma, 1)) 140);
$green-9: oklch(44% calc(.18 * var(--chroma, 1)) 140);
$green-10: oklch(35% calc(.15 * var(--chroma, 1)) 140);
$green-11: oklch(28% calc(.12 * var(--chroma, 1)) 140);
$green-12: oklch(20% calc(.10 * var(--chroma, 1)) 140);
$green-13: oklch(15% calc(.07 * var(--chroma, 1)) 140);
$green-14: oklch(11% calc(.05 * var(--chroma, 1)) 140);
$lime-0: oklch(99% calc(.03 * var(--chroma, 1)) 125);
$lime-1: oklch(95% calc(.06 * var(--chroma, 1)) 125);
$lime-2: oklch(90% calc(.12 * var(--chroma, 1)) 125);
$lime-3: oklch(88% calc(.14 * var(--chroma, 1)) 125);
$lime-4: oklch(82% calc(.16 * var(--chroma, 1)) 125);
$lime-5: oklch(78% calc(.17 * var(--chroma, 1)) 125);
$lime-6: oklch(68% calc(.19 * var(--chroma, 1)) 125);
$lime-7: oklch(58% calc(.21 * var(--chroma, 1)) 125);
$lime-8: oklch(52% calc(.20 * var(--chroma, 1)) 125);
$lime-9: oklch(44% calc(.18 * var(--chroma, 1)) 125);
$lime-10: oklch(35% calc(.15 * var(--chroma, 1)) 125);
$lime-11: oklch(28% calc(.12 * var(--chroma, 1)) 125);
$lime-12: oklch(20% calc(.10 * var(--chroma, 1)) 125);
$lime-13: oklch(15% calc(.07 * var(--chroma, 1)) 125);
$lime-14: oklch(11% calc(.05 * var(--chroma, 1)) 125);
$yellow-0: oklch(99% calc(.03 * var(--chroma, 1)) 96);
$yellow-1: oklch(95% calc(.06 * var(--chroma, 1)) 96);
$yellow-2: oklch(90% calc(.12 * var(--chroma, 1)) 96);
$yellow-3: oklch(88% calc(.14 * var(--chroma, 1)) 96);
$yellow-4: oklch(82% calc(.16 * var(--chroma, 1)) 96);
$yellow-5: oklch(78% calc(.17 * var(--chroma, 1)) 96);
$yellow-6: oklch(68% calc(.19 * var(--chroma, 1)) 96);
$yellow-7: oklch(58% calc(.21 * var(--chroma, 1)) 96);
$yellow-8: oklch(52% calc(.20 * var(--chroma, 1)) 96);
$yellow-9: oklch(44% calc(.18 * var(--chroma, 1)) 96);
$yellow-10: oklch(35% calc(.15 * var(--chroma, 1)) 96);
$yellow-11: oklch(28% calc(.12 * var(--chroma, 1)) 96);
$yellow-12: oklch(20% calc(.10 * var(--chroma, 1)) 96);
$yellow-13: oklch(15% calc(.07 * var(--chroma, 1)) 96);
$yellow-14: oklch(11% calc(.05 * var(--chroma, 1)) 96);
$orange-0: oklch(99% calc(.03 * var(--chroma, 1)) 70);
$orange-1: oklch(95% calc(.06 * var(--chroma, 1)) 70);
$orange-2: oklch(90% calc(.12 * var(--chroma, 1)) 70);
$orange-3: oklch(88% calc(.14 * var(--chroma, 1)) 70);
$orange-4: oklch(82% calc(.16 * var(--chroma, 1)) 70);
$orange-5: oklch(78% calc(.17 * var(--chroma, 1)) 70);
$orange-6: oklch(68% calc(.19 * var(--chroma, 1)) 70);
$orange-7: oklch(58% calc(.21 * var(--chroma, 1)) 70);
$orange-8: oklch(52% calc(.20 * var(--chroma, 1)) 70);
$orange-9: oklch(44% calc(.18 * var(--chroma, 1)) 70);
$orange-10: oklch(35% calc(.15 * var(--chroma, 1)) 70);
$orange-11: oklch(28% calc(.12 * var(--chroma, 1)) 70);
$orange-12: oklch(20% calc(.10 * var(--chroma, 1)) 70);
$orange-13: oklch(15% calc(.07 * var(--chroma, 1)) 70);
$orange-14: oklch(11% calc(.05 * var(--chroma, 1)) 70);
$red-0: oklch(99% calc(.03 * var(--chroma, 1)) 25);
$red-1: oklch(95% calc(.06 * var(--chroma, 1)) 25);
$red-2: oklch(90% calc(.12 * var(--chroma, 1)) 25);
$red-3: oklch(88% calc(.14 * var(--chroma, 1)) 25);
$red-4: oklch(82% calc(.16 * var(--chroma, 1)) 25);
$red-5: oklch(78% calc(.17 * var(--chroma, 1)) 25);
$red-6: oklch(68% calc(.19 * var(--chroma, 1)) 25);
$red-7: oklch(58% calc(.21 * var(--chroma, 1)) 25);
$red-8: oklch(52% calc(.20 * var(--chroma, 1)) 25);
$red-9: oklch(44% calc(.18 * var(--chroma, 1)) 25);
$red-10: oklch(35% calc(.15 * var(--chroma, 1)) 25);
$red-11: oklch(28% calc(.12 * var(--chroma, 1)) 25);
$red-12: oklch(20% calc(.10 * var(--chroma, 1)) 25);
$red-13: oklch(15% calc(.07 * var(--chroma, 1)) 25);
$red-14: oklch(11% calc(.05 * var(--chroma, 1)) 25);