$pink-0: oklch(99% .03 350);
$pink-1: oklch(95% .06 350);
$pink-2: oklch(90% .12 350);
$pink-3: oklch(88% .14 350);
$pink-4: oklch(82% .16 350);
$pink-5: oklch(78% .17 350);
$pink-6: oklch(68% .19 350);
$pink-7: oklch(58% .21 350);
$pink-8: oklch(52% .20 350);
$pink-9: oklch(44% .18 350);
$pink-10: oklch(35% .15 350);
$pink-11: oklch(28% .12 350);
$pink-12: oklch(20% .10 350);
$pink-13: oklch(15% .07 350);
$pink-14: oklch(11% .05 350);
$purple-0: oklch(99% .03 330);
$purple-1: oklch(95% .06 330);
$purple-2: oklch(90% .12 330);
$purple-3: oklch(88% .14 330);
$purple-4: oklch(82% .16 330);
$purple-5: oklch(78% .17 330);
$purple-6: oklch(68% .19 330);
$purple-7: oklch(58% .21 330);
$purple-8: oklch(52% .20 330);
$purple-9: oklch(44% .18 330);
$purple-10: oklch(35% .15 330);
$purple-11: oklch(28% .12 330);
$purple-12: oklch(20% .10 330);
$purple-13: oklch(15% .07 330);
$purple-14: oklch(11% .05 330);
$violet-0: oklch(99% .03 310);
$violet-1: oklch(95% .06 310);
$violet-2: oklch(90% .12 310);
$violet-3: oklch(88% .14 310);
$violet-4: oklch(82% .16 310);
$violet-5: oklch(78% .17 310);
$violet-6: oklch(68% .19 310);
$violet-7: oklch(58% .21 310);
$violet-8: oklch(52% .20 310);
$violet-9: oklch(44% .18 310);
$violet-10: oklch(35% .15 310);
$violet-11: oklch(28% .12 310);
$violet-12: oklch(20% .10 310);
$violet-13: oklch(15% .07 310);
$violet-14: oklch(11% .05 310);
$indigo-0: oklch(99% .03 290);
$indigo-1: oklch(95% .06 290);
$indigo-2: oklch(90% .12 290);
$indigo-3: oklch(88% .14 290);
$indigo-4: oklch(82% .16 290);
$indigo-5: oklch(78% .17 290);
$indigo-6: oklch(68% .19 290);
$indigo-7: oklch(58% .21 290);
$indigo-8: oklch(52% .20 290);
$indigo-9: oklch(44% .18 290);
$indigo-10: oklch(35% .15 290);
$indigo-11: oklch(28% .12 290);
$indigo-12: oklch(20% .10 290);
$indigo-13: oklch(15% .07 290);
$indigo-14: oklch(11% .05 290);
$blue-0: oklch(99% .03 260);
$blue-1: oklch(95% .06 260);
$blue-2: oklch(90% .12 260);
$blue-3: oklch(88% .14 260);
$blue-4: oklch(82% .16 260);
$blue-5: oklch(78% .17 260);
$blue-6: oklch(68% .19 260);
$blue-7: oklch(58% .21 260);
$blue-8: oklch(52% .20 260);
$blue-9: oklch(44% .18 260);
$blue-10: oklch(35% .15 260);
$blue-11: oklch(28% .12 260);
$blue-12: oklch(20% .10 260);
$blue-13: oklch(15% .07 260);
$blue-14: oklch(11% .05 260);
$cyan-0: oklch(99% .03 220);
$cyan-1: oklch(95% .06 220);
$cyan-2: oklch(90% .12 220);
$cyan-3: oklch(88% .14 220);
$cyan-4: oklch(82% .16 220);
$cyan-5: oklch(78% .17 220);
$cyan-6: oklch(68% .19 220);
$cyan-7: oklch(58% .21 220);
$cyan-8: oklch(52% .20 220);
$cyan-9: oklch(44% .18 220);
$cyan-10: oklch(35% .15 220);
$cyan-11: oklch(28% .12 220);
$cyan-12: oklch(20% .10 220);
$cyan-13: oklch(15% .07 220);
$cyan-14: oklch(11% .05 220);
$teal-0: oklch(99% .03 170);
$teal-1: oklch(95% .06 170);
$teal-2: oklch(90% .12 170);
$teal-3: oklch(88% .14 170);
$teal-4: oklch(82% .16 170);
$teal-5: oklch(78% .17 170);
$teal-6: oklch(68% .19 170);
$teal-7: oklch(58% .21 170);
$teal-8: oklch(52% .20 170);
$teal-9: oklch(44% .18 170);
$teal-10: oklch(35% .15 170);
$teal-11: oklch(28% .12 170);
$teal-12: oklch(20% .10 170);
$teal-13: oklch(15% .07 170);
$teal-14: oklch(11% .05 170);
$green-0: oklch(99% .03 140);
$green-1: oklch(95% .06 140);
$green-2: oklch(90% .12 140);
$green-3: oklch(88% .14 140);
$green-4: oklch(82% .16 140);
$green-5: oklch(78% .17 140);
$green-6: oklch(68% .19 140);
$green-7: oklch(58% .21 140);
$green-8: oklch(52% .20 140);
$green-9: oklch(44% .18 140);
$green-10: oklch(35% .15 140);
$green-11: oklch(28% .12 140);
$green-12: oklch(20% .10 140);
$green-13: oklch(15% .07 140);
$green-14: oklch(11% .05 140);
$lime-0: oklch(99% .03 125);
$lime-1: oklch(95% .06 125);
$lime-2: oklch(90% .12 125);
$lime-3: oklch(88% .14 125);
$lime-4: oklch(82% .16 125);
$lime-5: oklch(78% .17 125);
$lime-6: oklch(68% .19 125);
$lime-7: oklch(58% .21 125);
$lime-8: oklch(52% .20 125);
$lime-9: oklch(44% .18 125);
$lime-10: oklch(35% .15 125);
$lime-11: oklch(28% .12 125);
$lime-12: oklch(20% .10 125);
$lime-13: oklch(15% .07 125);
$lime-14: oklch(11% .05 125);
$yellow-0: oklch(99% .03 96);
$yellow-1: oklch(95% .06 96);
$yellow-2: oklch(90% .12 96);
$yellow-3: oklch(88% .14 96);
$yellow-4: oklch(82% .16 96);
$yellow-5: oklch(78% .17 96);
$yellow-6: oklch(68% .19 96);
$yellow-7: oklch(58% .21 96);
$yellow-8: oklch(52% .20 96);
$yellow-9: oklch(44% .18 96);
$yellow-10: oklch(35% .15 96);
$yellow-11: oklch(28% .12 96);
$yellow-12: oklch(20% .10 96);
$yellow-13: oklch(15% .07 96);
$yellow-14: oklch(11% .05 96);
$orange-0: oklch(99% .03 70);
$orange-1: oklch(95% .06 70);
$orange-2: oklch(90% .12 70);
$orange-3: oklch(88% .14 70);
$orange-4: oklch(82% .16 70);
$orange-5: oklch(78% .17 70);
$orange-6: oklch(68% .19 70);
$orange-7: oklch(58% .21 70);
$orange-8: oklch(52% .20 70);
$orange-9: oklch(44% .18 70);
$orange-10: oklch(35% .15 70);
$orange-11: oklch(28% .12 70);
$orange-12: oklch(20% .10 70);
$orange-13: oklch(15% .07 70);
$orange-14: oklch(11% .05 70);
$red-0: oklch(99% .03 25);
$red-1: oklch(95% .06 25);
$red-2: oklch(90% .12 25);
$red-3: oklch(88% .14 25);
$red-4: oklch(82% .16 25);
$red-5: oklch(78% .17 25);
$red-6: oklch(68% .19 25);
$red-7: oklch(58% .21 25);
$red-8: oklch(52% .20 25);
$red-9: oklch(44% .18 25);
$red-10: oklch(35% .15 25);
$red-11: oklch(28% .12 25);
$red-12: oklch(20% .10 25);
$red-13: oklch(15% .07 25);
$red-14: oklch(11% .05 25);
