$ease-1: cubic-bezier(0.25, 0.1, 0.1, 1);
$ease-2: cubic-bezier(0.25, 0.1, 0.2, 1);
$ease-3: cubic-bezier(0.25, 0.1, 0.3, 1);
$ease-4: cubic-bezier(0.25, 0.1, 0.4, 1);
$ease-5: cubic-bezier(0.25, 0.1, 0.5, 1);
$ease-in-1: cubic-bezier(0.3, 0, 1, 1);
$ease-in-2: cubic-bezier(0.5, 0, 1, 1);
$ease-in-3: cubic-bezier(0.7, 0, 1, 1);
$ease-in-4: cubic-bezier(0.9, 0, 1, 1);
$ease-in-5: cubic-bezier(1, 0, 1, 1);
$ease-out-1: cubic-bezier(0, 0, 0.7, 1);
$ease-out-2: cubic-bezier(0, 0, 0.5, 1);
$ease-out-3: cubic-bezier(0, 0, 0.3, 1);
$ease-out-4: cubic-bezier(0, 0, 0.1, 1);
$ease-out-5: cubic-bezier(0, 0, 0, 1);
$ease-in-out-1: cubic-bezier(0.1, 0, 0.9, 1);
$ease-in-out-2: cubic-bezier(0.3, 0, 0.7, 1);
$ease-in-out-3: cubic-bezier(0.5, 0, 0.5, 1);
$ease-in-out-4: cubic-bezier(0.7, 0, 0.3, 1);
$ease-in-out-5: cubic-bezier(0.9, 0, 0.1, 1);
$ease-elastic-in-1: cubic-bezier(0.5, 0.25, 0.75, -0.25);
$ease-elastic-in-2: cubic-bezier(0.5, 0, 0.75, -0.25);
$ease-elastic-in-3: cubic-bezier(0.5, -0.25, 0.75, -0.25);
$ease-elastic-in-4: cubic-bezier(0.5, -0.5, 0.75, -0.25);
$ease-elastic-in-5: cubic-bezier(0.5, -0.75, 0.75, -0.25);
$ease-elastic-out-1: cubic-bezier(0.5, 0.75, 0.75, 1.25);
$ease-elastic-out-2: cubic-bezier(0.5, 1, 0.75, 1.25);
$ease-elastic-out-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
$ease-elastic-out-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
$ease-elastic-out-5: cubic-bezier(0.5, 1.75, 0.75, 1.25);
$ease-elastic-in-out-1: cubic-bezier(0.5, -0.1, 0.1, 1.5);
$ease-elastic-in-out-2: cubic-bezier(0.5, -0.3, 0.1, 1.5);
$ease-elastic-in-out-3: cubic-bezier(0.5, -0.5, 0.1, 1.5);
$ease-elastic-in-out-4: cubic-bezier(0.5, -0.7, 0.1, 1.5);
$ease-elastic-in-out-5: cubic-bezier(0.5, -0.9, 0.1, 1.5);