$color-0: hsl(var(--color-hue, 0) 100% 97.85%);
$color-1: hsl(var(--color-hue, 0) 100% 93.683%);
$color-2: hsl(var(--color-hue, 0) 100% 87.051%);
$color-3: hsl(var(--color-hue, 0) 100% 84.521%);
$color-4: hsl(var(--color-hue, 0) 100% 79.392%);
$color-5: hsl(var(--color-hue, 0) 100% 76.162%);
$color-6: hsl(var(--color-hue, 0) 76.667% 64.044%);
$color-7: hsl(var(--color-hue, 0) 63.165% 49.271%);
$color-8: hsl(var(--color-hue, 0) 72.91% 40.989%);
$color-9: hsl(var(--color-hue, 0) 92.277% 30.025%);
$color-10: hsl(var(--color-hue, 0) 100% 21.369%);
$color-11: hsl(var(--color-hue, 0) 100% 15.498%);
$color-12: hsl(var(--color-hue, 0) 100% 9.8873%);
$color-13: hsl(var(--color-hue, 0) 100% 5.8593%);
$color-14: hsl(var(--color-hue, 0) 100% 3.0397%);
