$shadow-color: "hsl(0 0 0 / 10%)";
$shadow-1: 0 2px 1px -1px #{$shadow-color}, 0 1px 1px #{$shadow-color}, 0 1px 3px #{$shadow-color};
$shadow-2: 0 3px 3px -2px #{$shadow-color}, 0 3px 4px #{$shadow-color}, 0 1px 8px #{$shadow-color};
$shadow-3: 0 3px 5px -1px #{$shadow-color}, 0 6px 10px #{$shadow-color}, 0 1px 18px #{$shadow-color};
$shadow-4: 0 5px 5px -3px #{$shadow-color}, 0 8px 10px 1px #{$shadow-color}, 0 3px 14px 2px #{$shadow-color};
$shadow-5: 0 7px 8px -4px #{$shadow-color}, 0 12px 17px 2px #{$shadow-color}, 0 5px 22px 4px #{$shadow-color};
$shadow-6: 0 8px 10px -5px #{$shadow-color}, 0 16px 24px 2px #{$shadow-color}, 0 6px 30px 5px #{$shadow-color};

@property --shadow-color { syntax: "<color>"; inherits: true; initial-value: hsl(0 0 0 / 10%); }
