$shadow-strength: 1%;
$shadow-color: gray;
$shadow-color-umbra: color-mix(in srgb, #{$shadow-color} calc(#{$shadow-strength} + 18%), transparent);
$shadow-color-penumbra: color-mix(in srgb, #{$shadow-color} calc(#{$shadow-strength} + 12%), transparent);
$shadow-color-ambient: color-mix(in srgb, #{$shadow-color} calc(#{$shadow-strength} + 10%), transparent);
$shadow-1: 0 2px 1px -1px #{$shadow-color-umbra}, 0 1px 1px #{$shadow-color-penumbra}, 0 1px 3px #{$shadow-color-ambient};
$shadow-2: 0 3px 1px -2px #{$shadow-color-umbra}, 0 2px 2px #{$shadow-color-penumbra}, 0 1px 5px #{$shadow-color-ambient};
$shadow-3: 0 2px 4px -1px #{$shadow-color-umbra}, 0 4px 5px #{$shadow-color-penumbra}, 0 1px 10px #{$shadow-color-ambient};
$shadow-4: 0 3px 5px -1px #{$shadow-color-umbra}, 0 6px 10px #{$shadow-color-penumbra}, 0 1px 18px #{$shadow-color-ambient};
$shadow-5: 0 5px 5px -3px #{$shadow-color-umbra}, 0 8px 10px 1px #{$shadow-color-penumbra}, 0 3px 14px 2px #{$shadow-color-ambient};
$shadow-6: 0 7px 8px -4px #{$shadow-color-umbra}, 0 12px 17px 2px #{$shadow-color-penumbra}, 0 5px 22px 4px #{$shadow-color-ambient};
