$spacing: 0.25rem;
$size-1: calc(#{$spacing} * 1);
$size-2: calc(#{$spacing} * 2);
$size-3: calc(#{$spacing} * 3);
$size-4: calc(#{$spacing} * 4);
$size-5: calc(#{$spacing} * 5);
$size-6: calc(#{$spacing} * 6);
$size-7: calc(#{$spacing} * 7);
$size-8: calc(#{$spacing} * 8);
$size-9: calc(#{$spacing} * 9);
$size-10: calc(#{$spacing} * 10);
$size-11: calc(#{$spacing} * 11);
$size-12: calc(#{$spacing} * 12);
$size-05: calc(#{$spacing} * 0.5);
$size-heading: 36ch;
$size-content: 64ch;