$spacing: 0.25rem;
$size-1: calc(#{$spacing} * 1);
$size-2: calc(#{$spacing} * 2);
$size-3: calc(#{$spacing} * 3);
$size-4: calc(#{$spacing} * 4);
$size-5: calc(#{$spacing} * 5);
$size-6: calc(#{$spacing} * 6);
$size-7: calc(#{$spacing} * 7);
$size-8: calc(#{$spacing} * 8);
$size-9: calc(#{$spacing} * 9);
$size-10: calc(#{$spacing} * 10);
$size-12: calc(#{$spacing} * 12);
$size-14: calc(#{$spacing} * 14);
$size-16: calc(#{$spacing} * 16);
$size-18: calc(#{$spacing} * 18);
$size-20: calc(#{$spacing} * 20);
$size-24: calc(#{$spacing} * 24);
$size-28: calc(#{$spacing} * 28);
$size-32: calc(#{$spacing} * 32);
$size-36: calc(#{$spacing} * 36);
$size-40: calc(#{$spacing} * 40);
$size-50: calc(#{$spacing} * 50);
$size-60: calc(#{$spacing} * 60);
$size-70: calc(#{$spacing} * 70);
$size-80: calc(#{$spacing} * 80);
$size-90: calc(#{$spacing} * 90);
$size-100: calc(#{$spacing} * 100);
$size-120: calc(#{$spacing} * 120);
$size-05: calc(#{$spacing} * 0.5);
$size-heading: 36ch;
$size-content: 64ch;