$size-1: 0.125rem;
$size-2: 0.25rem;
$size-3: 0.5rem;
$size-4: 0.625rem;
$size-5: 0.75rem;
$size-6: 0.875rem;
$size-7: 1rem;
$size-8: 1.25rem;
$size-9: 1.5rem;
$size-10: 1.75rem;
$size-11: 2rem;
$size-12: 2.25rem;
$size-13: 2.5rem;
$size-14: 2.75rem;
$size-15: 3rem;
$size-16: 4rem;
$size-17: 5rem;
$size-18: 7.5rem;
$size-19: 10rem;
$size-20: 15rem;
$size-21: 20rem;
$size-22: 30rem;
$size-content-1: 24ch;
$size-content-2: 45ch;
$size-content-3: 68ch;
$size-heading-1: 20ch;
$size-heading-2: 28ch;
$size-heading-3: 36ch;