@mixin overflow-mask {
    $mask: linear-gradient(
        var(--overflow-mask-dir, to right),
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 20%,
        hsl(0 0% 0% / 1) 80%,
        hsl(0 0% 0% / 0)
    ) !default;
    -webkit-mask-image: $mask;
    mask-image: $mask;
}
