/* Root selector */
@import url("aspect-ratios.css");
@import url("borders.css");
@import url("easing.css");
@import url("fonts.css");
@import url("hues.css");
@import url("sizes.css");
@import url("z-layer.css");

/* Media dark */
@import url("shadows.dark.css");

/* Wild card selector */
@import url("colors.css");
@import url("shadows.css");
