:host {
	--radius-1: 0.125rem;
	--radius-2: 0.25rem;
	--radius-3: 0.5rem;
	--radius-4: 1rem;
	--radius-5: 2rem;
	--radius-6: 3rem;
	--radius-full: 1e5px;
	--radius-conditional-1: clamp(0px, calc(100cqi - 100%) * 1e5, var(--radius-1));
	--radius-conditional-2: clamp(0px, calc(100cqi - 100%) * 1e5, var(--radius-2));
	--radius-conditional-3: clamp(0px, calc(100cqi - 100%) * 1e5, var(--radius-3));
	--radius-conditional-4: clamp(0px, calc(100cqi - 100%) * 1e5, var(--radius-4));
	--radius-conditional-5: clamp(0px, calc(100cqi - 100%) * 1e5, var(--radius-5));
	--radius-conditional-6: clamp(0px, calc(100cqi - 100%) * 1e5, var(--radius-6));
}