:host {
    --color-0: oklch(99% .03 var(--color-hue, 0));
    --color-1: oklch(95% .06 var(--color-hue, 0));
    --color-2: oklch(90% .12 var(--color-hue, 0));
    --color-3: oklch(88% .14 var(--color-hue, 0));
    --color-4: oklch(82% .16 var(--color-hue, 0));
    --color-5: oklch(78% .17 var(--color-hue, 0));
    --color-6: oklch(68% .19 var(--color-hue, 0));
    --color-7: oklch(58% .21 var(--color-hue, 0));
    --color-8: oklch(52% .20 var(--color-hue, 0));
    --color-9: oklch(44% .18 var(--color-hue, 0));
    --color-10: oklch(35% .15 var(--color-hue, 0));
    --color-11: oklch(28% .12 var(--color-hue, 0));
    --color-12: oklch(20% .10 var(--color-hue, 0));
    --color-13: oklch(15% .07 var(--color-hue, 0));
    --color-14: oklch(11% .05 var(--color-hue, 0));
}
