:where(:root) {
    --hue-pink: 350;
    --hue-purple: 330;
    --hue-violet: 310;
    --hue-indigo: 290;
    --hue-blue: 260;
    --hue-cyan: 220;
    --hue-teal: 170;
    --hue-green: 140;
    --hue-lime: 125;
    --hue-yellow: 96;
    --hue-orange: 70;
    --hue-red: 25;
}
