* {
    --shadow-color-umbra: color-mix(in srgb, var(--shadow-color, gray) calc(var(--shadow-strength, 1%) + 18%), transparent);
    --shadow-color-penumbra: color-mix(in srgb, var(--shadow-color, gray) calc(var(--shadow-strength, 1%) + 12%), transparent);
    --shadow-color-ambient: color-mix(in srgb, var(--shadow-color, gray) calc(var(--shadow-strength, 1%) + 10%), transparent);
    --shadow-1: 0 2px 1px -1px var(--shadow-color-umbra), 0 1px 1px var(--shadow-color-penumbra), 0 1px 3px var(--shadow-color-ambient);
    --shadow-2: 0 3px 1px -2px var(--shadow-color-umbra), 0 2px 2px var(--shadow-color-penumbra), 0 1px 5px var(--shadow-color-ambient);
    --shadow-3: 0 2px 4px -1px var(--shadow-color-umbra), 0 4px 5px var(--shadow-color-penumbra), 0 1px 10px var(--shadow-color-ambient);
    --shadow-4: 0 3px 5px -1px var(--shadow-color-umbra), 0 6px 10px var(--shadow-color-penumbra), 0 1px 18px var(--shadow-color-ambient);
    --shadow-5: 0 5px 5px -3px var(--shadow-color-umbra), 0 8px 10px 1px var(--shadow-color-penumbra), 0 3px 14px 2px var(--shadow-color-ambient);
    --shadow-6: 0 7px 8px -4px var(--shadow-color-umbra), 0 12px 17px 2px var(--shadow-color-penumbra), 0 5px 22px 4px var(--shadow-color-ambient);
}