:where(:root) {
	--spacing: 0.25rem;
	--size-1: calc(var(--spacing) * 1);
	--size-2: calc(var(--spacing) * 2);
	--size-3: calc(var(--spacing) * 3);
	--size-4: calc(var(--spacing) * 4);
	--size-5: calc(var(--spacing) * 5);
	--size-6: calc(var(--spacing) * 6);
	--size-7: calc(var(--spacing) * 7);
	--size-8: calc(var(--spacing) * 8);
	--size-9: calc(var(--spacing) * 9);
	--size-10: calc(var(--spacing) * 10);
	--size-11: calc(var(--spacing) * 11);
	--size-12: calc(var(--spacing) * 12);
	--size-05: calc(var(--spacing) * 0.5);
	--size-heading: 36ch;
	--size-content: 64ch;
}