:where(.card) {
  background-color: var(--card-bg, color-mix(in oklab, var(--root-bg) 88%, white));
  color: var(--card-color, var(--root-fg));
  border-radius: var(--card-radius, 1rem);
  box-shadow: var(--card-shadow, 0 3px 5px hsla(0, 0%, 0%, 0.18));
  overflow: clip;
}

:where(.card-content,
.card:not(figure,
img,
picture,
video,
:has(.card-content,
> :is(img, picture, video):only-child)),
.card > figcaption) {
  padding-block: var(--card-padding, var(--card-py, 1.25rem));
  padding-inline: var(--card-padding, var(--card-px, 1.25rem));
}
:where(.card-content,
.card:not(figure,
img,
picture,
video,
:has(.card-content,
> :is(img, picture, video):only-child)),
.card > figcaption) > :first-child {
  margin-block-start: 0;
}

:where(.card > figcaption) {
  text-align: inherit;
  font-style: inherit;
}
