@use "sass:map";

@function getMq($name, $map: $mq-breakpoints) {
    @if not(map.has-key($map, $name)) {
        @debug "MQ breakpoint '#{$name}' is not found in #{$map}";
    }

    @return map.get($map, $name);
}

$mode-dark: "prefers-color-scheme: dark" !default;
$mode-light: "prefers-color-scheme: light" !default;

$motion-prefer: "prefers-reduced-motion: no-preference" !default;
$motion-reduce: "prefers-reduced-motion" !default;

$has-pointer: "any-pointer: fine" !default;
$has-touch: "any-pointer: coarse" !default;

$mq-breakpoints: (
    "xs": 420px,
    "sm": 640px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1440px,
    "xxl": 2200px,
) !default;

$xs: "min-width: #{getMq(xs)}" !default;
$sm: "min-width: #{getMq(sm)}" !default;
$md: "min-width: #{getMq(md)}" !default;
$lg: "min-width: #{getMq(lg)}" !default;
$xl: "min-width: #{getMq(xl)}" !default;
$xxl: "min-width: #{getMq(xxl)}" !default;

$xs-max: "max-width: #{(getMq(xs) - 1px)}" !default;
$sm-max: "max-width: #{(getMq(sm) - 1px)}" !default;
$md-max: "max-width: #{(getMq(md) - 1px)}" !default;
$lg-max: "max-width: #{(getMq(lg) - 1px)}" !default;
$xl-max: "max-width: #{(getMq(xl) - 1px)}" !default;
$xxl-max: "max-width: #{(getMq(xxl) - 1px)}" !default;
