@use "helper" as *;

@mixin dialog-keyframes {
    @keyframes dialog-show {
        from {
            opacity: 0;
            transform: var(--dialog-translate, translateY(#{$dialog-offset}));
        }
    }

    @keyframes dialog-hide {
        to {
            opacity: 0;
            transform: var(--dialog-translate, translateY(#{$dialog-offset}));
        }
    }
}
