@use "helper" as *;

/// @deprecated This mixin will be dropped in v2 of Fylgja and is not uses in the Dialog component since v1.4
/// @output keyframes for the dialog animation
@mixin dialog-keyframes {
    @warn "This mixin will be dropped in v2 of Fylgja and is not uses in the Dialog component since v1.4";

    @keyframes dialog-show {
        from {
            opacity: 0;
            transform: var(--dialog-translate, translateY(#{$dialog-offset}));
        }
    }

    @keyframes dialog-hide {
        to {
            opacity: 0;
            transform: var(--dialog-translate, translateY(#{$dialog-offset}));
        }
    }
}
