.auto-grid {
  --max-cols: 4;
  --cols: repeat(
  	auto-fill,
  	minmax(
  		clamp(100% / var(--max-cols) - var(--gap), var(--col-size), 100%),
  		1fr
  	)
  );
  --col-size: 14rem;
  --gap: 1em;
  display: grid;
  gap: var(--gap);
  grid-template-columns: var(--cols);
}
