.content-lazy {
  --content-size: 500px;
  content-visibility: auto;
  contain-intrinsic-block-size: var(--content-size);
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.divide-x,
.divide-y {
  --divide: 1px;
}

.divide-y > :not(template, [hidden]) + * {
  border-block-start-width: var(--divide);
}

.divide-x > :not(template, [hidden]) + * {
  border-inline-start-width: var(--divide);
}

.flow-unset > *,
.flow > :first-child {
  margin-block: 0;
}

.flow > * + * {
  margin-block: var(--flow, 1em) 0;
}

.gap {
  --gap: 1em;
  gap: var(--_gap, var(--gap));
}

.bg-gradient,
.border-gradient,
.text-gradient {
  --gradient-from: currentcolor;
  --gradient-to: transparent;
  --gradient-stops: var(--gradient-from), var(--gradient-to);
  --gradient-angle: 0deg;
  --gradient: linear-gradient(var(--gradient-angle), var(--gradient-stops));
}

.bg-gradient {
  background-image: var(--gradient);
}

.border-gradient {
  border-image-source: var(--gradient);
  border-image-slice: 1;
}

.text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--gradient);
  color: transparent;
}

.line-clamp {
  --line-count: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-count);
}

.list-none {
  list-style-type: none;
}
.list-none::-webkit-details-marker {
  display: none;
}

.overlay {
  --overlay-bg: hsl(0 0% 0% / 60%);
  --overlay-fg: #fff;
  border-image: 0 fill linear-gradient(0deg, var(--overlay-bg), transparent);
  color: var(--overlay-fg);
}

:where(.relative, .sticky, .absolute, .fixed) {
  --z: 1;
  --inset: auto;
  --inset-y: var(--inset);
  --inset-x: var(--inset);
  z-index: var(--z);
  inset-block: var(--inset-y);
  inset-inline: var(--inset-x);
}

.relative {
  --z: auto;
  position: relative;
}

.sticky {
  --inset-y: 0 auto;
  position: sticky;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.rounded {
  --rounded: 0.25rem;
  border-radius: var(--rounded);
}

.rounded-inherit {
  border-radius: inherit;
}

.round {
  aspect-ratio: 1;
  border-radius: 100000px;
  overflow: clip;
}

.scroll-x {
  --scroll-x: auto;
  overflow-x: var(--scroll-x);
  overscroll-behavior-x: contain;
}

.scroll-y {
  --scroll-y: auto;
  overflow-y: var(--scroll-y);
  overscroll-behavior-y: contain;
}

.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-thin {
  scrollbar-width: thin;
}
.scrollbar-thin::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

.snap {
  --snap-dir: x mandatory;
  --snap-stop: normal;
  --snap-align: start;
  scroll-snap-type: var(--snap-dir);
  scroll-snap-stop: var(--snap-stop);
  scroll-behavior: smooth;
}
.snap > * {
  scroll-snap-align: var(--snap-align);
}

:where([style*="--my:"]) {
  --my: 1em;
  margin-block: var(--_my, var(--my));
}

:where([style*="--mx:"]) {
  --mx: auto;
  margin-inline: var(--_mx, var(--mx));
}

:where([style*="--py:"]) {
  --py: 1em;
  padding-block: var(--_py, var(--py));
}

:where([style*="--px:"]) {
  --px: 1em;
  padding-inline: var(--_px, var(--px));
}

.w-full {
  inline-size: 100%;
}

.stroke-form-error {
  border-color: var(--form-error-color);
}

.bg-form-error {
  background-color: var(--form-error-color);
}

.color-form-error {
  color: var(--form-error-color);
}

.stretched-link::after {
  content: "";
  position: absolute;
  inset: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visible,
.peer-invalid\:invisible {
  visibility: visible;
}

.invisible,
.peer-invalid\:visible {
  visibility: hidden;
}

:user-invalid ~ .peer-invalid\:visible {
  visibility: visible;
}

:user-invalid ~ .peer-invalid\:invisible {
  visibility: hidden;
}

.auto-grid {
  --grid-max-cols: 4;
  --grid-col-size: 14rem;
  --gap: 1em;
  display: grid;
  gap: var(--_gap, var(--gap));
  grid-template-columns: repeat(auto-fill, minmax(clamp(100% / var(--grid-max-cols) - var(--_gap), var(--grid-col-size), 100%), 1fr));
}

.grid {
  --grid-cols: 1;
  --gap: 1em;
  --_cols: var(--grid-cols);
  display: grid;
  gap: var(--_gap, var(--gap));
  grid-template-columns: repeat(var(--_cols), minmax(0, 1fr));
}

.grid-flow {
  grid-auto-flow: column;
  grid-template-columns: none;
  grid-auto-columns: calc((100% - var(--_gap, var(--gap)) * (var(--_cols) - 1)) / var(--_cols));
}

:is(.flex, .flex-col) {
  --flex-dir: row;
  --flex-wrap: nowrap;
  display: flex;
  flex-flow: var(--_flexD, var(--flex-dir)) var(--_flexW, var(--flex-wrap));
}
:is(.flex, .flex-col) > * {
  --flex: 0 1 auto;
  flex: var(--_flexI, var(--flex));
}

.flex-col {
  --flex-dir: column;
}

.align {
  --align: normal space-between;
  --align-items: center legacy;
  --align-self: auto;
  place-content: var(--_alignC, var(--align));
  place-items: var(--_alignI, var(--align-items));
}
.align > * {
  place-self: var(--_alignS, var(--align-self));
}

.stack {
  display: grid;
}
.stack > *,
.stack > ::before,
.stack > ::after {
  grid-area: 1/1;
}

.sr-only {
  --_use: initial;
  position: var(--_use, absolute);
  block-size: var(--_use, 1px);
  inline-size: var(--_use, 1px);
  overflow: var(--_use, hidden);
  clip-path: var(--_use, inset(50%));
}

@media (--sm) {
  .sm\:hidden {
    display: none;
  }
  .sm\:block {
    display: block;
  }
  .gap:where([style*="--sm_gap:"]) {
    --_gap: var(--sm_gap);
  }
  :where([style*="--sm_my:"]) {
    --_my: var(--sm_my);
  }
  :where([style*="--sm_mx:"]) {
    --_mx: var(--sm_mx);
  }
  :where([style*="--sm_py:"]) {
    --_py: var(--sm_py);
  }
  :where([style*="--sm_px:"]) {
    --_px: var(--sm_px);
  }
  .grid:where([style*="--sm_grid-cols:"]) {
    --_cols: var(--sm_grid-cols);
  }
  :is(.flex, .flex-col):where([style*="--sm_flex-dir:"]) {
    --_flexD: var(--sm_flex-dir);
  }
  :is(.flex, .flex-col):where([style*="--sm_flex-wrap:"]) {
    --_flexW: var(--sm_--align-items);
  }
  :is(.flex, .flex-col) > :where([style*="--sm_flex:"]) {
    --_flexI: var(--sm_flex);
  }
  .align:where([style*="--sm_align:"]) {
    --_alignC: var(--sm_align);
  }
  .align:where([style*="--sm_align-items:"]) {
    --_alignI: var(--sm_--align-items);
  }
  .align > :where([style*="--sm_align-self:"]) {
    --_alignS: var(--sm_align-self);
  }
  .sm\:sr-only {
    --_use: initial;
  }
  .sm\:not-sr-only {
    --_use: /* */ ;
  }
}
@media (--md) {
  .md\:hidden {
    display: none;
  }
  .md\:block {
    display: block;
  }
  .gap:where([style*="--md_gap:"]) {
    --_gap: var(--md_gap);
  }
  :where([style*="--md_my:"]) {
    --_my: var(--md_my);
  }
  :where([style*="--md_mx:"]) {
    --_mx: var(--md_mx);
  }
  :where([style*="--md_py:"]) {
    --_py: var(--md_py);
  }
  :where([style*="--md_px:"]) {
    --_px: var(--md_px);
  }
  .grid:where([style*="--md_grid-cols:"]) {
    --_cols: var(--md_grid-cols);
  }
  :is(.flex, .flex-col):where([style*="--md_flex-dir:"]) {
    --_flexD: var(--md_flex-dir);
  }
  :is(.flex, .flex-col):where([style*="--md_flex-wrap:"]) {
    --_flexW: var(--md_--align-items);
  }
  :is(.flex, .flex-col) > :where([style*="--md_flex:"]) {
    --_flexI: var(--md_flex);
  }
  .align:where([style*="--md_align:"]) {
    --_alignC: var(--md_align);
  }
  .align:where([style*="--md_align-items:"]) {
    --_alignI: var(--md_--align-items);
  }
  .align > :where([style*="--md_align-self:"]) {
    --_alignS: var(--md_align-self);
  }
  .md\:sr-only {
    --_use: initial;
  }
  .md\:not-sr-only {
    --_use: /* */ ;
  }
}
@media (--lg) {
  .lg\:hidden {
    display: none;
  }
  .lg\:block {
    display: block;
  }
  .gap:where([style*="--lg_gap:"]) {
    --_gap: var(--lg_gap);
  }
  :where([style*="--lg_my:"]) {
    --_my: var(--lg_my);
  }
  :where([style*="--lg_mx:"]) {
    --_mx: var(--lg_mx);
  }
  :where([style*="--lg_py:"]) {
    --_py: var(--lg_py);
  }
  :where([style*="--lg_px:"]) {
    --_px: var(--lg_px);
  }
  .grid:where([style*="--lg_grid-cols:"]) {
    --_cols: var(--lg_grid-cols);
  }
  :is(.flex, .flex-col):where([style*="--lg_flex-dir:"]) {
    --_flexD: var(--lg_flex-dir);
  }
  :is(.flex, .flex-col):where([style*="--lg_flex-wrap:"]) {
    --_flexW: var(--lg_--align-items);
  }
  :is(.flex, .flex-col) > :where([style*="--lg_flex:"]) {
    --_flexI: var(--lg_flex);
  }
  .align:where([style*="--lg_align:"]) {
    --_alignC: var(--lg_align);
  }
  .align:where([style*="--lg_align-items:"]) {
    --_alignI: var(--lg_--align-items);
  }
  .align > :where([style*="--lg_align-self:"]) {
    --_alignS: var(--lg_align-self);
  }
  .lg\:sr-only {
    --_use: initial;
  }
  .lg\:not-sr-only {
    --_use: /* */ ;
  }
}
@media (--xl) {
  .xl\:hidden {
    display: none;
  }
  .xl\:block {
    display: block;
  }
  .gap:where([style*="--xl_gap:"]) {
    --_gap: var(--xl_gap);
  }
  :where([style*="--xl_my:"]) {
    --_my: var(--xl_my);
  }
  :where([style*="--xl_mx:"]) {
    --_mx: var(--xl_mx);
  }
  :where([style*="--xl_py:"]) {
    --_py: var(--xl_py);
  }
  :where([style*="--xl_px:"]) {
    --_px: var(--xl_px);
  }
  .grid:where([style*="--xl_grid-cols:"]) {
    --_cols: var(--xl_grid-cols);
  }
  :is(.flex, .flex-col):where([style*="--xl_flex-dir:"]) {
    --_flexD: var(--xl_flex-dir);
  }
  :is(.flex, .flex-col):where([style*="--xl_flex-wrap:"]) {
    --_flexW: var(--xl_--align-items);
  }
  :is(.flex, .flex-col) > :where([style*="--xl_flex:"]) {
    --_flexI: var(--xl_flex);
  }
  .align:where([style*="--xl_align:"]) {
    --_alignC: var(--xl_align);
  }
  .align:where([style*="--xl_align-items:"]) {
    --_alignI: var(--xl_--align-items);
  }
  .align > :where([style*="--xl_align-self:"]) {
    --_alignS: var(--xl_align-self);
  }
  .xl\:sr-only {
    --_use: initial;
  }
  .xl\:not-sr-only {
    --_use: /* */ ;
  }
}
@media (--xxl) {
  .xxl\:hidden {
    display: none;
  }
  .xxl\:block {
    display: block;
  }
  .gap:where([style*="--xxl_gap:"]) {
    --_gap: var(--xxl_gap);
  }
  :where([style*="--xxl_my:"]) {
    --_my: var(--xxl_my);
  }
  :where([style*="--xxl_mx:"]) {
    --_mx: var(--xxl_mx);
  }
  :where([style*="--xxl_py:"]) {
    --_py: var(--xxl_py);
  }
  :where([style*="--xxl_px:"]) {
    --_px: var(--xxl_px);
  }
  .grid:where([style*="--xxl_grid-cols:"]) {
    --_cols: var(--xxl_grid-cols);
  }
  :is(.flex, .flex-col):where([style*="--xxl_flex-dir:"]) {
    --_flexD: var(--xxl_flex-dir);
  }
  :is(.flex, .flex-col):where([style*="--xxl_flex-wrap:"]) {
    --_flexW: var(--xxl_--align-items);
  }
  :is(.flex, .flex-col) > :where([style*="--xxl_flex:"]) {
    --_flexI: var(--xxl_flex);
  }
  .align:where([style*="--xxl_align:"]) {
    --_alignC: var(--xxl_align);
  }
  .align:where([style*="--xxl_align-items:"]) {
    --_alignI: var(--xxl_--align-items);
  }
  .align > :where([style*="--xxl_align-self:"]) {
    --_alignS: var(--xxl_align-self);
  }
  .xxl\:sr-only {
    --_use: initial;
  }
  .xxl\:not-sr-only {
    --_use: /* */ ;
  }
}
