:host {
    --orange-0: #fff9e7;
    --orange-1: #ffe8c4;
    --orange-2: #ffd083;
    --orange-3: #ffc668;
    --orange-4: #ffaf38;
    --orange-5: #fba100;
    --orange-6: #e07d00;
    --orange-7: #c45800;
    --orange-8: #ad4700;
    --orange-9: #8d3400;
    --orange-10: #682100;
    --orange-11: #4b1600;
    --orange-12: #300500;
    --orange-13: #1c0300;
    --orange-14: #0e0100;
}
