:host {
    --violet-0: #fff7ff;
    --violet-1: #fbe4ff;
    --violet-2: #f6c8ff;
    --violet-3: #f4bdff;
    --violet-4: #e4a5ff;
    --violet-5: #d996ff;
    --violet-6: #bc70ee;
    --violet-7: #a049d4;
    --violet-8: #8c39bc;
    --violet-9: #70279a;
    --violet-10: #521673;
    --violet-11: #3b0d53;
    --violet-12: #240036;
    --violet-13: #140120;
    --violet-14: #090111;
}
