:root {
    --green-gray-0: #eefff2;
    --green-gray-1: #e0f5e5;
    --green-gray-2: #d0e4d4;
    --green-gray-3: #cadece;
    --green-gray-4: #b7cabb;
    --green-gray-5: #aabdae;
    --green-gray-6: #8b9e8f;
    --green-gray-7: #6e8072;
    --green-gray-8: #5d6e61;
    --green-gray-9: #46584a;
    --green-gray-10: #2f3f33;
    --green-gray-11: #1e2d22;
    --green-gray-12: #0b1a0f;
    --green-gray-13: #030f05;
    --green-gray-14: #000701;
}
