:root {
    --purple-0: #fff5ff;
    --purple-1: #ffe1ff;
    --purple-2: #ffc1ff;
    --purple-3: #ffb5ff;
    --purple-4: #fd9cf5;
    --purple-5: #f38ceb;
    --purple-6: #d665cf;
    --purple-7: #ba3bb4;
    --purple-8: #a32b9e;
    --purple-9: #851980;
    --purple-10: #62095e;
    --purple-11: #460544;
    --purple-12: #2c002b;
    --purple-13: #1a0019;
    --purple-14: #0d000c;
}
