.toast {
  display: flex;
  align-items: center;
  gap: 1ch;
  padding-block: var(--toast-py, 1ch);
  padding-inline: var(--toast-px, 1.5ch);
  border-radius: var(--toast-radius, 0.5rem);
  border: 2px solid var(--toast-stroke, var(--toast-style));
  box-shadow: var(--toast-shadow, var(--shadow-3));
  background: var(--toast-bg, var(--surface-color));
  color: var(--toast-color, var(--root-fg));
}

.toast {
  --_bg: oklch(from var(--toast-style) 100% calc(c / 2) h);
  --_fg: oklch(from var(--toast-style) 20% c h);
  --toast-bg: var(--_bg, var(--surface-color));
  --toast-color: var(--_fg, var(--root-fg));
}
@supports (color: light-dark(#fff, #000)) {
  .toast {
    --_bg: light-dark(
    	oklch(from var(--toast-style) 100% calc(c / 2) h),
    	oklch(from var(--toast-style) 15% calc(c / 2) h)
    );
    --_fg: light-dark(
    	oklch(from var(--toast-style) 20% c h),
    	oklch(from var(--toast-style) 90% c h)
    );
  }
}
.toast:where([data-type=info]) {
  --toast-style: var(--brand);
}
.toast:where([data-type=warning]) {
  --toast-style: #f09e2e;
}
.toast:where([data-type=error]) {
  --toast-style: #e00;
}
