:where(:root) {
    --layer-1: 1;
    --size-2: 0.5em;
    --size-4: 4em;
    --color-red-0: #fff5f5;
    --color-red-1: #ffe3e3;
    --color-red-2: #ffc9c9;
    --color-red-3: #ffa8a8;
    --color-red-4: #ff8787;
    --color-red-5: #ff6b6b;
    --color-red-6: #fa5252;
    --color-red-7: #f03e3e;
    --color-red-8: #e03131;
    --color-red-9: #c92a2a;
    --color-green: #0f0;
    --color-blue: #00f;
    --shadow-color: gray;
    --shadow-weight: 1%;
    --shadow-1: 0 2px 1px -1px hsl(var(--shadow-color) / calc(var(--shadow-weight) + 18%)), 0 1px 1px hsl(var(--shadow-color) / calc(var(--shadow-weight) + 12%)), 0 1px 3px hsl(var(--shadow-color) / calc(var(--shadow-weight) + 10%));
    --animate-spin: spin 1s linear infinite;
}

@media (prefers-color-scheme: dark) {
	:where(:root) {
    --shadow-color: hsl(220 40% 2%);
    --shadow-weight: 25%;

	}
}
@keyframes spin { to { rotate: 360deg }}