:host {
    --blue-gray-0-hsl: 187.81 100% 96.982%;
    --blue-gray-1-hsl: 215.77 56.216% 88.713%;
    --blue-gray-2-hsl: 215.77 25.649% 75.99%;
    --blue-gray-3-hsl: 215.77 17.679% 66.086%;
    --blue-gray-4-hsl: 215.76 14.728% 60.029%;
    --blue-gray-5-hsl: 215.76 13.567% 40.288%;
    --blue-gray-6-hsl: 215.77 20.682% 24.156%;
    --blue-gray-7-hsl: 215.78 32.285% 14.24%;
    --blue-gray-8-hsl: 222.1 79.437% 4.1552%;
    --blue-gray-9-hsl: 237.03 100% 0.6974%;
}
