:host {
    --blue-0-hsl: 184.68 100% 95.591%;
    --blue-1-hsl: 206.35 100% 85.97%;
    --blue-2-hsl: 208.06 100% 71.273%;
    --blue-3-hsl: 210.04 100% 60.608%;
    --blue-4-hsl: 210.35 100% 50%;
    --blue-5-hsl: 222.36 100% 48.646%;
    --blue-6-hsl: 238.65 100% 36.17%;
    --blue-7-hsl: 240 100% 24.773%;
    --blue-8-hsl: 250.16 100% 17.217%;
    --blue-9-hsl: 245.67 100% 4.8664%;
}
