:root {
    --blue-0-hsl: 189.2 100% 97.109%;
    --blue-1-hsl: 202.72 100% 92.247%;
    --blue-2-hsl: 206.7 100% 83.124%;
    --blue-3-hsl: 212.71 100% 76.59%;
    --blue-4-hsl: 215.03 100% 71.297%;
    --blue-5-hsl: 215.93 100% 64.954%;
    --blue-6-hsl: 217.32 100% 60.847%;
    --blue-7-hsl: 216.87 90.127% 53.96%;
    --blue-8-hsl: 216.49 83.218% 47.179%;
    --blue-9-hsl: 216.08 88.859% 41.791%;
    --blue-10-hsl: 216.73 100% 31.5%;
    --blue-11-hsl: 218.37 100% 25.734%;
    --blue-12-hsl: 225.64 100% 16.351%;
    --blue-13-hsl: 229.19 100% 9.1058%;
    --blue-14-hsl: 233.74 100% 3.8384%;
}
