:host {
    --blue-gray-0-hsl: 204 15% 94%;
    --blue-gray-1-hsl: 198 16% 84%;
    --blue-gray-2-hsl: 200 15% 73%;
    --blue-gray-3-hsl: 200 16% 62%;
    --blue-gray-4-hsl: 200 15% 54%;
    --blue-gray-5-hsl: 200 18% 46%;
    --blue-gray-6-hsl: 199 18% 40%;
    --blue-gray-7-hsl: 199 18% 33%;
    --blue-gray-8-hsl: 200 18% 26%;
    --blue-gray-9-hsl: 200 19% 18%;
}
