:host {
    --blue-0-hsl: 189.2 100% 97.109%;
    --blue-1-hsl: 202.72 100% 92.247%;
    --blue-2-hsl: 203.84 100% 84.368%;
    --blue-3-hsl: 204.65 100% 81.482%;
    --blue-4-hsl: 209.26 100% 76.109%;
    --blue-5-hsl: 211.62 100% 72.813%;
    --blue-6-hsl: 215.93 100% 64.954%;
    --blue-7-hsl: 216.87 90.127% 53.96%;
    --blue-8-hsl: 216.23 86.53% 45.615%;
    --blue-9-hsl: 215.49 100% 35.114%;
    --blue-10-hsl: 217.52 100% 26.357%;
    --blue-11-hsl: 218.83 100% 19.272%;
    --blue-12-hsl: 225.92 100% 12.92%;
    --blue-13-hsl: 228.48 100% 7.7927%;
    --blue-14-hsl: 231.51 100% 4.3073%;
}
