:root {
    --blue-gray-0-hsl: 187.81 100% 96.982%;
    --blue-gray-1-hsl: 212.23 100% 94.387%;
    --blue-gray-2-hsl: 215.77 45.518% 86.139%;
    --blue-gray-3-hsl: 215.77 25.649% 75.99%;
    --blue-gray-4-hsl: 215.77 19.19% 68.538%;
    --blue-gray-5-hsl: 215.76 15.243% 61.231%;
    --blue-gray-6-hsl: 215.76 12.955% 55.261%;
    --blue-gray-7-hsl: 215.76 11.488% 49.404%;
    --blue-gray-8-hsl: 215.76 12.703% 43.668%;
    --blue-gray-9-hsl: 215.76 13.883% 39.172%;
    --blue-gray-10-hsl: 215.76 17.584% 29.381%;
    --blue-gray-11-hsl: 215.77 21.442% 23.131%;
    --blue-gray-12-hsl: 215.79 36.477% 12.353%;
    --blue-gray-13-hsl: 217.12 64.625% 6.1868%;
    --blue-gray-14-hsl: 226.52 92.779% 2.4973%;
}
