:root {
    --blue-gray-hsl-0: 204 15% 94%;
    --blue-gray-hsl-1: 198 16% 84%;
    --blue-gray-hsl-2: 200 15% 73%;
    --blue-gray-hsl-3: 200 16% 62%;
    --blue-gray-hsl-4: 200 15% 54%;
    --blue-gray-hsl-5: 200 18% 46%;
    --blue-gray-hsl-6: 199 18% 40%;
    --blue-gray-hsl-7: 199 18% 33%;
    --blue-gray-hsl-8: 200 18% 26%;
    --blue-gray-hsl-9: 200 19% 18%;
}
