:host {
    --blue-0-hsl: 194.18 100% 97.859%;
    --blue-1-hsl: 211.96 100% 93.122%;
    --blue-2-hsl: 206.7 100% 83.124%;
    --blue-3-hsl: 209.39 100% 73.129%;
    --blue-4-hsl: 212.09 100% 67.604%;
    --blue-5-hsl: 214.3 100% 61.078%;
    --blue-6-hsl: 216.98 92.906% 55.376%;
    --blue-7-hsl: 216.23 86.53% 45.615%;
    --blue-8-hsl: 215.49 100% 35.114%;
    --blue-9-hsl: 216.4 93.476% 26.88%;
    --blue-10-hsl: 224.01 100% 16.931%;
    --blue-11-hsl: 224.27 100% 10.162%;
    --blue-12-hsl: 230.22 99.511% 3.1348%;
}
