:host {
    --blue-hsl-0: 205 100% 95%;
    --blue-hsl-1: 206 100% 91%;
    --blue-hsl-2: 206 100% 82%;
    --blue-hsl-3: 206 96% 72%;
    --blue-hsl-4: 207 91% 64%;
    --blue-hsl-5: 207 86% 57%;
    --blue-hsl-6: 208 80% 52%;
    --blue-hsl-7: 208 77% 48%;
    --blue-hsl-8: 209 77% 43%;
    --blue-hsl-9: 209 75% 38%;
}
