:root {
    --cyan-0-hsl: 180 100% 95.228%;
    --cyan-1-hsl: 186.17 100% 88.125%;
    --cyan-2-hsl: 188.78 100% 71.794%;
    --cyan-3-hsl: 191.67 96.911% 56.503%;
    --cyan-4-hsl: 191.93 100% 47.011%;
    --cyan-5-hsl: 194.72 100% 45.467%;
    --cyan-6-hsl: 196.34 100% 42.954%;
    --cyan-7-hsl: 198.18 100% 40.444%;
    --cyan-8-hsl: 198.9 100% 36.446%;
    --cyan-9-hsl: 199.43 100% 33.157%;
    --cyan-10-hsl: 201.27 100% 26.148%;
    --cyan-11-hsl: 202.37 100% 21.202%;
    --cyan-12-hsl: 207.19 100% 13.066%;
    --cyan-13-hsl: 210.18 100% 7.1059%;
    --cyan-14-hsl: 218.99 100% 2.727%;
}
