:host {
    --cyan-hsl-0: 185 81% 94%;
    --cyan-hsl-1: 185 84% 88%;
    --cyan-hsl-2: 186 77% 78%;
    --cyan-hsl-3: 187 74% 66%;
    --cyan-hsl-4: 187 69% 55%;
    --cyan-hsl-5: 188 72% 47%;
    --cyan-hsl-6: 187 80% 42%;
    --cyan-hsl-7: 188 83% 37%;
    --cyan-hsl-8: 189 86% 32%;
    --cyan-hsl-9: 189 85% 28%;
}
