:host {
    --cyan-0-hsl: 180 100% 96.639%;
    --cyan-1-hsl: 195.04 95.734% 90.35%;
    --cyan-2-hsl: 188.78 100% 71.794%;
    --cyan-3-hsl: 189.68 100% 50%;
    --cyan-4-hsl: 193.99 100% 50%;
    --cyan-5-hsl: 196.69 100% 47.189%;
    --cyan-6-hsl: 197.92 100% 41.1%;
    --cyan-7-hsl: 199.2 100% 35.804%;
    --cyan-8-hsl: 200.45 100% 29.306%;
    --cyan-9-hsl: 200.26 100% 21.701%;
    --cyan-10-hsl: 206.15 100% 13.611%;
    --cyan-11-hsl: 206.67 100% 8.0999%;
    --cyan-12-hsl: 214.94 100% 2.2355%;
}
