:root {
    --gray-0-hsl: 180 100% 95.97%;
    --gray-1-hsl: 205.6 54.647% 87.311%;
    --gray-2-hsl: 205.57 26.564% 74.62%;
    --gray-3-hsl: 205.54 18.65% 64.743%;
    --gray-4-hsl: 205.51 15.656% 58.703%;
    --gray-5-hsl: 205.38 15.488% 39.024%;
    --gray-6-hsl: 205.12 24.397% 22.94%;
    --gray-7-hsl: 204.67 40.406% 13.022%;
    --gray-8-hsl: 211.94 100% 3.5019%;
    --gray-9-hsl: 232.78 100% 0.6062%;
}
