:root {
    --gray-hsl-0: 210 17% 98%;
    --gray-hsl-1: 210 17% 95%;
    --gray-hsl-2: 210 16% 93%;
    --gray-hsl-3: 210 14% 89%;
    --gray-hsl-4: 210 14% 83%;
    --gray-hsl-5: 210 11% 71%;
    --gray-hsl-6: 210 7% 56%;
    --gray-hsl-7: 210 9% 31%;
    --gray-hsl-8: 210 10% 23%;
    --gray-hsl-9: 210 11% 15%;
}
