:root {
    --gray-0-hsl: 223.81 0.0005% 98.683%;
    --gray-1-hsl: 223.81 0.0001% 92.148%;
    --gray-2-hsl: 223.81 0% 84.42%;
    --gray-3-hsl: 223.81 0% 74.321%;
    --gray-4-hsl: 223.81 0% 66.909%;
    --gray-5-hsl: 223.81 0% 58.451%;
    --gray-6-hsl: 223.81 0% 49.053%;
    --gray-7-hsl: 223.81 0% 41.086%;
    --gray-8-hsl: 223.81 0% 32.307%;
    --gray-9-hsl: 223.81 0% 23.919%;
    --gray-10-hsl: 223.81 0% 12.222%;
    --gray-11-hsl: 223.81 0% 6.8692%;
    --gray-12-hsl: 223.81 0% 1.292%;
}
