:host {
    --gray-0-hsl: 223.81 0.0005% 98.683%;
    --gray-1-hsl: 223.81 0% 86.982%;
    --gray-2-hsl: 223.81 0% 74.321%;
    --gray-3-hsl: 223.81 0% 64.471%;
    --gray-4-hsl: 223.81 0% 58.451%;
    --gray-5-hsl: 223.81 0% 38.857%;
    --gray-6-hsl: 223.81 0% 22.901%;
    --gray-7-hsl: 223.81 0% 13.15%;
    --gray-8-hsl: 223.81 0% 2.8385%;
    --gray-9-hsl: 223.81 0% 0.1615%;
}
