:host {
    --gray-0-hsl: 223.81 0.0005% 98.683%;
    --gray-1-hsl: 223.81 0.0001% 93.448%;
    --gray-2-hsl: 223.81 0% 86.982%;
    --gray-3-hsl: 223.81 0% 84.42%;
    --gray-4-hsl: 223.81 0% 76.823%;
    --gray-5-hsl: 223.81 0% 71.834%;
    --gray-6-hsl: 223.81 0% 59.646%;
    --gray-7-hsl: 223.81 0% 47.9%;
    --gray-8-hsl: 223.81 0% 41.086%;
    --gray-9-hsl: 223.81 0% 32.307%;
    --gray-10-hsl: 223.81 0% 22.901%;
    --gray-11-hsl: 223.81 0% 15.988%;
    --gray-12-hsl: 223.81 0% 8.6104%;
    --gray-13-hsl: 223.81 0% 4.3484%;
    --gray-14-hsl: 223.81 0% 1.7197%;
}
