:root {
    --green-hsl-0: 131 67% 95%;
    --green-hsl-1: 128 76% 90%;
    --green-hsl-2: 128 71% 82%;
    --green-hsl-3: 129 68% 73%;
    --green-hsl-4: 130 61% 64%;
    --green-hsl-5: 130 57% 57%;
    --green-hsl-6: 131 50% 50%;
    --green-hsl-7: 131 53% 46%;
    --green-hsl-8: 131 54% 40%;
    --green-hsl-9: 132 53% 36%;
}
