:root {
    --green-0-hsl: 107.61 100% 96.686%;
    --green-1-hsl: 109.12 76.329% 90.222%;
    --green-2-hsl: 109.2 74.537% 79.898%;
    --green-3-hsl: 109.2 72.703% 75.836%;
    --green-4-hsl: 109.11 60.113% 66.508%;
    --green-5-hsl: 108.98 54.383% 60.466%;
    --green-6-hsl: 107.79 56.16% 44.904%;
    --green-7-hsl: 114.02 100% 29.213%;
    --green-8-hsl: 120 100% 25.35%;
    --green-9-hsl: 120 100% 20.239%;
    --green-10-hsl: 120 100% 14.627%;
    --green-11-hsl: 120 100% 10.397%;
    --green-12-hsl: 120 100% 6.0679%;
    --green-13-hsl: 120 100% 3.3457%;
    --green-14-hsl: 120 100% 1.4227%;
}
