:root {
    --green-0-hsl: 107.61 100% 96.686%;
    --green-1-hsl: 109.12 76.329% 90.222%;
    --green-2-hsl: 109.2 65.827% 77.341%;
    --green-3-hsl: 109.17 50.41% 65.695%;
    --green-4-hsl: 109 45.726% 56.391%;
    --green-5-hsl: 107.79 56.16% 44.904%;
    --green-6-hsl: 103.36 90.11% 33.799%;
    --green-7-hsl: 114.02 100% 29.213%;
    --green-8-hsl: 120 100% 25.957%;
    --green-9-hsl: 120 100% 23.366%;
    --green-10-hsl: 120 100% 17.76%;
    --green-11-hsl: 120 100% 14.074%;
    --green-12-hsl: 120 100% 7.8145%;
    --green-13-hsl: 120 100% 3.9216%;
    --green-14-hsl: 120 100% 1.1033%;
}
