:host {
    --green-0-hsl: 106.67 100% 94.872%;
    --green-1-hsl: 109.19 66.24% 81.284%;
    --green-2-hsl: 108.6 65.363% 59.706%;
    --green-3-hsl: 107.43 100% 38.914%;
    --green-4-hsl: 120 100% 36.786%;
    --green-5-hsl: 120 100% 25.274%;
    --green-6-hsl: 120 100% 15.948%;
    --green-7-hsl: 120 100% 9.7415%;
    --green-8-hsl: 120 100% 3.3753%;
    --green-9-hsl: 120 100% 0.2383%;
}
