:host {
    --green-gray-0-hsl: 135.08 100% 96.607%;
    --green-gray-1-hsl: 132.86 27.095% 85.541%;
    --green-gray-2-hsl: 132.97 14.068% 72.906%;
    --green-gray-3-hsl: 133.09 10.076% 63.078%;
    --green-gray-4-hsl: 133.18 8.5255% 57.071%;
    --green-gray-5-hsl: 133.63 9.1429% 37.522%;
    --green-gray-6-hsl: 134.45 14.779% 21.59%;
    --green-gray-7-hsl: 135.72 25.523% 11.819%;
    --green-gray-8-hsl: 133.8 84.966% 2.1974%;
    --green-gray-9-hsl: 120 100% 0.1638%;
}
