:root {
    --green-0-hsl: 108.68 100% 97.579%;
    --green-1-hsl: 109.09 49.821% 90.066%;
    --green-2-hsl: 109.2 65.827% 77.341%;
    --green-3-hsl: 108.92 60.682% 62.005%;
    --green-4-hsl: 108.12 55.041% 51.607%;
    --green-5-hsl: 103.06 100% 35.07%;
    --green-6-hsl: 111.28 100% 29.834%;
    --green-7-hsl: 120 100% 25.35%;
    --green-8-hsl: 120 100% 20.239%;
    --green-9-hsl: 120 100% 15.021%;
    --green-10-hsl: 120 100% 8.325%;
    --green-11-hsl: 120 100% 4.8551%;
    --green-12-hsl: 120 100% 1.0259%;
}
