:host {
    --green-gray-0-hsl: 135.08 100% 96.607%;
    --green-gray-1-hsl: 132.81 49.562% 91.995%;
    --green-gray-2-hsl: 132.88 22.903% 82.985%;
    --green-gray-3-hsl: 132.97 14.068% 72.906%;
    --green-gray-4-hsl: 133.06 10.855% 65.511%;
    --green-gray-5-hsl: 133.16 8.7986% 58.264%;
    --green-gray-6-hsl: 133.26 7.5742% 52.346%;
    --green-gray-7-hsl: 133.38 7.6132% 46.544%;
    --green-gray-8-hsl: 133.53 8.5011% 40.866%;
    --green-gray-9-hsl: 133.67 9.3793% 36.418%;
    --green-gray-10-hsl: 134.1 12.245% 26.745%;
    --green-gray-11-hsl: 134.54 15.42% 20.58%;
    --green-gray-12-hsl: 136.15 29.969% 9.9584%;
    --green-gray-13-hsl: 134.9 63.935% 4.0355%;
    --green-gray-14-hsl: 130.48 100% 1.0027%;
}
