:host {
    --indigo-0-hsl: 260.1 100% 98.803%;
    --indigo-1-hsl: 252.41 100% 95.583%;
    --indigo-2-hsl: 253.62 100% 89.612%;
    --indigo-3-hsl: 251.43 100% 83.96%;
    --indigo-4-hsl: 251.44 100% 79.553%;
    --indigo-5-hsl: 252.92 100% 74.647%;
    --indigo-6-hsl: 253.75 89.765% 69.491%;
    --indigo-7-hsl: 255.3 78.377% 63.384%;
    --indigo-8-hsl: 255.85 61.705% 56.371%;
    --indigo-9-hsl: 256.23 51.22% 50.774%;
    --indigo-10-hsl: 257.68 56.826% 38.568%;
    --indigo-11-hsl: 258.36 61.442% 30.557%;
    --indigo-12-hsl: 262.02 88.092% 16.549%;
    --indigo-13-hsl: 258.33 89.329% 9.115%;
    --indigo-14-hsl: 251.21 93.568% 3.692%;
}
