:host {
    --indigo-0-hsl: 255.17 100% 98.99%;
    --indigo-1-hsl: 247.18 100% 95.347%;
    --indigo-2-hsl: 253.62 100% 89.612%;
    --indigo-3-hsl: 255.83 100% 82.603%;
    --indigo-4-hsl: 255.59 100% 77.996%;
    --indigo-5-hsl: 255.82 100% 72.582%;
    --indigo-6-hsl: 255.08 81.444% 64.712%;
    --indigo-7-hsl: 256.12 59.836% 55.055%;
    --indigo-8-hsl: 257.05 53.512% 43.976%;
    --indigo-9-hsl: 256.28 52.487% 32.79%;
    --indigo-10-hsl: 261.15 81.537% 17.78%;
    --indigo-11-hsl: 257.99 77.634% 10.893%;
    --indigo-12-hsl: 249.77 82.798% 3.1935%;
}
