:root {
    --indigo-0-hsl: 260.1 100% 98.803%;
    --indigo-1-hsl: 252.41 100% 95.583%;
    --indigo-2-hsl: 255.46 100% 90.895%;
    --indigo-3-hsl: 256.26 100% 89.037%;
    --indigo-4-hsl: 254.57 100% 84.577%;
    --indigo-5-hsl: 253.83 100% 81.701%;
    --indigo-6-hsl: 252.92 100% 74.647%;
    --indigo-7-hsl: 255.3 78.377% 63.384%;
    --indigo-8-hsl: 256.12 59.836% 55.055%;
    --indigo-9-hsl: 257.05 53.512% 43.976%;
    --indigo-10-hsl: 257.83 58.922% 31.818%;
    --indigo-11-hsl: 257.83 62.391% 22.734%;
    --indigo-12-hsl: 260.46 85.651% 13.239%;
    --indigo-13-hsl: 256.6 85.275% 7.9713%;
    --indigo-14-hsl: 251.44 88.029% 4.2951%;
}
