:host {
    --indigo-0-hsl: 267.47 100% 98.406%;
    --indigo-1-hsl: 252.64 100% 91.423%;
    --indigo-2-hsl: 258.14 100% 81.827%;
    --indigo-3-hsl: 260.52 100% 74.214%;
    --indigo-4-hsl: 266.58 100% 66.037%;
    --indigo-5-hsl: 263.93 85.594% 51.259%;
    --indigo-6-hsl: 264.51 100% 34.286%;
    --indigo-7-hsl: 262.48 100% 23.368%;
    --indigo-8-hsl: 258.52 100% 15.894%;
    --indigo-9-hsl: 248.58 100% 4.3194%;
}
