:root {
    --indigo-hsl-0: 223 100% 97%;
    --indigo-hsl-1: 225 100% 93%;
    --indigo-hsl-2: 228 100% 87%;
    --indigo-hsl-3: 228 100% 78%;
    --indigo-hsl-4: 228 96% 72%;
    --indigo-hsl-5: 228 94% 67%;
    --indigo-hsl-6: 228 89% 63%;
    --indigo-hsl-7: 228 81% 59%;
    --indigo-hsl-8: 228 69% 55%;
    --indigo-hsl-9: 230 57% 50%;
}
