:root {
    --lime-hsl-0: 79 81% 94%;
    --lime-hsl-1: 80 83% 88%;
    --lime-hsl-2: 81 81% 80%;
    --lime-hsl-3: 82 75% 69%;
    --lime-hsl-4: 83 73% 59%;
    --lime-hsl-5: 84 69% 51%;
    --lime-hsl-6: 85 74% 45%;
    --lime-hsl-7: 85 79% 40%;
    --lime-hsl-8: 86 84% 36%;
    --lime-hsl-9: 85 84% 32%;
}
