:root {
    --lime-0-hsl: 82.94 100% 95.882%;
    --lime-1-hsl: 83.595 71.341% 88.009%;
    --lime-2-hsl: 81.784 70.55% 75.095%;
    --lime-3-hsl: 80.963 69.5% 69.94%;
    --lime-4-hsl: 79.536 60.32% 59.047%;
    --lime-5-hsl: 78.31 56.475% 51.59%;
    --lime-6-hsl: 75.704 100% 33.418%;
    --lime-7-hsl: 79.561 100% 27.464%;
    --lime-8-hsl: 80.785 100% 23.729%;
    --lime-9-hsl: 82.375 100% 18.838%;
    --lime-10-hsl: 84.34 100% 13.524%;
    --lime-11-hsl: 86.044 100% 9.5631%;
    --lime-12-hsl: 94.235 100% 5.4287%;
    --lime-13-hsl: 98.414 100% 2.9293%;
    --lime-14-hsl: 98.857 100% 1.2052%;
}
