:root {
    --lime-0-hsl: 82.94 100% 95.882%;
    --lime-1-hsl: 83.595 71.341% 88.009%;
    --lime-2-hsl: 81.693 63.781% 72.537%;
    --lime-3-hsl: 80.384 51.586% 59.672%;
    --lime-4-hsl: 78.418 52.375% 48.244%;
    --lime-5-hsl: 75.704 100% 33.418%;
    --lime-6-hsl: 77.503 100% 30.43%;
    --lime-7-hsl: 79.561 100% 27.464%;
    --lime-8-hsl: 80.431 100% 24.328%;
    --lime-9-hsl: 81.101 100% 21.848%;
    --lime-10-hsl: 83.455 100% 16.469%;
    --lime-11-hsl: 85.057 100% 12.979%;
    --lime-12-hsl: 92.655 100% 7.0202%;
    --lime-13-hsl: 98.994 100% 3.4379%;
    --lime-14-hsl: 100.86 100% 0.921%;
}
