:host {
    --lime-0-hsl: 84.526 92.987% 96.941%;
    --lime-1-hsl: 84.053 49.636% 88.62%;
    --lime-2-hsl: 81.693 63.781% 72.537%;
    --lime-3-hsl: 77.831 62.123% 52.017%;
    --lime-4-hsl: 75.169 100% 37.356%;
    --lime-5-hsl: 77.848 100% 33.172%;
    --lime-6-hsl: 79.266 100% 28.077%;
    --lime-7-hsl: 80.785 100% 23.729%;
    --lime-8-hsl: 82.375 100% 18.838%;
    --lime-9-hsl: 82.478 100% 13.985%;
    --lime-10-hsl: 91.031 100% 7.5221%;
    --lime-11-hsl: 93.911 100% 4.3571%;
    --lime-12-hsl: 96.212 100% 0.8849%;
}
