:host {
    --lime-0-hsl: 80.143 100% 93.502%;
    --lime-1-hsl: 82.411 63.83% 77.427%;
    --lime-2-hsl: 74.603 94.016% 42.494%;
    --lime-3-hsl: 78.503 100% 36.717%;
    --lime-4-hsl: 83.162 100% 34.105%;
    --lime-5-hsl: 86.946 100% 23.105%;
    --lime-6-hsl: 95.689 100% 14.123%;
    --lime-7-hsl: 103.56 100% 8.4085%;
    --lime-8-hsl: 120 100% 2.4758%;
    --lime-9-hsl: 120 100% 0.1756%;
}
