:root {
    --orange-0-hsl: 42.103 100% 96.603%;
    --orange-1-hsl: 31.445 92.604% 90.228%;
    --orange-2-hsl: 35.415 100% 74.347%;
    --orange-3-hsl: 38.848 100% 50%;
    --orange-4-hsl: 34.272 100% 48.581%;
    --orange-5-hsl: 29.726 100% 45.132%;
    --orange-6-hsl: 27.339 100% 39.104%;
    --orange-7-hsl: 24.755 100% 33.874%;
    --orange-8-hsl: 22.154 100% 27.576%;
    --orange-9-hsl: 22.664 100% 20.461%;
    --orange-10-hsl: 8.8228 100% 12.49%;
    --orange-11-hsl: 9.9449 100% 7.4532%;
    --orange-12-hsl: 8.2626 100% 1.9733%;
}
