:host {
    --orange-hsl-0: 34 100% 95%;
    --orange-hsl-1: 33 100% 90%;
    --orange-hsl-2: 33 100% 83%;
    --orange-hsl-3: 32 100% 74%;
    --orange-hsl-4: 31 100% 65%;
    --orange-hsl-5: 29 100% 58%;
    --orange-hsl-6: 27 98% 54%;
    --orange-hsl-7: 24 95% 50%;
    --orange-hsl-8: 21 90% 48%;
    --orange-hsl-9: 17 87% 46%;
}
