:root {
    --orange-0-hsl: 47.308 100% 92.357%;
    --orange-1-hsl: 35.186 100% 79.045%;
    --orange-2-hsl: 37.885 100% 50%;
    --orange-3-hsl: 28.785 100% 50%;
    --orange-4-hsl: 19.559 100% 50%;
    --orange-5-hsl: 10.214 100% 36.493%;
    --orange-6-hsl: 0 100% 25.322%;
    --orange-7-hsl: 360 100% 16.595%;
    --orange-8-hsl: 0 100% 8.8896%;
    --orange-9-hsl: 0 100% 1.3494%;
}
