:host {
    --orange-0-hsl: 44.914 100% 95.208%;
    --orange-1-hsl: 37.088 100% 88.348%;
    --orange-2-hsl: 35.415 100% 74.347%;
    --orange-3-hsl: 33.759 91.1% 63.417%;
    --orange-4-hsl: 38.286 98.503% 46.153%;
    --orange-5-hsl: 33.417 100% 43.847%;
    --orange-6-hsl: 30.391 100% 41.149%;
    --orange-7-hsl: 26.827 100% 38.437%;
    --orange-8-hsl: 25.378 100% 34.529%;
    --orange-9-hsl: 24.29 100% 31.342%;
    --orange-10-hsl: 20.38 100% 24.515%;
    --orange-11-hsl: 17.987 100% 19.787%;
    --orange-12-hsl: 6.17 100% 11.927%;
    --orange-13-hsl: 5.0774 100% 6.4307%;
    --orange-14-hsl: 3.3895 100% 2.3518%;
}
