:root {
    --orange-0-hsl: 44.914 100% 95.208%;
    --orange-1-hsl: 37.088 100% 88.348%;
    --orange-2-hsl: 37.296 100% 75.614%;
    --orange-3-hsl: 37.412 100% 70.457%;
    --orange-4-hsl: 35.98 100% 60.984%;
    --orange-5-hsl: 38.394 100% 49.207%;
    --orange-6-hsl: 33.417 100% 43.847%;
    --orange-7-hsl: 26.827 100% 38.437%;
    --orange-8-hsl: 24.755 100% 33.874%;
    --orange-9-hsl: 22.154 100% 27.576%;
    --orange-10-hsl: 19.258 100% 20.389%;
    --orange-11-hsl: 17.41 100% 14.757%;
    --orange-12-hsl: 6.7957 100% 9.3842%;
    --orange-13-hsl: 6.6397 100% 5.5129%;
    --orange-14-hsl: 5.6292 100% 2.806%;
}
