:root {
    --pink-hsl-0: 336 100% 97%;
    --pink-hsl-1: 336 100% 94%;
    --pink-hsl-2: 338 91% 88%;
    --pink-hsl-3: 339 90% 81%;
    --pink-hsl-4: 339 88% 74%;
    --pink-hsl-5: 339 82% 67%;
    --pink-hsl-6: 339 76% 59%;
    --pink-hsl-7: 339 67% 52%;
    --pink-hsl-8: 339 68% 45%;
    --pink-hsl-9: 339 69% 38%;
}
