:root {
    --pink-0-hsl: 309.86 100% 98.356%;
    --pink-1-hsl: 332.1 100% 94.09%;
    --pink-2-hsl: 323.51 100% 85.786%;
    --pink-3-hsl: 324.76 100% 76.664%;
    --pink-4-hsl: 327.23 100% 71.194%;
    --pink-5-hsl: 326.16 85.263% 61.652%;
    --pink-6-hsl: 325.07 63.007% 50.759%;
    --pink-7-hsl: 323.62 72.91% 40.989%;
    --pink-8-hsl: 321.7 92.277% 30.025%;
    --pink-9-hsl: 323.35 81.424% 23.647%;
    --pink-10-hsl: 325.09 100% 13.122%;
    --pink-11-hsl: 326.61 100% 7.8836%;
    --pink-12-hsl: 336.1 97.389% 2.2037%;
}
