:root {
    --pink-0-hsl: 302.15 100% 97.85%;
    --pink-1-hsl: 320.24 100% 93.683%;
    --pink-2-hsl: 323.51 100% 85.786%;
    --pink-3-hsl: 330.24 100% 79.51%;
    --pink-4-hsl: 329.55 83.813% 72.162%;
    --pink-5-hsl: 327.76 76.667% 64.044%;
    --pink-6-hsl: 326.54 67.531% 56.993%;
    --pink-7-hsl: 324.79 63.165% 49.271%;
    --pink-8-hsl: 324.03 69.542% 42.61%;
    --pink-9-hsl: 323.43 75.206% 37.437%;
    --pink-10-hsl: 321.42 100% 25.671%;
    --pink-11-hsl: 322.27 100% 20.738%;
    --pink-12-hsl: 325.73 100% 12.531%;
    --pink-13-hsl: 329.11 100% 6.8113%;
    --pink-14-hsl: 337.87 100% 2.5633%;
}
