:root {
    --pink-0-hsl: 300 100% 96.811%;
    --pink-1-hsl: 323.7 100% 88.249%;
    --pink-2-hsl: 322.35 100% 75.06%;
    --pink-3-hsl: 322.72 100% 64.342%;
    --pink-4-hsl: 318.79 100% 50%;
    --pink-5-hsl: 322.94 100% 38.096%;
    --pink-6-hsl: 326.23 100% 26.391%;
    --pink-7-hsl: 328.61 100% 17.309%;
    --pink-8-hsl: 338.54 100% 9.3529%;
    --pink-9-hsl: 350.12 100% 1.5278%;
}
