:root {
    --purple-0-hsl: 300 100% 98.475%;
    --purple-1-hsl: 307.66 77.996% 93.628%;
    --purple-2-hsl: 301.5 100% 86.578%;
    --purple-3-hsl: 304.69 96.044% 77.581%;
    --purple-4-hsl: 304.1 78.07% 69.519%;
    --purple-5-hsl: 303.39 65.331% 59.732%;
    --purple-6-hsl: 303.07 50.259% 49.425%;
    --purple-7-hsl: 302.75 58.303% 40.479%;
    --purple-8-hsl: 302.47 68.329% 30.871%;
    --purple-9-hsl: 302.7 64.663% 23.427%;
    --purple-10-hsl: 301.92 100% 11.561%;
    --purple-11-hsl: 302.44 96.991% 6.9875%;
    --purple-12-hsl: 304.53 90.411% 1.825%;
}
