:host {
    --purple-0-hsl: 300 100% 98.03%;
    --purple-1-hsl: 300 100% 94.051%;
    --purple-2-hsl: 301.5 100% 86.578%;
    --purple-3-hsl: 305.4 73.922% 77.541%;
    --purple-4-hsl: 304.81 62.213% 69.89%;
    --purple-5-hsl: 303.98 58.286% 61.884%;
    --purple-6-hsl: 303.52 52.141% 55.142%;
    --purple-7-hsl: 303 51.739% 48.069%;
    --purple-8-hsl: 302.83 56.177% 41.863%;
    --purple-9-hsl: 302.71 59.816% 37.072%;
    --purple-10-hsl: 302.27 77.227% 26.001%;
    --purple-11-hsl: 302.09 90.626% 19.444%;
    --purple-12-hsl: 301.84 100% 11.005%;
    --purple-13-hsl: 302.27 100% 5.871%;
    --purple-14-hsl: 303.64 100% 2.0408%;
}
