:host {
    --purple-0-hsl: 300 100% 98.03%;
    --purple-1-hsl: 300 100% 94.051%;
    --purple-2-hsl: 300 100% 87.845%;
    --purple-3-hsl: 300 100% 85.478%;
    --purple-4-hsl: 305.11 96.756% 80.215%;
    --purple-5-hsl: 304.79 80.743% 75.014%;
    --purple-6-hsl: 303.98 58.286% 61.884%;
    --purple-7-hsl: 303 51.739% 48.069%;
    --purple-8-hsl: 302.75 58.303% 40.479%;
    --purple-9-hsl: 302.47 68.329% 30.871%;
    --purple-10-hsl: 302.23 82.413% 20.974%;
    --purple-11-hsl: 302.27 87.194% 14.748%;
    --purple-12-hsl: 302.04 100% 8.6445%;
    --purple-13-hsl: 302.56 100% 5.0337%;
    --purple-14-hsl: 303.56 99.785% 2.4926%;
}
