:host {
    --purple-hsl-0: 280 67% 97%;
    --purple-hsl-1: 287 77% 92%;
    --purple-hsl-2: 288 86% 86%;
    --purple-hsl-3: 289 86% 78%;
    --purple-hsl-4: 288 83% 71%;
    --purple-hsl-5: 288 75% 64%;
    --purple-hsl-6: 288 67% 58%;
    --purple-hsl-7: 288 56% 52%;
    --purple-hsl-8: 288 54% 46%;
    --purple-hsl-9: 288 55% 40%;
}
