:root {
    --purple-0-hsl: 300 100% 97.117%;
    --purple-1-hsl: 301.21 100% 88.891%;
    --purple-2-hsl: 302.55 100% 76.667%;
    --purple-3-hsl: 303.17 88.864% 65.276%;
    --purple-4-hsl: 301.76 100% 47.661%;
    --purple-5-hsl: 301.52 100% 33.968%;
    --purple-6-hsl: 300.76 100% 23.163%;
    --purple-7-hsl: 300.33 100% 15.01%;
    --purple-8-hsl: 295.6 100% 8.3069%;
    --purple-9-hsl: 288.12 100% 1.3048%;
}
