:host {
    --red-0-hsl: 17.852 100% 97.821%;
    --red-1-hsl: 10.803 100% 93.054%;
    --red-2-hsl: 11.639 100% 83.004%;
    --red-3-hsl: 9.3293 100% 73.026%;
    --red-4-hsl: 7.6851 100% 67.499%;
    --red-5-hsl: 5.8715 100% 60.888%;
    --red-6-hsl: 5.2546 74.393% 50.303%;
    --red-7-hsl: 4.7514 87.826% 40.408%;
    --red-8-hsl: 0.7251 100% 31.019%;
    --red-9-hsl: 3.6202 94.844% 23.662%;
    --red-10-hsl: 0 100% 14.332%;
    --red-11-hsl: 0 100% 8.6428%;
    --red-12-hsl: 0.4867 99.91% 2.5073%;
}
