:root {
    --red-0-hsl: 20.974 100% 95.508%;
    --red-1-hsl: 12.114 100% 85.853%;
    --red-2-hsl: 9.2322 100% 71.167%;
    --red-3-hsl: 6.3012 100% 60.302%;
    --red-4-hsl: 0 100% 50%;
    --red-5-hsl: 0 100% 41.345%;
    --red-6-hsl: 0 100% 29.087%;
    --red-7-hsl: 0 100% 19.279%;
    --red-8-hsl: 0 100% 10.999%;
    --red-9-hsl: 360 100% 2.1459%;
}
