:root {
    --red-0-hsl: 13.173 100% 97.384%;
    --red-1-hsl: 8.8377 100% 92.82%;
    --red-2-hsl: 6.4568 100% 84.394%;
    --red-3-hsl: 4.4813 100% 78.139%;
    --red-4-hsl: 3.2226 100% 73.175%;
    --red-5-hsl: 1.4993 91.206% 65.983%;
    --red-6-hsl: 0.0161 79.022% 59.535%;
    --red-7-hsl: 357.35 71.038% 51.397%;
    --red-8-hsl: 355.92 74.684% 44.288%;
    --red-9-hsl: 354.57 81.871% 38.679%;
    --red-10-hsl: 354.1 100% 27.669%;
    --red-11-hsl: 357.01 100% 22.423%;
    --red-12-hsl: 0 100% 13.73%;
    --red-13-hsl: 360 100% 7.5446%;
    --red-14-hsl: 0 100% 2.9708%;
}
