:root {
    --red-0-hsl: 13.173 100% 97.384%;
    --red-1-hsl: 8.8377 100% 92.82%;
    --red-2-hsl: 7.1314 100% 85.638%;
    --red-3-hsl: 6.3437 100% 83.023%;
    --red-4-hsl: 4.603 100% 77.957%;
    --red-5-hsl: 3.6533 100% 74.842%;
    --red-6-hsl: 1.4993 91.206% 65.983%;
    --red-7-hsl: 357.35 71.038% 51.397%;
    --red-8-hsl: 355.03 78.979% 42.44%;
    --red-9-hsl: 351.78 100% 31.042%;
    --red-10-hsl: 355.49 100% 23.072%;
    --red-11-hsl: 356.83 100% 16.787%;
    --red-12-hsl: 0 100% 10.857%;
    --red-13-hsl: 359.84 100% 6.4957%;
    --red-14-hsl: 359.63 100% 3.4618%;
}
