:root {
    --red-gray-0-hsl: 0.7288 100% 97.867%;
    --red-gray-1-hsl: 0.3031 100% 95.265%;
    --red-gray-2-hsl: 0.2294 39.958% 86.821%;
    --red-gray-3-hsl: 0.1779 21.957% 76.649%;
    --red-gray-4-hsl: 0.1314 16.272% 69.179%;
    --red-gray-5-hsl: 0.0758 12.834% 61.853%;
    --red-gray-6-hsl: 0.0205 10.852% 55.864%;
    --red-gray-7-hsl: 359.95 9.3629% 49.985%;
    --red-gray-8-hsl: 359.88 10.322% 44.222%;
    --red-gray-9-hsl: 359.8 11.248% 39.703%;
    --red-gray-10-hsl: 359.56 14.134% 29.852%;
    --red-gray-11-hsl: 359.32 17.113% 23.553%;
    --red-gray-12-hsl: 358.48 28.558% 12.655%;
    --red-gray-13-hsl: 357.44 51.916% 6.26%;
    --red-gray-14-hsl: 356.8 83.532% 2.1908%;
}
