:host {
    --red-gray-0-hsl: 0.7288 100% 97.867%;
    --red-gray-1-hsl: 0.2407 49.993% 89.4%;
    --red-gray-2-hsl: 0.1779 21.957% 76.649%;
    --red-gray-3-hsl: 0.114 14.953% 66.72%;
    --red-gray-4-hsl: 0.0655 12.388% 60.646%;
    --red-gray-5-hsl: 359.82 11.001% 40.825%;
    --red-gray-6-hsl: 359.37 16.528% 24.587%;
    --red-gray-7-hsl: 358.7 25.386% 14.568%;
    --red-gray-8-hsl: 357.35 67.487% 4.0179%;
    --red-gray-9-hsl: 359.59 100% 0.4615%;
}
