:host {
    --red-gray-0-hsl: 0.7288 100% 97.867%;
    --red-gray-1-hsl: 0.2619 99.327% 94.6%;
    --red-gray-2-hsl: 0.2294 39.958% 86.821%;
    --red-gray-3-hsl: 0.1779 21.957% 76.649%;
    --red-gray-4-hsl: 0.1314 16.272% 69.179%;
    --red-gray-5-hsl: 0.0655 12.388% 60.646%;
    --red-gray-6-hsl: 359.97 9.6262% 51.152%;
    --red-gray-7-hsl: 359.86 10.538% 43.085%;
    --red-gray-8-hsl: 359.68 12.681% 34.173%;
    --red-gray-9-hsl: 359.41 15.983% 25.627%;
    --red-gray-10-hsl: 358.6 26.872% 13.608%;
    --red-gray-11-hsl: 357.65 42.208% 8.0188%;
    --red-gray-12-hsl: 356.8 83.532% 2.1908%;
}
