:root {
    --red-hsl-0: 0 100% 98%;
    --red-hsl-1: 0 100% 95%;
    --red-hsl-2: 0 100% 89%;
    --red-hsl-3: 0 100% 83%;
    --red-hsl-4: 0 100% 77%;
    --red-hsl-5: 0 100% 71%;
    --red-hsl-6: 0 94% 65%;
    --red-hsl-7: 0 86% 59%;
    --red-hsl-8: 0 74% 54%;
    --red-hsl-9: 0 65% 48%;
}
