:host {
    --teal-0-hsl: 162.67 100% 95.686%;
    --teal-1-hsl: 157.39 90.546% 88.554%;
    --teal-2-hsl: 160.36 89.201% 74.426%;
    --teal-3-hsl: 161.89 87.959% 67.704%;
    --teal-4-hsl: 166 83.168% 48.94%;
    --teal-5-hsl: 166.06 100% 42.546%;
    --teal-6-hsl: 162.91 100% 36.718%;
    --teal-7-hsl: 158.97 100% 30.936%;
    --teal-8-hsl: 157.75 100% 26.939%;
    --teal-9-hsl: 156.2 100% 21.603%;
    --teal-10-hsl: 154.34 100% 15.696%;
    --teal-11-hsl: 152.81 100% 11.206%;
    --teal-12-hsl: 145.58 100% 6.6786%;
    --teal-13-hsl: 140.99 100% 3.7461%;
    --teal-14-hsl: 139.08 100% 1.6524%;
}
