:host {
    --teal-0-hsl: 165.82 100% 93.055%;
    --teal-1-hsl: 159.29 80.758% 77.464%;
    --teal-2-hsl: 164.52 100% 44.854%;
    --teal-3-hsl: 160.02 100% 41.087%;
    --teal-4-hsl: 155.32 100% 39.366%;
    --teal-5-hsl: 151.66 100% 27.332%;
    --teal-6-hsl: 143.68 100% 17.639%;
    --teal-7-hsl: 137.28 100% 10.967%;
    --teal-8-hsl: 120 100% 4.2766%;
    --teal-9-hsl: 120 100% 0.3381%;
}
