:root {
    --teal-0-hsl: 162.67 100% 95.686%;
    --teal-1-hsl: 157.39 90.546% 88.554%;
    --teal-2-hsl: 160.52 80.874% 71.755%;
    --teal-3-hsl: 163.14 67.313% 55.996%;
    --teal-4-hsl: 166.09 100% 39.618%;
    --teal-5-hsl: 162.91 100% 36.718%;
    --teal-6-hsl: 161.06 100% 33.822%;
    --teal-7-hsl: 158.97 100% 30.936%;
    --teal-8-hsl: 158.11 100% 27.556%;
    --teal-9-hsl: 157.45 100% 24.852%;
    --teal-10-hsl: 155.16 100% 19.014%;
    --teal-11-hsl: 153.65 100% 15.132%;
    --teal-12-hsl: 146.81 100% 8.5702%;
    --teal-13-hsl: 140.78 100% 4.3836%;
    --teal-14-hsl: 137.16 100% 1.2956%;
}
