:host {
    --teal-hsl-0: 161 79% 95%;
    --teal-hsl-1: 160 85% 87%;
    --teal-hsl-2: 162 78% 77%;
    --teal-hsl-3: 162 72% 65%;
    --teal-hsl-4: 162 68% 54%;
    --teal-hsl-5: 162 73% 46%;
    --teal-hsl-6: 162 82% 40%;
    --teal-hsl-7: 162 87% 35%;
    --teal-hsl-8: 162 88% 30%;
    --teal-hsl-9: 162 88% 27%;
}
