:host {
    --violet-0-hsl: 300 100% 98.361%;
    --violet-1-hsl: 290.97 100% 94.712%;
    --violet-2-hsl: 285.21 100% 87.907%;
    --violet-3-hsl: 275.35 100% 82.014%;
    --violet-4-hsl: 275.17 84.699% 75.482%;
    --violet-5-hsl: 276.03 78.818% 68.727%;
    --violet-6-hsl: 276.59 68.961% 62.47%;
    --violet-7-hsl: 277.32 62.062% 56.032%;
    --violet-8-hsl: 277.6 51.899% 49.461%;
    --violet-9-hsl: 277.8 54.403% 44.29%;
    --violet-10-hsl: 278.61 64.487% 32.838%;
    --violet-11-hsl: 279.04 71.435% 25.576%;
    --violet-12-hsl: 279.67 100% 13.566%;
    --violet-13-hsl: 277.18 98.95% 7.4529%;
    --violet-14-hsl: 268.81 99.343% 2.9077%;
}
