:root {
    --violet-0-hsl: 300 100% 98.695%;
    --violet-1-hsl: 273.96 100% 94.766%;
    --violet-2-hsl: 285.21 100% 87.907%;
    --violet-3-hsl: 282.3 100% 80.08%;
    --violet-4-hsl: 278.23 100% 75.205%;
    --violet-5-hsl: 276.76 90.884% 68.015%;
    --violet-6-hsl: 277.21 64.01% 57.351%;
    --violet-7-hsl: 277.74 53.345% 48.144%;
    --violet-8-hsl: 278.24 59.7% 37.88%;
    --violet-9-hsl: 277.82 58.003% 28.363%;
    --violet-10-hsl: 280.04 98.146% 14.254%;
    --violet-11-hsl: 277.81 87.168% 9.005%;
    --violet-12-hsl: 268.64 86.893% 2.5478%;
}
