:root {
    --violet-0-hsl: 300 100% 97.671%;
    --violet-1-hsl: 285.23 100% 89.993%;
    --violet-2-hsl: 285.36 100% 79.003%;
    --violet-3-hsl: 282.76 100% 70.548%;
    --violet-4-hsl: 285.71 100% 59.936%;
    --violet-5-hsl: 281.65 100% 41.024%;
    --violet-6-hsl: 278.65 100% 29.593%;
    --violet-7-hsl: 276.69 100% 19.888%;
    --violet-8-hsl: 268.86 100% 12.718%;
    --violet-9-hsl: 254.7 100% 3.0181%;
}
