:root {
    --violet-hsl-0: 252 100% 97%;
    --violet-hsl-1: 257 100% 93%;
    --violet-hsl-2: 256 100% 88%;
    --violet-hsl-3: 255 94% 79%;
    --violet-hsl-4: 255 93% 72%;
    --violet-hsl-5: 255 91% 67%;
    --violet-hsl-6: 255 86% 63%;
    --violet-hsl-7: 255 78% 60%;
    --violet-hsl-8: 255 67% 55%;
    --violet-hsl-9: 255 53% 50%;
}
