:root {
    --yellow-hsl-0: 50 100% 93%;
    --yellow-hsl-1: 49 100% 88%;
    --yellow-hsl-2: 49 100% 80%;
    --yellow-hsl-3: 48 100% 70%;
    --yellow-hsl-4: 47 100% 62%;
    --yellow-hsl-5: 45 97% 54%;
    --yellow-hsl-6: 42 96% 50%;
    --yellow-hsl-7: 39 100% 48%;
    --yellow-hsl-8: 35 100% 47%;
    --yellow-hsl-9: 31 100% 45%;
}
