:host {
    --yellow-0-hsl: 57.535 100% 92.142%;
    --yellow-1-hsl: 51.474 72.018% 74.995%;
    --yellow-2-hsl: 51.592 100% 43.279%;
    --yellow-3-hsl: 47.697 100% 39.834%;
    --yellow-4-hsl: 43.013 100% 38.612%;
    --yellow-5-hsl: 39.335 100% 27.066%;
    --yellow-6-hsl: 30.96 100% 17.926%;
    --yellow-7-hsl: 24.88 100% 11.321%;
    --yellow-8-hsl: 1.306 100% 4.9999%;
    --yellow-9-hsl: 4.97 100% 0.436%;
}
