:host {
    --yellow-0-hsl: 54.422 91.005% 96.385%;
    --yellow-1-hsl: 54.076 52.957% 87.54%;
    --yellow-2-hsl: 53.155 69.743% 69.067%;
    --yellow-3-hsl: 53.913 100% 41.903%;
    --yellow-4-hsl: 52.316 100% 38.708%;
    --yellow-5-hsl: 50.161 100% 34.963%;
    --yellow-6-hsl: 49.008 100% 29.869%;
    --yellow-7-hsl: 47.751 100% 25.506%;
    --yellow-8-hsl: 46.491 100% 20.459%;
    --yellow-9-hsl: 46.759 100% 15.132%;
    --yellow-10-hsl: 40.092 100% 8.6147%;
    --yellow-11-hsl: 39.591 100% 4.9751%;
    --yellow-12-hsl: 35.843 100% 1.0459%;
}
