:host {
    --yellow-0-hsl: 52.364 96.118% 96.456%;
    --yellow-1-hsl: 52.071 55.411% 87.677%;
    --yellow-2-hsl: 51.414 72.795% 69.409%;
    --yellow-3-hsl: 52.547 100% 42.631%;
    --yellow-4-hsl: 50.751 100% 39.484%;
    --yellow-5-hsl: 48.368 100% 35.772%;
    --yellow-6-hsl: 47.101 100% 30.608%;
    --yellow-7-hsl: 45.729 100% 26.179%;
    --yellow-8-hsl: 44.354 100% 21.033%;
    --yellow-9-hsl: 44.614 100% 15.56%;
    --yellow-10-hsl: 37.424 100% 8.9301%;
    --yellow-11-hsl: 36.77 100% 5.1758%;
    --yellow-12-hsl: 32.554 100% 1.1081%;
}
