:root {
    --yellow-0-hsl: 62.744 100% 92.529%;
    --yellow-1-hsl: 62.153 59.637% 74.142%;
    --yellow-2-hsl: 59.829 100% 39.054%;
    --yellow-3-hsl: 58.29 100% 34.868%;
    --yellow-4-hsl: 55.841 100% 32.82%;
    --yellow-5-hsl: 53.762 100% 22.512%;
    --yellow-6-hsl: 48.442 100% 14.307%;
    --yellow-7-hsl: 44.583 100% 8.7357%;
    --yellow-8-hsl: 21.904 100% 3.1738%;
    --yellow-9-hsl: 30.409 100% 0.2025%;
}
