*, :before, :after {
  --color-0: oklch(99% calc(.03 * var(--chroma, 1)) var(--hue, 0));
  --color-1: oklch(95% calc(.06 * var(--chroma, 1)) var(--hue, 0));
  --color-2: oklch(90% calc(.12 * var(--chroma, 1)) var(--hue, 0));
  --color-3: oklch(88% calc(.14 * var(--chroma, 1)) var(--hue, 0));
  --color-4: oklch(82% calc(.16 * var(--chroma, 1)) var(--hue, 0));
  --color-5: oklch(78% calc(.17 * var(--chroma, 1)) var(--hue, 0));
  --color-6: oklch(68% calc(.19 * var(--chroma, 1)) var(--hue, 0));
  --color-7: oklch(58% calc(.21 * var(--chroma, 1)) var(--hue, 0));
  --color-8: oklch(52% calc(.2 * var(--chroma, 1)) var(--hue, 0));
  --color-9: oklch(44% calc(.18 * var(--chroma, 1)) var(--hue, 0));
  --color-10: oklch(35% calc(.15 * var(--chroma, 1)) var(--hue, 0));
  --color-11: oklch(28% calc(.12 * var(--chroma, 1)) var(--hue, 0));
  --color-12: oklch(20% calc(.1 * var(--chroma, 1)) var(--hue, 0));
  --color-13: oklch(15% calc(.07 * var(--chroma, 1)) var(--hue, 0));
  --color-14: oklch(11% calc(.05 * var(--chroma, 1)) var(--hue, 0));
}

:where(:root) {
  --hue-pink: 350;
  --hue-purple: 330;
  --hue-violet: 310;
  --hue-indigo: 290;
  --hue-blue: 260;
  --hue-cyan: 220;
  --hue-teal: 170;
  --hue-green: 140;
  --hue-lime: 125;
  --hue-yellow: 96;
  --hue-orange: 70;
  --hue-red: 25;
}

@media (prefers-color-scheme: dark) {
  :where(:root) {
    --shadow-color: #030407;
    --shadow-strength: 25%;
  }
}
