:root {
    --red-gray-0-hsl: 0.7288 100% 97.867%;
    --red-gray-1-hsl: 0.3031 100% 95.265%;
    --red-gray-2-hsl: 0.2407 49.993% 89.4%;
    --red-gray-3-hsl: 0.2294 39.958% 86.821%;
    --red-gray-4-hsl: 0.1918 24.786% 79.17%;
    --red-gray-5-hsl: 0.1633 19.688% 74.143%;
    --red-gray-6-hsl: 0.0758 12.834% 61.853%;
    --red-gray-7-hsl: 359.95 9.3629% 49.985%;
    --red-gray-8-hsl: 359.86 10.538% 43.085%;
    --red-gray-9-hsl: 359.68 12.681% 34.173%;
    --red-gray-10-hsl: 359.37 16.528% 24.587%;
    --red-gray-11-hsl: 358.96 21.815% 17.497%;
    --red-gray-12-hsl: 358.05 35.335% 9.8478%;
    --red-gray-13-hsl: 357.44 57.052% 5.4601%;
    --red-gray-14-hsl: 357.07 78.095% 2.7603%;
}
