:root {
    --violet-0-hsl: 300 100% 98.361%;
    --violet-1-hsl: 290.97 100% 94.712%;
    --violet-2-hsl: 290.74 100% 89.18%;
    --violet-3-hsl: 289.83 100% 87.046%;
    --violet-4-hsl: 281.87 100% 82.334%;
    --violet-5-hsl: 278.1 100% 79.338%;
    --violet-6-hsl: 276.03 78.818% 68.727%;
    --violet-7-hsl: 277.32 62.062% 56.032%;
    --violet-8-hsl: 277.74 53.345% 48.144%;
    --violet-9-hsl: 278.24 59.7% 37.88%;
    --violet-10-hsl: 278.7 67.426% 26.903%;
    --violet-11-hsl: 278.7 72.173% 19.016%;
    --violet-12-hsl: 279.03 98.579% 10.76%;
    --violet-13-hsl: 276.28 93.422% 6.5557%;
    --violet-14-hsl: 270.42 93.598% 3.4588%;
}
