:root {
    --item-spacer: 0 0 1em;
    --color-theme: #1565c1;
    --color-theme-fade: rgba(21, 101, 193, 0.2);
    --color-on-theme: #fff;
    --color-bg: #fff;
    --color-text: rgba(0, 0, 0, 0.87);
    --color-text-alt: rgba(0, 0, 0, 0.68);
    --color-text-muted: rgba(0, 0, 0, 0.56);
    --color-success: #00e676;
    --color-warning: #ffab40;
    --color-error: #b00020;
    --selection-bg: rgba(21, 101, 193, 0.2);
    --selection-color: inherit;
    --family-main: system-ui, -apple-system, Helvetica, Arial, sans-serif,
        Apple Color Emoji, Segoe UI Emoji;
    --family-header: system-ui, -apple-system, Helvetica, Arial, sans-serif,
        Apple Color Emoji, Segoe UI Emoji;
    --font-size: 1rem;
    --line-height: 1.5;
    --font-weight: normal;
    color-scheme: var(--color-scheme, light);
    accent-color: var(--color-theme);
}
html {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    background-color: var(--color-bg, #fff);
    color: var(--color-text);
    font-family: var(--family-main);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    -webkit-text-size-adjust: 100%;
}
::selection {
    text-shadow: none;
    background-color: var(--selection-bg, rgba(21, 101, 193, 0.2));
    color: var(--selection-color, inherit);
}
p {
    margin: var(--item-spacer, 0 0 1em);
}
:any-link {
    color: var(--link-color, var(--color-theme));
    text-decoration: none;
}
:any-link:hover,
:any-link:focus {
    color: var(--link-color-focus, var(--color-theme));
    text-decoration: underline;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin: var(--h-margin, 1.33em 0 0.67em);
    font-family: var(--h-family, var(--family-header));
    font-size: var(--h-font-size, 1em);
    line-height: var(--h-line-height, inherit);
    font-weight: var(--h-font-weight, normal);
}
h6:first-child,
.h6:first-child,
h5:first-child,
.h5:first-child,
h4:first-child,
.h4:first-child,
h3:first-child,
.h3:first-child,
h2:first-child,
.h2:first-child,
h1:first-child,
.h1:first-child {
    margin-block-start: 0;
}
h1,
.h1 {
    --h-margin: 0 0 0.45em;
    --h-font-size: 2.2em;
}
h2,
.h2 {
    --h-margin: 1.33em 0 0.55em;
    --h-font-size: 1.6em;
}
h3,
.h3 {
    --h-margin: 1.33em 0 0.6em;
    --h-font-size: 1.35em;
}
h4,
.h4 {
    --h-font-size: 1.25em;
}
h5,
.h5 {
    --h-font-size: 1.125em;
    --h-font-weight: 500;
}
h6,
.h6 {
    --h-font-size: 1em;
    --h-font-weight: bolder;
}
address {
    margin: var(--item-spacer);
    font-style: normal;
}
b,
strong {
    font-weight: var(--bold, bolder);
}
small,
.text-small {
    font-size: var(--small, smaller);
}
hr,
.hr {
    margin: var(--hr-margin, 1em 0);
    border: 0;
    border-top: var(--hr-size, 1px) var(--hr-style, solid)
        var(--hr-color, currentcolor);
}
abbr[title] {
    text-decoration: underline dotted;
    cursor: help;
}
mark {
    padding: 0 0.15em;
    background-color: var(--mark-bg, var(--selection-bg));
    color: var(--mark-color, var(--selection-color));
}
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
[tabindex="-1"]:focus {
    outline: 0 !important;
}
a,
area,
button,
input,
label,
select,
summary,
textarea {
    touch-action: manipulation;
}
:focus:not(:focus-visible) {
    outline: 0;
}
ul,
ol {
    margin: var(--item-spacer, 0 0 1em);
}
ul ul,
ul ol,
ol ul,
ol ol {
    margin-top: 0;
    margin-bottom: 0;
}
dl {
    margin: var(--item-spacer, 0 0 1em);
}
dt {
    font-weight: bolder;
}
dd {
    margin: var(--dd-margin, 0 0 0.5rem);
}
summary {
    display: list-item;
}
img,
svg {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
}
iframe {
    border: 0;
}
figure {
    display: inline-block;
    margin: var(--item-spacer);
}
blockquote,
q {
    quotes: var(--quotes, “ ” ‘ ’);
}
blockquote {
    margin: var(--blockquote-margin, 2em 0);
    padding-inline-start: var(--blockquote-padding-start, 1em);
    border-inline-start: var(
        --blockquote-border-start,
        0.25em solid var(--quote-border-color, var(--color-theme, currentcolor))
    );
    font-style: italic;
}
