.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  block-size: 1.45em;
  inline-size: fit-content;
  font-size: 0.875em;
  padding-inline: 0.725em;
  border-radius: var(--badge-radius, 5rem);
  border-color: var(--badge-color, currentcolor);
  background-color: var(--badge-bg, var(--brand));
  color: var(--badge-color, var(--on-brand));
  font-weight: bolder;
  font-variant-numeric: tabular-nums;
}
