.input-extra,
.input-icon {
    flex: 0 0 auto;
    width: auto;
    border-radius: 0;
}
.input-icon {
    color: var(--form-stroke, currentcolor);
}
.input-group {
    position: relative;
    display: flex;
    width: 100%;
    min-height: var(--input-group-height);
    border-width: 1px;
    border-style: solid;
    border-color: var(--form-stroke, currentcolor);
    border-radius: var(--form-radius, 5px);
    background-color: var(--form-bg, transparent);
    color: var(--form-color, inherit);
    overflow: hidden;
}
.input-group::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    transition: box-shadow 0.15s linear;
}
.input-group:focus-within {
    --form-stroke: var(--color-theme, #1565c1);
    outline: 0;
}
.input-group:focus-within::after {
    box-shadow: inset 0 0 0 1px var(--color-theme, #1565c1);
}
.input-group > input,
.input-group > select,
.input-group > textarea {
    flex: 1 1 auto;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}
