$gray-50: #f8f9fa;
$gray-100: #f1f3f5;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$blue-gray-50: #eceff1;
$blue-gray-100: #cfd8dc;
$blue-gray-200: #b0bec5;
$blue-gray-300: #90a4ae;
$blue-gray-400: #78909c;
$blue-gray-500: #607d8b;
$blue-gray-600: #546e7a;
$blue-gray-700: #455a64;
$blue-gray-800: #37474f;
$blue-gray-900: #263238;
$red-50: #fff5f5;
$red-100: #ffe3e3;
$red-200: #ffc9c9;
$red-300: #ffa8a8;
$red-400: #ff8787;
$red-500: #ff6b6b;
$red-600: #fa5252;
$red-700: #f03e3e;
$red-800: #e03131;
$red-900: #c92a2a;
$pink-50: #fff0f6;
$pink-100: #ffdeeb;
$pink-200: #fcc2d7;
$pink-300: #faa2c1;
$pink-400: #f783ac;
$pink-500: #f06595;
$pink-600: #e64980;
$pink-700: #d6336c;
$pink-800: #c2255c;
$pink-900: #a61e4d;
$purple-50: #f8f0fc;
$purple-100: #f3d9fa;
$purple-200: #eebefa;
$purple-300: #e599f7;
$purple-400: #da77f2;
$purple-500: #cc5de8;
$purple-600: #be4bdb;
$purple-700: #ae3ec9;
$purple-800: #9c36b5;
$purple-900: #862e9c;
$violet-50: #f3f0ff;
$violet-100: #e5dbff;
$violet-200: #d0bfff;
$violet-300: #b197fc;
$violet-400: #9775fa;
$violet-500: #845ef7;
$violet-600: #7950f2;
$violet-700: #7048e8;
$violet-800: #6741d9;
$violet-900: #5f3dc4;
$indigo-50: #edf2ff;
$indigo-100: #dbe4ff;
$indigo-200: #bac8ff;
$indigo-300: #91a7ff;
$indigo-400: #748ffc;
$indigo-500: #5c7cfa;
$indigo-600: #4c6ef5;
$indigo-700: #4263eb;
$indigo-800: #3b5bdb;
$indigo-900: #364fc7;
$blue-50: #e7f5ff;
$blue-100: #d0ebff;
$blue-200: #a5d8ff;
$blue-300: #74c0fc;
$blue-400: #4dabf7;
$blue-500: #339af0;
$blue-600: #228be6;
$blue-700: #1c7ed6;
$blue-800: #1971c2;
$blue-900: #1864ab;
$cyan-50: #e3fafc;
$cyan-100: #c5f6fa;
$cyan-200: #99e9f2;
$cyan-300: #66d9e8;
$cyan-400: #3bc9db;
$cyan-500: #22b8cf;
$cyan-600: #15aabf;
$cyan-700: #1098ad;
$cyan-800: #0c8599;
$cyan-900: #0b7285;
$teal-50: #e6fcf5;
$teal-100: #c3fae8;
$teal-200: #96f2d7;
$teal-300: #63e6be;
$teal-400: #38d9a9;
$teal-500: #20c997;
$teal-600: #12b886;
$teal-700: #0ca678;
$teal-800: #099268;
$teal-900: #087f5b;
$green-50: #ebfbee;
$green-100: #d3f9d8;
$green-200: #b2f2bb;
$green-300: #8ce99a;
$green-400: #69db7c;
$green-500: #51cf66;
$green-600: #40c057;
$green-700: #37b24d;
$green-800: #2f9e44;
$green-900: #2b8a3e;
$lime-50: #f4fce3;
$lime-100: #e9fac8;
$lime-200: #d8f5a2;
$lime-300: #c0eb75;
$lime-400: #a9e34b;
$lime-500: #94d82d;
$lime-600: #82c91e;
$lime-700: #74b816;
$lime-800: #66a80f;
$lime-900: #5c940d;
$yellow-50: #fff9db;
$yellow-100: #fff3bf;
$yellow-200: #ffec99;
$yellow-300: #ffe066;
$yellow-400: #ffd43b;
$yellow-500: #fcc419;
$yellow-600: #fab005;
$yellow-700: #f59f00;
$yellow-800: #f08c00;
$yellow-900: #e67700;
$orange-50: #fff4e6;
$orange-100: #ffe8cc;
$orange-200: #ffd8a8;
$orange-300: #ffc078;
$orange-400: #ffa94d;
$orange-500: #ff922b;
$orange-600: #fd7e14;
$orange-700: #f76707;
$orange-800: #e8590c;
$orange-900: #d9480f;
