$red-gray-0: #fff4f4;
$red-gray-1: #f1d7d6;
$red-gray-2: #d1b6b6;
$red-gray-3: #b79d9d;
$red-gray-4: #a78e8e;
$red-gray-5: #745d5d;
$red-gray-6: #493435;
$red-gray-7: #2f1c1c;
$red-gray-8: #110304;
$red-gray-9: #020000;
$green-gray-0: #eefff2;
$green-gray-1: #d0e4d4;
$green-gray-2: #b0c4b4;
$green-gray-3: #97aa9c;
$green-gray-4: #889b8c;
$green-gray-5: #57685b;
$green-gray-6: #2f3f33;
$green-gray-7: #16261a;
$green-gray-8: #010a03;
$green-gray-9: #000100;
$blue-gray-0: #f0fdff;
$blue-gray-1: #d2dff2;
$blue-gray-2: #b2bfd1;
$blue-gray-3: #99a6b8;
$blue-gray-4: #8a96a8;
$blue-gray-5: #596475;
$blue-gray-6: #313b4a;
$blue-gray-7: #192230;
$blue-gray-8: #020713;
$blue-gray-9: #000004;
$gray-0: #fcfcfc;
$gray-1: #dedede;
$gray-2: #bebebe;
$gray-3: #a4a4a4;
$gray-4: #959595;
$gray-5: #636363;
$gray-6: #3a3a3a;
$gray-7: #222;
$gray-8: #070707;
$gray-9: #000;
$pink-0: #ffefff;
$pink-1: #ffc3e7;
$pink-2: #ff80d0;
$pink-3: #ff49ba;
$pink-4: #ff00af;
$pink-5: #c20078;
$pink-6: #87004c;
$pink-7: #58002e;
$pink-8: #300011;
$pink-9: #080001;
$purple-0: #fff0ff;
$purple-1: #ffc6fe;
$purple-2: #ff88fa;
$purple-3: #f558ed;
$purple-4: #f300ec;
$purple-5: #ad00a9;
$purple-6: #760075;
$purple-7: #4d004c;
$purple-8: #27002a;
$purple-9: #050007;
$violet-0: #fff3ff;
$violet-1: #f2ccff;
$violet-2: #e594ff;
$violet-3: #d469ff;
$violet-4: #ce33ff;
$violet-5: #9100d1;
$violet-6: #610097;
$violet-7: #3e0065;
$violet-8: #1f0041;
$violet-9: #04000f;
$indigo-0: #fbf7ff;
$indigo-1: #dcd3ff;
$indigo-2: #bea2ff;
$indigo-3: #a87bff;
$indigo-4: #9f52ff;
$indigo-5: #6d18ed;
$indigo-6: #4700af;
$indigo-7: #2d0077;
$indigo-8: #190051;
$indigo-9: #030016;
$blue-0: #e9fdff;
$blue-1: #b7e0ff;
$blue-2: #6cbaff;
$blue-3: #369aff;
$blue-4: #007eff;
$blue-5: #0049f8;
$blue-6: #0004b8;
$blue-7: #00007e;
$blue-8: #0f0058;
$blue-9: #020019;
$cyan-0: #d8ffff;
$cyan-1: #8deeff;
$cyan-2: #00d8ff;
$cyan-3: #00c0ff;
$cyan-4: #00b1ff;
$cyan-5: #0077ca;
$cyan-6: #004691;
$cyan-7: #002862;
$cyan-8: #00003e;
$cyan-9: #00000e;
$teal-0: #dcfff7;
$teal-1: #97f4d4;
$teal-2: #00e5aa;
$teal-3: #00d28c;
$teal-4: #00c976;
$teal-5: #008b4a;
$teal-6: #005a24;
$teal-7: #003810;
$teal-8: #001600;
$teal-9: #000200;
$green-0: #ebffe5;
$green-1: #bbefb0;
$green-2: #6fdb55;
$green-3: #2ac600;
$green-4: #00bc00;
$green-5: #008100;
$green-6: #005100;
$green-7: #003200;
$green-8: #010;
$green-9: #000100;
$lime-0: #f4ffde;
$lime-1: #cfeaa1;
$lime-2: #a1d206;
$lime-3: #82bb00;
$lime-4: #6bae00;
$lime-5: #417600;
$lime-6: #1d4800;
$lime-7: #0c2b00;
$lime-8: #000d00;
$lime-9: #000100;
$yellow-0: #fffdd7;
$yellow-1: #ede091;
$yellow-2: #ddbe00;
$yellow-3: #cba100;
$yellow-4: #c58d00;
$yellow-5: #8a5a00;
$yellow-6: #5b2f00;
$yellow-7: #3a1800;
$yellow-8: #190100;
$yellow-9: #020000;
$orange-0: #fff7d8;
$orange-1: #ffd394;
$orange-2: #ffa100;
$orange-3: #ff7a00;
$orange-4: #ff5300;
$orange-5: #ba2000;
$orange-6: #810000;
$orange-7: #500;
$orange-8: #2d0000;
$orange-9: #070000;
$red-0: #fff0e8;
$red-1: #ffc5b7;
$red-2: #ff836c;
$red-3: #ff4a35;
$red-4: #f00;
$red-5: #d30000;
$red-6: #940000;
$red-7: #620000;
$red-8: #380000;
$red-9: #0b0000;
