:where(*) {
    --color-0-oklch: 99% .02 var(--color-hue, 0);
    --color-1-oklch: 94% .04 var(--color-hue, 0);
    --color-2-oklch: 88% .12 var(--color-hue, 0);
    --color-3-oklch: 80% .18 var(--color-hue, 0);
    --color-4-oklch: 74% .2 var(--color-hue, 0);
    --color-5-oklch: 67% .22 var(--color-hue, 0);
    --color-6-oklch: 59% .21 var(--color-hue, 0);
    --color-7-oklch: 52% .2 var(--color-hue, 0);
    --color-8-oklch: 44% .18 var(--color-hue, 0);
    --color-9-oklch: 36% .14 var(--color-hue, 0);
    --color-10-oklch: 24% .12 var(--color-hue, 0);
    --color-11-oklch: 18% .08 var(--color-hue, 0);
    --color-12-oklch: 10% .04 var(--color-hue, 0);
    --soft-0-oklch: 99% .03 var(--soft-hue, 0);
    --soft-1-oklch: 94% .03 var(--soft-hue, 0);
    --soft-2-oklch: 88% .03 var(--soft-hue, 0);
    --soft-3-oklch: 80% .03 var(--soft-hue, 0);
    --soft-4-oklch: 74% .03 var(--soft-hue, 0);
    --soft-5-oklch: 67% .03 var(--soft-hue, 0);
    --soft-6-oklch: 59% .03 var(--soft-hue, 0);
    --soft-7-oklch: 52% .03 var(--soft-hue, 0);
    --soft-8-oklch: 44% .03 var(--soft-hue, 0);
    --soft-9-oklch: 36% .03 var(--soft-hue, 0);
    --soft-10-oklch: 24% .03 var(--soft-hue, 0);
    --soft-11-oklch: 18% .03 var(--soft-hue, 0);
    --soft-12-oklch: 10% .03 var(--soft-hue, 0);
    --gray-0-oklch: 99% 0 var(--gray-hue, 0);
    --gray-1-oklch: 94% 0 var(--gray-hue, 0);
    --gray-2-oklch: 88% 0 var(--gray-hue, 0);
    --gray-3-oklch: 80% 0 var(--gray-hue, 0);
    --gray-4-oklch: 74% 0 var(--gray-hue, 0);
    --gray-5-oklch: 67% 0 var(--gray-hue, 0);
    --gray-6-oklch: 59% 0 var(--gray-hue, 0);
    --gray-7-oklch: 52% 0 var(--gray-hue, 0);
    --gray-8-oklch: 44% 0 var(--gray-hue, 0);
    --gray-9-oklch: 36% 0 var(--gray-hue, 0);
    --gray-10-oklch: 24% 0 var(--gray-hue, 0);
    --gray-11-oklch: 18% 0 var(--gray-hue, 0);
    --gray-12-oklch: 10% 0 var(--gray-hue, 0);
}
