:where(*) {
    --color-0-oklch: 99% 0.05 var(--color-hue, 0);
    --color-1-oklch: 90% 0.1 var(--color-hue, 0);
    --color-2-oklch: 80% 0.2 var(--color-hue, 0);
    --color-3-oklch: 72% 0.25 var(--color-hue, 0);
    --color-4-oklch: 67% 0.31 var(--color-hue, 0);
    --color-5-oklch: 50% 0.27 var(--color-hue, 0);
    --color-6-oklch: 35% 0.25 var(--color-hue, 0);
    --color-7-oklch: 25% 0.2 var(--color-hue, 0);
    --color-8-oklch: 13% 0.2 var(--color-hue, 0);
    --color-9-oklch: 5% 0.1 var(--color-hue, 0);
    --gray-0-oklch: 99% 0.03 var(--gray-hue, 0);
    --gray-1-oklch: 90% 0.03 var(--gray-hue, 0);
    --gray-2-oklch: 80% 0.03 var(--gray-hue, 0);
    --gray-3-oklch: 72% 0.03 var(--gray-hue, 0);
    --gray-4-oklch: 67% 0.03 var(--gray-hue, 0);
    --gray-5-oklch: 50% 0.03 var(--gray-hue, 0);
    --gray-6-oklch: 35% 0.03 var(--gray-hue, 0);
    --gray-7-oklch: 25% 0.03 var(--gray-hue, 0);
    --gray-8-oklch: 13% 0.03 var(--gray-hue, 0);
    --gray-9-oklch: 5% 0.03 var(--gray-hue, 0);
}
