:where(*) {
    --color-0-oklch: 99% .03 var(--color-hue, 0);
    --color-1-oklch: 95% .06 var(--color-hue, 0);
    --color-2-oklch: 88% .12 var(--color-hue, 0);
    --color-3-oklch: 80% .14 var(--color-hue, 0);
    --color-4-oklch: 74% .16 var(--color-hue, 0);
    --color-5-oklch: 68% .19 var(--color-hue, 0);
    --color-6-oklch: 63% .20 var(--color-hue, 0);
    --color-7-oklch: 58% .21 var(--color-hue, 0);
    --color-8-oklch: 53% .20 var(--color-hue, 0);
    --color-9-oklch: 49% .19 var(--color-hue, 0);
    --color-10-oklch: 40% .17 var(--color-hue, 0);
    --color-11-oklch: 34% .15 var(--color-hue, 0);
    --color-12-oklch: 23% .12 var(--color-hue, 0);
    --color-13-oklch: 16% .08 var(--color-hue, 0);
    --color-14-oklch: 10% .05 var(--color-hue, 0);
    --soft-0-oklch: 99% .03 var(--soft-hue, 0);
    --soft-1-oklch: 95% .03 var(--soft-hue, 0);
    --soft-2-oklch: 88% .03 var(--soft-hue, 0);
    --soft-3-oklch: 80% .03 var(--soft-hue, 0);
    --soft-4-oklch: 74% .03 var(--soft-hue, 0);
    --soft-5-oklch: 68% .03 var(--soft-hue, 0);
    --soft-6-oklch: 63% .03 var(--soft-hue, 0);
    --soft-7-oklch: 58% .03 var(--soft-hue, 0);
    --soft-8-oklch: 53% .03 var(--soft-hue, 0);
    --soft-9-oklch: 49% .03 var(--soft-hue, 0);
    --soft-10-oklch: 40% .03 var(--soft-hue, 0);
    --soft-11-oklch: 34% .03 var(--soft-hue, 0);
    --soft-12-oklch: 23% .03 var(--soft-hue, 0);
    --soft-13-oklch: 16% .03 var(--soft-hue, 0);
    --soft-14-oklch: 10% .03 var(--soft-hue, 0);
    --gray-0-oklch: 99% 0 var(--gray-hue, 0);
    --gray-1-oklch: 95% 0 var(--gray-hue, 0);
    --gray-2-oklch: 88% 0 var(--gray-hue, 0);
    --gray-3-oklch: 80% 0 var(--gray-hue, 0);
    --gray-4-oklch: 74% 0 var(--gray-hue, 0);
    --gray-5-oklch: 68% 0 var(--gray-hue, 0);
    --gray-6-oklch: 63% 0 var(--gray-hue, 0);
    --gray-7-oklch: 58% 0 var(--gray-hue, 0);
    --gray-8-oklch: 53% 0 var(--gray-hue, 0);
    --gray-9-oklch: 49% 0 var(--gray-hue, 0);
    --gray-10-oklch: 40% 0 var(--gray-hue, 0);
    --gray-11-oklch: 34% 0 var(--gray-hue, 0);
    --gray-12-oklch: 23% 0 var(--gray-hue, 0);
    --gray-13-oklch: 16% 0 var(--gray-hue, 0);
    --gray-14-oklch: 10% 0 var(--gray-hue, 0);
}
