:root {
    --red-gray-0: #fff4f4;
    --red-gray-1: #ffe4e4;
    --red-gray-2: #ebd0d0;
    --red-gray-3: #d1b6b6;
    --red-gray-4: #bda4a4;
    --red-gray-5: #a78e8e;
    --red-gray-6: #8e7676;
    --red-gray-7: #796262;
    --red-gray-8: #624c4c;
    --red-gray-9: #4c3737;
    --red-gray-10: #2c191a;
    --red-gray-11: #1d0c0c;
    --red-gray-12: #0a0101;
    --green-gray-0: #eefff2;
    --green-gray-1: #ddf1e1;
    --green-gray-2: #cadece;
    --green-gray-3: #b0c4b4;
    --green-gray-4: #9eb1a2;
    --green-gray-5: #889b8c;
    --green-gray-6: #718375;
    --green-gray-7: #5d6e61;
    --green-gray-8: #46584a;
    --green-gray-9: #314235;
    --green-gray-10: #142318;
    --green-gray-11: #07150b;
    --green-gray-12: #000501;
    --blue-gray-0: #f0fdff;
    --blue-gray-1: #dfecff;
    --blue-gray-2: #ccd9ec;
    --blue-gray-3: #b2bfd1;
    --blue-gray-4: #9facbe;
    --blue-gray-5: #8a96a8;
    --blue-gray-6: #727e8f;
    --blue-gray-7: #5e6a7b;
    --blue-gray-8: #485363;
    --blue-gray-9: #333e4d;
    --blue-gray-10: #16202e;
    --blue-gray-11: #09121f;
    --blue-gray-12: #00030c;
    --gray-0: #fcfcfc;
    --gray-1: #ebebeb;
    --gray-2: #d7d7d7;
    --gray-3: #bebebe;
    --gray-4: #ababab;
    --gray-5: #959595;
    --gray-6: #7d7d7d;
    --gray-7: #696969;
    --gray-8: #525252;
    --gray-9: #3d3d3d;
    --gray-10: #1f1f1f;
    --gray-11: #121212;
    --gray-12: #030303;
    --pink-0: #fff7fe;
    --pink-1: #ffe1ef;
    --pink-2: #ffb7e3;
    --pink-3: #ff88ce;
    --pink-4: #ff6cbc;
    --pink-5: #f14aa8;
    --pink-6: #d1328e;
    --pink-7: #b51c79;
    --pink-8: #930660;
    --pink-9: #6d0b47;
    --pink-10: #430027;
    --pink-11: #280016;
    --pink-12: #0b0005;
    --purple-0: #fff7ff;
    --purple-1: #fbe2f8;
    --purple-2: #ffbbfd;
    --purple-3: #fd8ff4;
    --purple-4: #ee75e6;
    --purple-5: #db55d4;
    --purple-6: #bd3fb7;
    --purple-7: #a32b9e;
    --purple-8: #851980;
    --purple-9: #62155f;
    --purple-10: #3b0039;
    --purple-11: #230122;
    --purple-12: #090008;
    --violet-0: #fff8ff;
    --violet-1: #f3e4ff;
    --violet-2: #f0c1ff;
    --violet-3: #e199ff;
    --violet-4: #d181ff;
    --violet-5: #be63f8;
    --violet-6: #a34dd8;
    --violet-7: #8c39bc;
    --violet-8: #70279a;
    --violet-9: #531e72;
    --violet-10: #300148;
    --violet-11: #1c032b;
    --violet-12: #06010c;
    --indigo-0: #fbfaff;
    --indigo-1: #eae7ff;
    --indigo-2: #d6caff;
    --indigo-3: #bea6ff;
    --indigo-4: #ac8fff;
    --indigo-5: #9873ff;
    --indigo-6: #815cee;
    --indigo-7: #6d48d1;
    --indigo-8: #5634ac;
    --indigo-9: #402880;
    --indigo-10: #220852;
    --indigo-11: #130631;
    --indigo-12: #04010f;
    --blue-0: #f4fcff;
    --blue-1: #dcecff;
    --blue-2: #a9d9ff;
    --blue-3: #76bcff;
    --blue-4: #5aa7ff;
    --blue-5: #388eff;
    --blue-6: #2375f7;
    --blue-7: #105fd9;
    --blue-8: #0049b3;
    --blue-9: #043785;
    --blue-10: #001756;
    --blue-11: #000e34;
    --blue-12: #000310;
    --cyan-0: #eff;
    --cyan-1: #cff2fe;
    --cyan-2: #6feaff;
    --cyan-3: #00d6ff;
    --cyan-4: #00c4ff;
    --cyan-5: #00aef1;
    --cyan-6: #0093d2;
    --cyan-7: #007cb7;
    --cyan-8: #006395;
    --cyan-9: #00496f;
    --cyan-10: #002745;
    --cyan-11: #001729;
    --cyan-12: #00050b;
    --teal-0: #effffa;
    --teal-1: #d2f4e7;
    --teal-2: #7df1cb;
    --teal-3: #00e1ac;
    --teal-4: #00d197;
    --teal-5: #00bc80;
    --teal-6: #00a169;
    --teal-7: #008956;
    --teal-8: #006e42;
    --teal-9: #005231;
    --teal-10: #002e16;
    --teal-11: #001b0c;
    --teal-12: #000602;
    --green-0: #f5fff3;
    --green-1: #def2d9;
    --green-2: #adeb9f;
    --green-3: #79d963;
    --green-4: #5bc840;
    --green-5: #32b300;
    --green-6: #169800;
    --green-7: #008100;
    --green-8: #006700;
    --green-9: #004d00;
    --green-10: #002a00;
    --green-11: #001900;
    --green-12: #000500;
    --lime-0: #f9fef0;
    --lime-1: #e5f0d4;
    --lime-2: #c5e68c;
    --lime-3: #a3d139;
    --lime-4: #8ebf00;
    --lime-5: #77a900;
    --lime-6: #618f00;
    --lime-7: #4f7900;
    --lime-8: #3c6000;
    --lime-9: #2d4700;
    --lime-10: #132600;
    --lime-11: #0a1600;
    --lime-12: #020500;
    --yellow-0: #fefded;
    --yellow-1: #f0edce;
    --yellow-2: #e7db79;
    --yellow-3: #d6c000;
    --yellow-4: #c5ac00;
    --yellow-5: #b29500;
    --yellow-6: #987c00;
    --yellow-7: #826800;
    --yellow-8: #685100;
    --yellow-9: #4d3c00;
    --yellow-10: #2c1d00;
    --yellow-11: #191100;
    --yellow-12: #050300;
    --orange-0: #fffaee;
    --orange-1: #fde7cf;
    --orange-2: #ffc97c;
    --orange-3: #ffa500;
    --orange-4: #f88e00;
    --orange-5: #e67200;
    --orange-6: #c75b00;
    --orange-7: #ad4700;
    --orange-8: #8d3400;
    --orange-9: #682700;
    --orange-10: #400900;
    --orange-11: #260600;
    --orange-12: #0a0100;
    --red-0: #fff7f4;
    --red-1: #ffe2dc;
    --red-2: #ffb9a8;
    --red-3: #ff8b75;
    --red-4: #ff6e59;
    --red-5: #ff4b38;
    --red-6: #df3322;
    --red-7: #c21b0d;
    --red-8: #9e0200;
    --red-9: #760a03;
    --red-10: #490000;
    --red-11: #2c0000;
    --red-12: #0d0000;
}
