:root {
    --red-gray-0-hsl: 0.7288 100% 97.867%;
    --red-gray-1-hsl: 0.3031 100% 95.265%;
    --red-gray-2-hsl: 0.2294 39.958% 86.821%;
    --red-gray-3-hsl: 0.1779 21.957% 76.649%;
    --red-gray-4-hsl: 0.1314 16.272% 69.179%;
    --red-gray-5-hsl: 0.0758 12.834% 61.853%;
    --red-gray-6-hsl: 0.0205 10.852% 55.864%;
    --red-gray-7-hsl: 359.95 9.3629% 49.985%;
    --red-gray-8-hsl: 359.88 10.322% 44.222%;
    --red-gray-9-hsl: 359.8 11.248% 39.703%;
    --red-gray-10-hsl: 359.56 14.134% 29.852%;
    --red-gray-11-hsl: 359.32 17.113% 23.553%;
    --red-gray-12-hsl: 358.48 28.558% 12.655%;
    --red-gray-13-hsl: 357.44 51.916% 6.26%;
    --red-gray-14-hsl: 356.8 83.532% 2.1908%;
    --green-gray-0-hsl: 135.08 100% 96.607%;
    --green-gray-1-hsl: 132.81 49.562% 91.995%;
    --green-gray-2-hsl: 132.88 22.903% 82.985%;
    --green-gray-3-hsl: 132.97 14.068% 72.906%;
    --green-gray-4-hsl: 133.06 10.855% 65.511%;
    --green-gray-5-hsl: 133.16 8.7986% 58.264%;
    --green-gray-6-hsl: 133.26 7.5742% 52.346%;
    --green-gray-7-hsl: 133.38 7.6132% 46.544%;
    --green-gray-8-hsl: 133.53 8.5011% 40.866%;
    --green-gray-9-hsl: 133.67 9.3793% 36.418%;
    --green-gray-10-hsl: 134.1 12.245% 26.745%;
    --green-gray-11-hsl: 134.54 15.42% 20.58%;
    --green-gray-12-hsl: 136.15 29.969% 9.9584%;
    --green-gray-13-hsl: 134.9 63.935% 4.0355%;
    --green-gray-14-hsl: 130.48 100% 1.0027%;
    --blue-gray-0-hsl: 187.81 100% 96.982%;
    --blue-gray-1-hsl: 212.23 100% 94.387%;
    --blue-gray-2-hsl: 215.77 45.518% 86.139%;
    --blue-gray-3-hsl: 215.77 25.649% 75.99%;
    --blue-gray-4-hsl: 215.77 19.19% 68.538%;
    --blue-gray-5-hsl: 215.76 15.243% 61.231%;
    --blue-gray-6-hsl: 215.76 12.955% 55.261%;
    --blue-gray-7-hsl: 215.76 11.488% 49.404%;
    --blue-gray-8-hsl: 215.76 12.703% 43.668%;
    --blue-gray-9-hsl: 215.76 13.883% 39.172%;
    --blue-gray-10-hsl: 215.76 17.584% 29.381%;
    --blue-gray-11-hsl: 215.77 21.442% 23.131%;
    --blue-gray-12-hsl: 215.79 36.477% 12.353%;
    --blue-gray-13-hsl: 217.12 64.625% 6.1868%;
    --blue-gray-14-hsl: 226.52 92.779% 2.4973%;
    --gray-0-hsl: 223.81 0.0005% 98.683%;
    --gray-1-hsl: 223.81 0.0001% 93.448%;
    --gray-2-hsl: 223.81 0% 84.42%;
    --gray-3-hsl: 223.81 0% 74.321%;
    --gray-4-hsl: 223.81 0% 66.909%;
    --gray-5-hsl: 223.81 0% 59.646%;
    --gray-6-hsl: 223.81 0% 53.715%;
    --gray-7-hsl: 223.81 0% 47.9%;
    --gray-8-hsl: 223.81 0% 42.209%;
    --gray-9-hsl: 223.81 0% 37.751%;
    --gray-10-hsl: 223.81 0% 28.06%;
    --gray-11-hsl: 223.81 0% 21.891%;
    --gray-12-hsl: 223.81 0% 11.304%;
    --gray-13-hsl: 223.81 0% 5.1758%;
    --gray-14-hsl: 223.81 0% 1.292%;
    --pink-0-hsl: 302.15 100% 97.85%;
    --pink-1-hsl: 320.24 100% 93.683%;
    --pink-2-hsl: 323.51 100% 85.786%;
    --pink-3-hsl: 330.24 100% 79.51%;
    --pink-4-hsl: 329.55 83.813% 72.162%;
    --pink-5-hsl: 327.76 76.667% 64.044%;
    --pink-6-hsl: 326.54 67.531% 56.993%;
    --pink-7-hsl: 324.79 63.165% 49.271%;
    --pink-8-hsl: 324.03 69.542% 42.61%;
    --pink-9-hsl: 323.43 75.206% 37.437%;
    --pink-10-hsl: 321.42 100% 25.671%;
    --pink-11-hsl: 322.27 100% 20.738%;
    --pink-12-hsl: 325.73 100% 12.531%;
    --pink-13-hsl: 329.11 100% 6.8113%;
    --pink-14-hsl: 337.87 100% 2.5633%;
    --purple-0-hsl: 300 100% 98.03%;
    --purple-1-hsl: 300 100% 94.051%;
    --purple-2-hsl: 301.5 100% 86.578%;
    --purple-3-hsl: 305.4 73.922% 77.541%;
    --purple-4-hsl: 304.81 62.213% 69.89%;
    --purple-5-hsl: 303.98 58.286% 61.884%;
    --purple-6-hsl: 303.52 52.141% 55.142%;
    --purple-7-hsl: 303 51.739% 48.069%;
    --purple-8-hsl: 302.83 56.177% 41.863%;
    --purple-9-hsl: 302.71 59.816% 37.072%;
    --purple-10-hsl: 302.27 77.227% 26.001%;
    --purple-11-hsl: 302.09 90.626% 19.444%;
    --purple-12-hsl: 301.84 100% 11.005%;
    --purple-13-hsl: 302.27 100% 5.871%;
    --purple-14-hsl: 303.64 100% 2.0408%;
    --violet-0-hsl: 300 100% 98.361%;
    --violet-1-hsl: 290.97 100% 94.712%;
    --violet-2-hsl: 285.21 100% 87.907%;
    --violet-3-hsl: 275.35 100% 82.014%;
    --violet-4-hsl: 275.17 84.699% 75.482%;
    --violet-5-hsl: 276.03 78.818% 68.727%;
    --violet-6-hsl: 276.59 68.961% 62.47%;
    --violet-7-hsl: 277.32 62.062% 56.032%;
    --violet-8-hsl: 277.6 51.899% 49.461%;
    --violet-9-hsl: 277.8 54.403% 44.29%;
    --violet-10-hsl: 278.61 64.487% 32.838%;
    --violet-11-hsl: 279.04 71.435% 25.576%;
    --violet-12-hsl: 279.67 100% 13.566%;
    --violet-13-hsl: 277.18 98.95% 7.4529%;
    --violet-14-hsl: 268.81 99.343% 2.9077%;
    --indigo-0-hsl: 260.1 100% 98.803%;
    --indigo-1-hsl: 252.41 100% 95.583%;
    --indigo-2-hsl: 253.62 100% 89.612%;
    --indigo-3-hsl: 251.43 100% 83.96%;
    --indigo-4-hsl: 251.44 100% 79.553%;
    --indigo-5-hsl: 252.92 100% 74.647%;
    --indigo-6-hsl: 253.75 89.765% 69.491%;
    --indigo-7-hsl: 255.3 78.377% 63.384%;
    --indigo-8-hsl: 255.85 61.705% 56.371%;
    --indigo-9-hsl: 256.23 51.22% 50.774%;
    --indigo-10-hsl: 257.68 56.826% 38.568%;
    --indigo-11-hsl: 258.36 61.442% 30.557%;
    --indigo-12-hsl: 262.02 88.092% 16.549%;
    --indigo-13-hsl: 258.33 89.329% 9.115%;
    --indigo-14-hsl: 251.21 93.568% 3.692%;
    --blue-0-hsl: 189.2 100% 97.109%;
    --blue-1-hsl: 202.72 100% 92.247%;
    --blue-2-hsl: 206.7 100% 83.124%;
    --blue-3-hsl: 212.71 100% 76.59%;
    --blue-4-hsl: 215.03 100% 71.297%;
    --blue-5-hsl: 215.93 100% 64.954%;
    --blue-6-hsl: 217.32 100% 60.847%;
    --blue-7-hsl: 216.87 90.127% 53.96%;
    --blue-8-hsl: 216.49 83.218% 47.179%;
    --blue-9-hsl: 216.08 88.859% 41.791%;
    --blue-10-hsl: 216.73 100% 31.5%;
    --blue-11-hsl: 218.37 100% 25.734%;
    --blue-12-hsl: 225.64 100% 16.351%;
    --blue-13-hsl: 229.19 100% 9.1058%;
    --blue-14-hsl: 233.74 100% 3.8384%;
    --cyan-0-hsl: 180 100% 95.228%;
    --cyan-1-hsl: 186.17 100% 88.125%;
    --cyan-2-hsl: 188.78 100% 71.794%;
    --cyan-3-hsl: 191.67 96.911% 56.503%;
    --cyan-4-hsl: 191.93 100% 47.011%;
    --cyan-5-hsl: 194.72 100% 45.467%;
    --cyan-6-hsl: 196.34 100% 42.954%;
    --cyan-7-hsl: 198.18 100% 40.444%;
    --cyan-8-hsl: 198.9 100% 36.446%;
    --cyan-9-hsl: 199.43 100% 33.157%;
    --cyan-10-hsl: 201.27 100% 26.148%;
    --cyan-11-hsl: 202.37 100% 21.202%;
    --cyan-12-hsl: 207.19 100% 13.066%;
    --cyan-13-hsl: 210.18 100% 7.1059%;
    --cyan-14-hsl: 218.99 100% 2.727%;
    --teal-0-hsl: 162.67 100% 95.686%;
    --teal-1-hsl: 157.39 90.546% 88.554%;
    --teal-2-hsl: 160.52 80.874% 71.755%;
    --teal-3-hsl: 163.14 67.313% 55.996%;
    --teal-4-hsl: 166.09 100% 39.618%;
    --teal-5-hsl: 162.91 100% 36.718%;
    --teal-6-hsl: 161.06 100% 33.822%;
    --teal-7-hsl: 158.97 100% 30.936%;
    --teal-8-hsl: 158.11 100% 27.556%;
    --teal-9-hsl: 157.45 100% 24.852%;
    --teal-10-hsl: 155.16 100% 19.014%;
    --teal-11-hsl: 153.65 100% 15.132%;
    --teal-12-hsl: 146.81 100% 8.5702%;
    --teal-13-hsl: 140.78 100% 4.3836%;
    --teal-14-hsl: 137.16 100% 1.2956%;
    --green-0-hsl: 107.61 100% 96.686%;
    --green-1-hsl: 109.12 76.329% 90.222%;
    --green-2-hsl: 109.2 65.827% 77.341%;
    --green-3-hsl: 109.17 50.41% 65.695%;
    --green-4-hsl: 109 45.726% 56.391%;
    --green-5-hsl: 107.79 56.16% 44.904%;
    --green-6-hsl: 103.36 90.11% 33.799%;
    --green-7-hsl: 114.02 100% 29.213%;
    --green-8-hsl: 120 100% 25.957%;
    --green-9-hsl: 120 100% 23.366%;
    --green-10-hsl: 120 100% 17.76%;
    --green-11-hsl: 120 100% 14.074%;
    --green-12-hsl: 120 100% 7.8145%;
    --green-13-hsl: 120 100% 3.9216%;
    --green-14-hsl: 120 100% 1.1033%;
    --lime-0-hsl: 82.94 100% 95.882%;
    --lime-1-hsl: 83.595 71.341% 88.009%;
    --lime-2-hsl: 81.693 63.781% 72.537%;
    --lime-3-hsl: 80.384 51.586% 59.672%;
    --lime-4-hsl: 78.418 52.375% 48.244%;
    --lime-5-hsl: 75.704 100% 33.418%;
    --lime-6-hsl: 77.503 100% 30.43%;
    --lime-7-hsl: 79.561 100% 27.464%;
    --lime-8-hsl: 80.431 100% 24.328%;
    --lime-9-hsl: 81.101 100% 21.848%;
    --lime-10-hsl: 83.455 100% 16.469%;
    --lime-11-hsl: 85.057 100% 12.979%;
    --lime-12-hsl: 92.655 100% 7.0202%;
    --lime-13-hsl: 98.994 100% 3.4379%;
    --lime-14-hsl: 100.86 100% 0.921%;
    --yellow-0-hsl: 54.684 100% 95.088%;
    --yellow-1-hsl: 51.84 77.852% 86.595%;
    --yellow-2-hsl: 51.414 72.795% 69.409%;
    --yellow-3-hsl: 51.643 61.518% 55.052%;
    --yellow-4-hsl: 52.832 100% 38.212%;
    --yellow-5-hsl: 50.32 100% 35.443%;
    --yellow-6-hsl: 48.731 100% 32.706%;
    --yellow-7-hsl: 46.828 100% 30.011%;
    --yellow-8-hsl: 46.06 100% 26.761%;
    --yellow-9-hsl: 45.483 100% 24.153%;
    --yellow-10-hsl: 43.422 100% 18.539%;
    --yellow-11-hsl: 42.152 100% 14.771%;
    --yellow-12-hsl: 36.038 100% 8.4448%;
    --yellow-13-hsl: 31.665 100% 4.2861%;
    --yellow-14-hsl: 26.582 100% 1.2535%;
    --orange-0-hsl: 44.914 100% 95.208%;
    --orange-1-hsl: 37.088 100% 88.348%;
    --orange-2-hsl: 35.415 100% 74.347%;
    --orange-3-hsl: 33.759 91.1% 63.417%;
    --orange-4-hsl: 38.286 98.503% 46.153%;
    --orange-5-hsl: 33.417 100% 43.847%;
    --orange-6-hsl: 30.391 100% 41.149%;
    --orange-7-hsl: 26.827 100% 38.437%;
    --orange-8-hsl: 25.378 100% 34.529%;
    --orange-9-hsl: 24.29 100% 31.342%;
    --orange-10-hsl: 20.38 100% 24.515%;
    --orange-11-hsl: 17.987 100% 19.787%;
    --orange-12-hsl: 6.17 100% 11.927%;
    --orange-13-hsl: 5.0774 100% 6.4307%;
    --orange-14-hsl: 3.3895 100% 2.3518%;
    --red-0-hsl: 13.173 100% 97.384%;
    --red-1-hsl: 8.8377 100% 92.82%;
    --red-2-hsl: 6.4568 100% 84.394%;
    --red-3-hsl: 4.4813 100% 78.139%;
    --red-4-hsl: 3.2226 100% 73.175%;
    --red-5-hsl: 1.4993 91.206% 65.983%;
    --red-6-hsl: 0.0161 79.022% 59.535%;
    --red-7-hsl: 357.35 71.038% 51.397%;
    --red-8-hsl: 355.92 74.684% 44.288%;
    --red-9-hsl: 354.57 81.871% 38.679%;
    --red-10-hsl: 354.1 100% 27.669%;
    --red-11-hsl: 357.01 100% 22.423%;
    --red-12-hsl: 0 100% 13.73%;
    --red-13-hsl: 360 100% 7.5446%;
    --red-14-hsl: 0 100% 2.9708%;
}
