:root {
    --red-gray-0-hsl: 0.7288 100% 97.867%;
    --red-gray-1-hsl: 0.3031 100% 95.265%;
    --red-gray-2-hsl: 0.2407 49.993% 89.4%;
    --red-gray-3-hsl: 0.2294 39.958% 86.821%;
    --red-gray-4-hsl: 0.1918 24.786% 79.17%;
    --red-gray-5-hsl: 0.1633 19.688% 74.143%;
    --red-gray-6-hsl: 0.0758 12.834% 61.853%;
    --red-gray-7-hsl: 359.95 9.3629% 49.985%;
    --red-gray-8-hsl: 359.86 10.538% 43.085%;
    --red-gray-9-hsl: 359.68 12.681% 34.173%;
    --red-gray-10-hsl: 359.37 16.528% 24.587%;
    --red-gray-11-hsl: 358.96 21.815% 17.497%;
    --red-gray-12-hsl: 358.05 35.335% 9.8478%;
    --red-gray-13-hsl: 357.44 57.052% 5.4601%;
    --red-gray-14-hsl: 357.07 78.095% 2.7603%;
    --green-gray-0-hsl: 135.08 100% 96.607%;
    --green-gray-1-hsl: 132.81 49.562% 91.995%;
    --green-gray-2-hsl: 132.86 27.095% 85.541%;
    --green-gray-3-hsl: 132.88 22.903% 82.985%;
    --green-gray-4-hsl: 132.95 15.585% 75.403%;
    --green-gray-5-hsl: 133 12.813% 70.425%;
    --green-gray-6-hsl: 133.16 8.7986% 58.264%;
    --green-gray-7-hsl: 133.38 7.6132% 46.544%;
    --green-gray-8-hsl: 133.56 8.7046% 39.746%;
    --green-gray-9-hsl: 133.88 10.777% 30.984%;
    --green-gray-10-hsl: 134.45 14.779% 21.59%;
    --green-gray-11-hsl: 135.22 20.914% 14.67%;
    --green-gray-12-hsl: 137.04 40.748% 7.2268%;
    --green-gray-13-hsl: 134.27 70.437% 3.3757%;
    --green-gray-14-hsl: 133.07 100% 1.2944%;
    --blue-gray-0-hsl: 187.81 100% 96.982%;
    --blue-gray-1-hsl: 212.23 100% 94.387%;
    --blue-gray-2-hsl: 215.77 56.216% 88.713%;
    --blue-gray-3-hsl: 215.77 45.518% 86.139%;
    --blue-gray-4-hsl: 215.77 28.83% 78.505%;
    --blue-gray-5-hsl: 215.77 23.082% 73.49%;
    --blue-gray-6-hsl: 215.76 15.243% 61.231%;
    --blue-gray-7-hsl: 215.76 11.488% 49.404%;
    --blue-gray-8-hsl: 215.76 12.978% 42.536%;
    --blue-gray-9-hsl: 215.76 15.715% 33.674%;
    --blue-gray-10-hsl: 215.77 20.682% 24.156%;
    --blue-gray-11-hsl: 215.78 27.586% 17.134%;
    --blue-gray-12-hsl: 215.79 45.465% 9.5893%;
    --blue-gray-13-hsl: 218.48 69.651% 5.4618%;
    --blue-gray-14-hsl: 225.18 88.569% 3.0147%;
    --gray-0-hsl: 223.81 0.0005% 98.683%;
    --gray-1-hsl: 223.81 0.0001% 93.448%;
    --gray-2-hsl: 223.81 0% 86.982%;
    --gray-3-hsl: 223.81 0% 84.42%;
    --gray-4-hsl: 223.81 0% 76.823%;
    --gray-5-hsl: 223.81 0% 71.834%;
    --gray-6-hsl: 223.81 0% 59.646%;
    --gray-7-hsl: 223.81 0% 47.9%;
    --gray-8-hsl: 223.81 0% 41.086%;
    --gray-9-hsl: 223.81 0% 32.307%;
    --gray-10-hsl: 223.81 0% 22.901%;
    --gray-11-hsl: 223.81 0% 15.988%;
    --gray-12-hsl: 223.81 0% 8.6104%;
    --gray-13-hsl: 223.81 0% 4.3484%;
    --gray-14-hsl: 223.81 0% 1.7197%;
    --pink-0-hsl: 302.15 100% 97.85%;
    --pink-1-hsl: 320.24 100% 93.683%;
    --pink-2-hsl: 319.81 100% 87.051%;
    --pink-3-hsl: 320.19 100% 84.521%;
    --pink-4-hsl: 325.35 100% 79.392%;
    --pink-5-hsl: 327.86 100% 76.162%;
    --pink-6-hsl: 327.76 76.667% 64.044%;
    --pink-7-hsl: 324.79 63.165% 49.271%;
    --pink-8-hsl: 323.62 72.91% 40.989%;
    --pink-9-hsl: 321.7 92.277% 30.025%;
    --pink-10-hsl: 321.91 100% 21.369%;
    --pink-11-hsl: 322.86 100% 15.498%;
    --pink-12-hsl: 326.51 100% 9.8873%;
    --pink-13-hsl: 329.6 100% 5.8593%;
    --pink-14-hsl: 335.9 100% 3.0397%;
    --purple-0-hsl: 300 100% 98.03%;
    --purple-1-hsl: 300 100% 94.051%;
    --purple-2-hsl: 300 100% 87.845%;
    --purple-3-hsl: 300 100% 85.478%;
    --purple-4-hsl: 305.11 96.756% 80.215%;
    --purple-5-hsl: 304.79 80.743% 75.014%;
    --purple-6-hsl: 303.98 58.286% 61.884%;
    --purple-7-hsl: 303 51.739% 48.069%;
    --purple-8-hsl: 302.75 58.303% 40.479%;
    --purple-9-hsl: 302.47 68.329% 30.871%;
    --purple-10-hsl: 302.23 82.413% 20.974%;
    --purple-11-hsl: 302.27 87.194% 14.748%;
    --purple-12-hsl: 302.04 100% 8.6445%;
    --purple-13-hsl: 302.56 100% 5.0337%;
    --purple-14-hsl: 303.56 99.785% 2.4926%;
    --violet-0-hsl: 300 100% 98.361%;
    --violet-1-hsl: 290.97 100% 94.712%;
    --violet-2-hsl: 290.74 100% 89.18%;
    --violet-3-hsl: 289.83 100% 87.046%;
    --violet-4-hsl: 281.87 100% 82.334%;
    --violet-5-hsl: 278.1 100% 79.338%;
    --violet-6-hsl: 276.03 78.818% 68.727%;
    --violet-7-hsl: 277.32 62.062% 56.032%;
    --violet-8-hsl: 277.74 53.345% 48.144%;
    --violet-9-hsl: 278.24 59.7% 37.88%;
    --violet-10-hsl: 278.7 67.426% 26.903%;
    --violet-11-hsl: 278.7 72.173% 19.016%;
    --violet-12-hsl: 279.03 98.579% 10.76%;
    --violet-13-hsl: 276.28 93.422% 6.5557%;
    --violet-14-hsl: 270.42 93.598% 3.4588%;
    --indigo-0-hsl: 260.1 100% 98.803%;
    --indigo-1-hsl: 252.41 100% 95.583%;
    --indigo-2-hsl: 255.46 100% 90.895%;
    --indigo-3-hsl: 256.26 100% 89.037%;
    --indigo-4-hsl: 254.57 100% 84.577%;
    --indigo-5-hsl: 253.83 100% 81.701%;
    --indigo-6-hsl: 252.92 100% 74.647%;
    --indigo-7-hsl: 255.3 78.377% 63.384%;
    --indigo-8-hsl: 256.12 59.836% 55.055%;
    --indigo-9-hsl: 257.05 53.512% 43.976%;
    --indigo-10-hsl: 257.83 58.922% 31.818%;
    --indigo-11-hsl: 257.83 62.391% 22.734%;
    --indigo-12-hsl: 260.46 85.651% 13.239%;
    --indigo-13-hsl: 256.6 85.275% 7.9713%;
    --indigo-14-hsl: 251.44 88.029% 4.2951%;
    --blue-0-hsl: 189.2 100% 97.109%;
    --blue-1-hsl: 202.72 100% 92.247%;
    --blue-2-hsl: 203.84 100% 84.368%;
    --blue-3-hsl: 204.65 100% 81.482%;
    --blue-4-hsl: 209.26 100% 76.109%;
    --blue-5-hsl: 211.62 100% 72.813%;
    --blue-6-hsl: 215.93 100% 64.954%;
    --blue-7-hsl: 216.87 90.127% 53.96%;
    --blue-8-hsl: 216.23 86.53% 45.615%;
    --blue-9-hsl: 215.49 100% 35.114%;
    --blue-10-hsl: 217.52 100% 26.357%;
    --blue-11-hsl: 218.83 100% 19.272%;
    --blue-12-hsl: 225.92 100% 12.92%;
    --blue-13-hsl: 228.48 100% 7.7927%;
    --blue-14-hsl: 231.51 100% 4.3073%;
    --cyan-0-hsl: 180 100% 95.228%;
    --cyan-1-hsl: 186.17 100% 88.125%;
    --cyan-2-hsl: 186.29 100% 73.195%;
    --cyan-3-hsl: 186.35 100% 65.587%;
    --cyan-4-hsl: 188.58 100% 50%;
    --cyan-5-hsl: 191.48 100% 50%;
    --cyan-6-hsl: 194.72 100% 45.467%;
    --cyan-7-hsl: 198.18 100% 40.444%;
    --cyan-8-hsl: 199.2 100% 35.804%;
    --cyan-9-hsl: 200.45 100% 29.306%;
    --cyan-10-hsl: 201.81 100% 21.789%;
    --cyan-11-hsl: 202.74 100% 15.816%;
    --cyan-12-hsl: 207.58 100% 10.277%;
    --cyan-13-hsl: 210.02 100% 6.07%;
    --cyan-14-hsl: 216.11 100% 3.1683%;
    --teal-0-hsl: 162.67 100% 95.686%;
    --teal-1-hsl: 157.39 90.546% 88.554%;
    --teal-2-hsl: 160.36 89.201% 74.426%;
    --teal-3-hsl: 161.89 87.959% 67.704%;
    --teal-4-hsl: 166 83.168% 48.94%;
    --teal-5-hsl: 166.06 100% 42.546%;
    --teal-6-hsl: 162.91 100% 36.718%;
    --teal-7-hsl: 158.97 100% 30.936%;
    --teal-8-hsl: 157.75 100% 26.939%;
    --teal-9-hsl: 156.2 100% 21.603%;
    --teal-10-hsl: 154.34 100% 15.696%;
    --teal-11-hsl: 152.81 100% 11.206%;
    --teal-12-hsl: 145.58 100% 6.6786%;
    --teal-13-hsl: 140.99 100% 3.7461%;
    --teal-14-hsl: 139.08 100% 1.6524%;
    --green-0-hsl: 107.61 100% 96.686%;
    --green-1-hsl: 109.12 76.329% 90.222%;
    --green-2-hsl: 109.2 74.537% 79.898%;
    --green-3-hsl: 109.2 72.703% 75.836%;
    --green-4-hsl: 109.11 60.113% 66.508%;
    --green-5-hsl: 108.98 54.383% 60.466%;
    --green-6-hsl: 107.79 56.16% 44.904%;
    --green-7-hsl: 114.02 100% 29.213%;
    --green-8-hsl: 120 100% 25.35%;
    --green-9-hsl: 120 100% 20.239%;
    --green-10-hsl: 120 100% 14.627%;
    --green-11-hsl: 120 100% 10.397%;
    --green-12-hsl: 120 100% 6.0679%;
    --green-13-hsl: 120 100% 3.3457%;
    --green-14-hsl: 120 100% 1.4227%;
    --lime-0-hsl: 82.94 100% 95.882%;
    --lime-1-hsl: 83.595 71.341% 88.009%;
    --lime-2-hsl: 81.784 70.55% 75.095%;
    --lime-3-hsl: 80.963 69.5% 69.94%;
    --lime-4-hsl: 79.536 60.32% 59.047%;
    --lime-5-hsl: 78.31 56.475% 51.59%;
    --lime-6-hsl: 75.704 100% 33.418%;
    --lime-7-hsl: 79.561 100% 27.464%;
    --lime-8-hsl: 80.785 100% 23.729%;
    --lime-9-hsl: 82.375 100% 18.838%;
    --lime-10-hsl: 84.34 100% 13.524%;
    --lime-11-hsl: 86.044 100% 9.5631%;
    --lime-12-hsl: 94.235 100% 5.4287%;
    --lime-13-hsl: 98.414 100% 2.9293%;
    --lime-14-hsl: 98.857 100% 1.2052%;
    --yellow-0-hsl: 53.497 100% 95.034%;
    --yellow-1-hsl: 48.301 85.37% 87.019%;
    --yellow-2-hsl: 48.232 86.422% 72.731%;
    --yellow-3-hsl: 48.479 85.843% 66.608%;
    --yellow-4-hsl: 49.586 77.117% 52.231%;
    --yellow-5-hsl: 50.304 100% 42.359%;
    --yellow-6-hsl: 47.341 100% 36.817%;
    --yellow-7-hsl: 43.296 100% 31.407%;
    --yellow-8-hsl: 42.035 100% 27.457%;
    --yellow-9-hsl: 40.461 100% 22.123%;
    --yellow-10-hsl: 38.687 100% 16.149%;
    --yellow-11-hsl: 37.452 100% 11.548%;
    --yellow-12-hsl: 30.439 100% 7.025%;
    --yellow-13-hsl: 26.463 100% 3.9473%;
    --yellow-14-hsl: 23.613 100% 1.7694%;
    --orange-0-hsl: 44.914 100% 95.208%;
    --orange-1-hsl: 37.088 100% 88.348%;
    --orange-2-hsl: 37.296 100% 75.614%;
    --orange-3-hsl: 37.412 100% 70.457%;
    --orange-4-hsl: 35.98 100% 60.984%;
    --orange-5-hsl: 38.394 100% 49.207%;
    --orange-6-hsl: 33.417 100% 43.847%;
    --orange-7-hsl: 26.827 100% 38.437%;
    --orange-8-hsl: 24.755 100% 33.874%;
    --orange-9-hsl: 22.154 100% 27.576%;
    --orange-10-hsl: 19.258 100% 20.389%;
    --orange-11-hsl: 17.41 100% 14.757%;
    --orange-12-hsl: 6.7957 100% 9.3842%;
    --orange-13-hsl: 6.6397 100% 5.5129%;
    --orange-14-hsl: 5.6292 100% 2.806%;
    --red-0-hsl: 13.173 100% 97.384%;
    --red-1-hsl: 8.8377 100% 92.82%;
    --red-2-hsl: 7.1314 100% 85.638%;
    --red-3-hsl: 6.3437 100% 83.023%;
    --red-4-hsl: 4.603 100% 77.957%;
    --red-5-hsl: 3.6533 100% 74.842%;
    --red-6-hsl: 1.4993 91.206% 65.983%;
    --red-7-hsl: 357.35 71.038% 51.397%;
    --red-8-hsl: 355.03 78.979% 42.44%;
    --red-9-hsl: 351.78 100% 31.042%;
    --red-10-hsl: 355.49 100% 23.072%;
    --red-11-hsl: 356.83 100% 16.787%;
    --red-12-hsl: 0 100% 10.857%;
    --red-13-hsl: 359.84 100% 6.4957%;
    --red-14-hsl: 359.63 100% 3.4618%;
}
