<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Fylgja Boilerplate</title>
		<link rel="stylesheet" href="../main.css" />
		<script src="../index.js"></script>
	</head>
	<body>
		<header class="sticky-header">
			<div class="container flexbox align gap" style="--py: 1rem;">
				<a href="/">
					<img
						src="https://raw.githubusercontent.com/fylgja/.github/main/assets/logo.svg"
						width="150"
						height="65"
						alt="Fylgja"
					>
				</a>
				<nav>
					<a class="btn" href="/">Back</a>
					<button popovertarget="menuTheme" aria-label="Pick Theme">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M11 17a4 4 0 0 1-8 0V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2Z"/><path d="M16.7 13H19a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H7"/><path d="M 7 17h0.01"/><path d="m11 8 2.3-2.3a2.4 2.4 0 0 1 3.404.004L18.6 7.6a2.4 2.4 0 0 1 .026 3.434L9.9 19.8"/></svg>
					</button>
					<dialog id="menuTheme" popover class="offcanvas from-end">
						<div class="flexbox align">
							<strong>Pick theme</strong>
							<button
								popovertarget="menuTheme"
								popovertargetaction="hide"
								aria-label="Close theme Options"
							>X</button>
						</div>
						<hr style="--my: 0.5rem;">
						<div class="menu" style="--btn-px: 0; --btn-radius: 0;">
							<button data-set-theme="auto">Default</button>
							<button data-set-theme="dark">Dark theme</button>
							<button data-set-theme="light">Light theme</button>
							<button data-set-theme="dark arc">Arc Dark theme</button>
							<button data-set-theme="light arc">Arc Light theme</button>
							<button data-set-theme="dark lava">Lava Dark theme</button>
							<button data-set-theme="light lava">Lava Light theme</button>
						</div>
					</dialog>
				</nav>
			</div>
		</header>
		<main class="container" style="--py: 0 2rem;">
			<section aria-label="breadcrumbs">
				<h2>Breadcrumbs</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumbs">
						<li><a href="/">Home</a></li>
						<li><a href="/#path">Path</a></li>
						<li><a href="/#path-deeper" aria-current="page">Cool Page</a></li>
					</ol>
				</nav>
				<nav aria-label="breadcrumb-overflow">
					<ol class="breadcrumbs scroll-x" style="--py: 1rem;">
						<li><a href="/">Home</a></li>
						<li><a href="/#level-1">Level 1</a></li>
						<li><a href="/#level-2">Level 2</a></li>
						<li><a href="/#level-3">Level 3</a></li>
						<li><a href="/#level-4">Level 4</a></li>
						<li><a href="/#level-5">Level 5</a></li>
						<li
							class="sticky"
							style="--inset-s: 0; background: var(--root-bg);"
						>
							<a href="/#level-6" aria-current="page">Level 6</a>
						</li>
					</ol>
				</nav>
				<nav aria-label="breadcrumb-mobile-back-with-schema-data">
					<ol class="breadcrumbs" style="--breadcrumbs-separator: none;" itemscope itemtype="https://schema.org/BreadcrumbList">
						<li class="sr-only sm:not-sr-only" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
							<a href="/" itemprop="item">Home</a>
							<meta itemprop="position" content="1">
						</li>
						<li itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
							<span aria-hidden="true" class="hidden sm:block">/</span>
							<a href="/#path" itemprop="item">
								<span aria-hidden="true" class="sm:hidden">←</span>
								<span>Path</span>
							</a>
							<meta itemprop="position" content="2">
						</li>
						<li class="sr-only sm:not-sr-only" itemscope itemprop="itemListElement" itemtype="https://schema.org/ListItem">
							<span aria-hidden="true">/</span>
							<a href="/#path-deeper" itemprop="item" aria-current="page">Cool Page</a>
							<meta itemprop="position" content="3">
						</li>
					</ol>
				</nav>
			</section>
			<section aria-label="badges">
				<h2>Badge</h2>
				<div class="flexbox gap" style="--gap: 2rem;">
					<style>
						.box-for-badge {
							--align: center;
							background-color: color-mix(in srgb, var(--root-bg) 86%, var(--root-fg));
							inline-size: 5rem;
							aspect-ratio: 1;
						}
					</style>
					<div class="relative">
						<span
							class="absolute badge"
							style="--inset-t: -0.5rem; --inset-r: -0.5rem;"
						>New</span>
						<div class="stack align rounded box-for-badge">content</div>
					</div>
					<div class="relative">
						<span
							class="absolute badge"
							style="--inset-b: -0.5rem; --inset-l: -0.5rem;"
						>Sale</span>
						<div class="stack align rounded box-for-badge">content</div>
					</div>
					<div class="relative">
						<span
							class="absolute badge"
							style="--inset-t: 1rem; --inset-r: -1rem; writing-mode: tb;"
						>Hot</span>
						<div class="stack align rounded box-for-badge">content</div>
					</div>
					<div>
						<span class="badge">New</span>
						<span class="badge" style="--badge-bg: red;">Hot</span>
						<span class="badge" style="--badge-bg: transparent; --badge-color: currentcolor; border-width: 1px;">99+</span>
					</div>
				</div>
			</section>
			<section aria-label="joins">
				<h2>Joins <small>(a.k.a. btn-group or input-group)</small></h2>
				<form action="#" style="--btn-active-stroke: var(--brand); --btn-active-bg: var(--brand); --btn-active-color: var(--on-brand);">
					<h3>Radio join</h3>
					<fieldset class="join -custom-input">
						<label class="btn">
							<input type="radio" name="toggle-join">
							Off
						</label>
						<label class="btn">
							<input type="radio" name="toggle-join" checked>
							On
						</label>
					</fieldset>
					<fieldset class="relative max-size" style="--my: 3rem 0; --md_my: 4rem 0;">
						<legend
							class="absolute badge"
							style="--inset-t: -1rem; --inset-r: 0.25rem; --z: var(--layer-1); --badge-bg: var(--root-bg); --badge-color: var(--root-fg); border-width: 2px;"
						>Pick your fav brand</legend>
						<div class="join -custom-input divide-x" style="--divide: 0;">
							<label class="btn">
								<input type="radio" name="toggle-actions-join">
								Nintendo
							</label>
							<label class="btn">
								<input type="radio" name="toggle-actions-join" checked>
								PlayStation
							</label>
							<label class="btn">
								<input type="radio" name="toggle-actions-join">
								Xbox
							</label>
						</div>
					</fieldset>
				</form>
				<form action="#">
					<h3>Rating join</h3>
					<fieldset class="join -step gap" style="--gap: 0.5rem; --md_gap: 1rem;">
						<label>
							<input type="radio" name="rating">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
						</label>
						<label>
							<input type="radio" name="rating">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
						</label>
						<label>
							<input type="radio" name="rating" checked>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
						</label>
						<label>
							<input type="radio" name="rating">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
						</label>
						<label>
							<input type="radio" name="rating">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
						</label>
					</fieldset>
				</form>
				<search>
					<h3>Search form</h3>
					<form action="#" class="join" style="--rounded: 1rem;">
						<input type="search" name="join-search">
						<button>Search</button>
					</form>
				</search>
				<section>
					<h3>Pagination</h3>
					<div
						class="join"
						style="
							--btn-border-width: 0;
							--btn-bg: color-mix(in srgb, var(--root-bg) 86%, var(--root-fg));
							--btn-hover-bg: color-mix(in srgb, var(--root-bg) 92%, var(--root-fg));
							--btn-active-bg: var(--brand);
							--btn-active-color: var(--on-brand);
						"
					>
						<button>←</button>
						<button>1</button>
						<button aria-current="page">2</button>
						<button>3</button>
						<span class="btn is-disabled" role="seppartor">...</span>
						<button>10</button>
						<button>→</button>
					</div>
				</section>
			</section>
			<section aria-label="cards">
				<h2>Cards</h2>
				<div class="flow">
					<div class="auto-grid align" style="--grid-max-cols: 3;">
						<div class="card">
							<h2>Card with title</h2>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et quas labore id, inventore nihil vero placeat. Reiciendis vero deserunt facere. Repellat praesentium laudantium tempore aperiam quo quas cupiditate saepe possimus.</p>
						</div>
						<div class="card">
							<img src="https://picsum.photos/id/425/500/300" alt="coffee beans">
						</div>
						<img src="https://picsum.photos/id/435/500/300" alt="coffee beans" class="card">
					</div>
					<div class="auto-grid" style="--grid-max-cols: 2;">
						<figure class="card">
							<img src="https://picsum.photos/id/425/800/300" alt="coffee beans">
							<figcaption>
								<h2>Card Figure</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et quas labore id, inventore nihil vero placeat. Reiciendis vero deserunt facere. Repellat praesentium laudantium tempore aperiam quo quas cupiditate saepe possimus.</p>
							</figcaption>
						</figure>
						<div class="card">
							<img src="https://picsum.photos/id/435/800/300" alt="coffee beans">
							<div class="card-content">
								<h2>Card Content</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et quas labore id, inventore nihil vero placeat. Reiciendis vero deserunt facere. Repellat praesentium laudantium tempore aperiam quo quas cupiditate saepe possimus.</p>
							</div>
						</div>
					</div>
					<div class="auto-grid" style="--grid-max-cols: 3;">
						<article class="card flexbox" style="--flex-dir: column;">
							<img src="https://picsum.photos/id/425/500/300" alt="coffee beans">
							<div class="card-content flexbox" style="--flex-dir: column; --flex: 1 1 auto;">
								<div class="flow">
									<h3>Product X</h3>
									<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et quas labore id, inventore nihil vero placeat.</p>
								</div>
								<p class="line-sm text-lg">
									<span class="sr-only">Old Price</span>
									<del class="text-sm">€52.00</del><br>
									<span class="sr-only">Price</span>
									<strong>€45.00</strong>
								</p>
								<form action="#" style="--my: auto 0">
									<button class="w-full">Add to Cart</button>
								</form>
							</div>
						</article>
						<article class="card flexbox" style="--flex-dir: column;">
							<img src="https://picsum.photos/id/425/500/300" alt="coffee beans">
							<div class="card-content flexbox" style="--flex-dir: column; --flex: 1 1 auto;">
								<div class="flow">
									<h3>Product Y</h3>
									<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
								</div>
								<p class="line-sm text-lg">
									<span class="sr-only">Price</span>
									<strong>€15.00</strong>
								</p>
								<form action="#" style="--my: auto 0">
									<button class="w-full">Add to Cart</button>
								</form>
							</div>
						</article>
						<article class="card flexbox" style="--flex-dir: column;">
							<img src="https://picsum.photos/id/425/500/300" alt="coffee beans">
							<div class="card-content flexbox" style="--flex-dir: column; --flex: 1 1 auto;">
								<div class="flow">
									<h3>Product Z</h3>
									<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et quas labore id, inventore nihil vero placeat, inventore nihil vero placeat</p>
								</div>
								<p class="line-sm text-lg">
									<span class="sr-only">Price</span>
									<strong>€125.00</strong>
								</p>
								<form action="#" style="--my: auto 0">
									<button class="w-full">Add to Cart</button>
								</form>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section aria-label="dropdown">
				<h2>Menus</h2>
				<menu class="list-none flexbox gap" style="--px: 0">
					<li><button>Copy</button></li>
					<li><button>Cut</button></li>
					<li><button>Paste</button></li>
				</menu>
				<div class="relative">
					<button onclick="menuFylgja.classList.toggle('hidden')">Pick Fav CSS Library</button>
					<nav id="menuFylgja" class="absolute hidden card" style="--inset-b: 100%;">
						<div class="menu">
							<a href="#no-link">Fylgja!!</a>
							<a href="#no-link">Fylgja!!</a>
							<a href="#no-link">Fylgja!!</a>
						</div>
					</nav>
				</div>
			</section>
		</main>
	</body>
</html>
