:host {
    --blue-gray-0: #f0fdff;
    --blue-gray-1: #d2dff2;
    --blue-gray-2: #b2bfd1;
    --blue-gray-3: #99a6b8;
    --blue-gray-4: #8a96a8;
    --blue-gray-5: #596475;
    --blue-gray-6: #313b4a;
    --blue-gray-7: #192230;
    --blue-gray-8: #020713;
    --blue-gray-9: #000004;
}
