:root {
    --blue-gray-0: #f0fdff;
    --blue-gray-1: #e2f0ff;
    --blue-gray-2: #d2dff2;
    --blue-gray-3: #ccd9ec;
    --blue-gray-4: #b8c5d8;
    --blue-gray-5: #acb8cb;
    --blue-gray-6: #8d99ab;
    --blue-gray-7: #707b8c;
    --blue-gray-8: #5e6a7b;
    --blue-gray-9: #485363;
    --blue-gray-10: #313b4a;
    --blue-gray-11: #202938;
    --blue-gray-12: #0d1624;
    --blue-gray-13: #040b18;
    --blue-gray-14: #01040e;
}
