:host {
    --blue-0: #f0fdff;
    --blue-1: #d7f0ff;
    --blue-2: #a9d9ff;
    --blue-3: #88beff;
    --blue-4: #6daaff;
    --blue-5: #4c94ff;
    --blue-6: #3783ff;
    --blue-7: #2071f3;
    --blue-8: #1463dc;
    --blue-9: #0c57c9;
    --blue-10: #003ea1;
    --blue-11: #002f83;
    --blue-12: #001453;
    --blue-13: #00082e;
    --blue-14: #000214;
}
