:host {
    --blue-gray-0: #eceff1;
    --blue-gray-1: #cfd8dc;
    --blue-gray-2: #b0bec5;
    --blue-gray-3: #90a4ae;
    --blue-gray-4: #78909c;
    --blue-gray-5: #607d8b;
    --blue-gray-6: #546e7a;
    --blue-gray-7: #455a64;
    --blue-gray-8: #37474f;
    --blue-gray-9: #263238;
}
