:root {
    --blue-0: #e9fdff;
    --blue-1: #b7e0ff;
    --blue-2: #6cbaff;
    --blue-3: #369aff;
    --blue-4: #007eff;
    --blue-5: #0049f8;
    --blue-6: #0004b8;
    --blue-7: #00007e;
    --blue-8: #0f0058;
    --blue-9: #020019;
}
