:host {
    --blue-0: #f4fcff;
    --blue-1: #dcecff;
    --blue-2: #a9d9ff;
    --blue-3: #76bcff;
    --blue-4: #5aa7ff;
    --blue-5: #388eff;
    --blue-6: #2375f7;
    --blue-7: #105fd9;
    --blue-8: #0049b3;
    --blue-9: #043785;
    --blue-10: #001756;
    --blue-11: #000e34;
    --blue-12: #000310;
}
