:host {
    --cyan-0: #e7ffff;
    --cyan-1: #c2f9ff;
    --cyan-2: #6feaff;
    --cyan-3: #25d2fc;
    --cyan-4: #00c0f0;
    --cyan-5: #00afe8;
    --cyan-6: #009fdb;
    --cyan-7: #0090ce;
    --cyan-8: #007fba;
    --cyan-9: #0072a9;
    --cyan-10: #005685;
    --cyan-11: #00446c;
    --cyan-12: #002443;
    --cyan-13: #001224;
    --cyan-14: #00050e;
}
