:root {
    --cyan-0: #e7ffff;
    --cyan-1: #c2f9ff;
    --cyan-2: #76f1ff;
    --cyan-3: #4fecff;
    --cyan-4: #00dbff;
    --cyan-5: #00ceff;
    --cyan-6: #00afe8;
    --cyan-7: #0090ce;
    --cyan-8: #007cb7;
    --cyan-9: #006395;
    --cyan-10: #00476f;
    --cyan-11: #003251;
    --cyan-12: #001c34;
    --cyan-13: #000f1f;
    --cyan-14: #000610;
}
