:root {
    --cyan-0: #eff;
    --cyan-1: #cff2fe;
    --cyan-2: #6feaff;
    --cyan-3: #00d6ff;
    --cyan-4: #00c4ff;
    --cyan-5: #00aef1;
    --cyan-6: #0093d2;
    --cyan-7: #007cb7;
    --cyan-8: #006395;
    --cyan-9: #00496f;
    --cyan-10: #002745;
    --cyan-11: #001729;
    --cyan-12: #00050b;
}
