:host {
    --cyan-0: #d8ffff;
    --cyan-1: #8deeff;
    --cyan-2: #00d8ff;
    --cyan-3: #00c0ff;
    --cyan-4: #00b1ff;
    --cyan-5: #0077ca;
    --cyan-6: #004691;
    --cyan-7: #002862;
    --cyan-8: #00003e;
    --cyan-9: #00000e;
}
