:root {
    --gray-0: #fcfcfc;
    --gray-1: #eee;
    --gray-2: #dedede;
    --gray-3: #d7d7d7;
    --gray-4: #c4c4c4;
    --gray-5: #b7b7b7;
    --gray-6: #989898;
    --gray-7: #7a7a7a;
    --gray-8: #696969;
    --gray-9: #525252;
    --gray-10: #3a3a3a;
    --gray-11: #292929;
    --gray-12: #161616;
    --gray-13: #0b0b0b;
    --gray-14: #040404;
}
