:host {
    --gray-0: #eaffff;
    --gray-1: #cde1f0;
    --gray-2: #adc1cf;
    --gray-3: #94a8b6;
    --gray-4: #8598a6;
    --gray-5: #546673;
    --gray-6: #2c3d49;
    --gray-7: #14242f;
    --gray-8: #000812;
    --gray-9: #000003;
}
