:host {
    --gray-0: #fcfcfc;
    --gray-1: #dedede;
    --gray-2: #bebebe;
    --gray-3: #a4a4a4;
    --gray-4: #959595;
    --gray-5: #636363;
    --gray-6: #3a3a3a;
    --gray-7: #222;
    --gray-8: #070707;
    --gray-9: #000;
}
