:host {
    --green-0: #f2ffee;
    --green-1: #daf9d3;
    --green-2: #b3f2a6;
    --green-3: #a5ee95;
    --green-4: #89dd76;
    --green-5: #77d163;
    --green-6: #4cb332;
    --green-7: #0f9500;
    --green-8: #008100;
    --green-9: #006700;
    --green-10: #004b00;
    --green-11: #003500;
    --green-12: #001f00;
    --green-13: #010;
    --green-14: #000700;
}
