:host {
    --green-gray-0: #eefff2;
    --green-gray-1: #ddf1e1;
    --green-gray-2: #cadece;
    --green-gray-3: #b0c4b4;
    --green-gray-4: #9eb1a2;
    --green-gray-5: #889b8c;
    --green-gray-6: #718375;
    --green-gray-7: #5d6e61;
    --green-gray-8: #46584a;
    --green-gray-9: #314235;
    --green-gray-10: #142318;
    --green-gray-11: #07150b;
    --green-gray-12: #000501;
}
