:root {
    --green-0: #f5fff3;
    --green-1: #def2d9;
    --green-2: #adeb9f;
    --green-3: #79d963;
    --green-4: #5bc840;
    --green-5: #32b300;
    --green-6: #169800;
    --green-7: #008100;
    --green-8: #006700;
    --green-9: #004d00;
    --green-10: #002a00;
    --green-11: #001900;
    --green-12: #000500;
}
