:root {
    --green-gray-0: #eefff2;
    --green-gray-1: #e0f5e5;
    --green-gray-2: #cadece;
    --green-gray-3: #b0c4b4;
    --green-gray-4: #9eb1a2;
    --green-gray-5: #8b9e8f;
    --green-gray-6: #7c8f80;
    --green-gray-7: #6e8072;
    --green-gray-8: #5f7163;
    --green-gray-9: #546658;
    --green-gray-10: #3c4d40;
    --green-gray-11: #2c3d30;
    --green-gray-12: #122116;
    --green-gray-13: #041107;
    --green-gray-14: #000501;
}
