:root {
    --green-0: #f2ffee;
    --green-1: #daf9d3;
    --green-2: #adeb9f;
    --green-3: #8bd47b;
    --green-4: #70c35d;
    --green-5: #4cb332;
    --green-6: #34a409;
    --green-7: #0f9500;
    --green-8: #008400;
    --green-9: #070;
    --green-10: #005b00;
    --green-11: #004800;
    --green-12: #002800;
    --green-13: #001400;
    --green-14: #000600;
}
