:host {
    --green-0: #ebffe5;
    --green-1: #bbefb0;
    --green-2: #6fdb55;
    --green-3: #2ac600;
    --green-4: #00bc00;
    --green-5: #008100;
    --green-6: #005100;
    --green-7: #003200;
    --green-8: #010;
    --green-9: #000100;
}
