:host {
    --green-gray-0: #eefff2;
    --green-gray-1: #d0e4d4;
    --green-gray-2: #b0c4b4;
    --green-gray-3: #97aa9c;
    --green-gray-4: #889b8c;
    --green-gray-5: #57685b;
    --green-gray-6: #2f3f33;
    --green-gray-7: #16261a;
    --green-gray-8: #010a03;
    --green-gray-9: #000100;
}
