:root {
    --indigo-0: #fbf7ff;
    --indigo-1: #dcd3ff;
    --indigo-2: #bea2ff;
    --indigo-3: #a87bff;
    --indigo-4: #9f52ff;
    --indigo-5: #6d18ed;
    --indigo-6: #4700af;
    --indigo-7: #2d0077;
    --indigo-8: #190051;
    --indigo-9: #030016;
}
