:root {
    --indigo-0: #fbf9ff;
    --indigo-1: #ede8ff;
    --indigo-2: #d6caff;
    --indigo-3: #bdadff;
    --indigo-4: #ab97ff;
    --indigo-5: #9a7eff;
    --indigo-6: #8b6bf7;
    --indigo-7: #7e58eb;
    --indigo-8: #6f4bd4;
    --indigo-9: #6441c2;
    --indigo-10: #4b2a9a;
    --indigo-11: #3b1e7e;
    --indigo-12: #20054f;
    --indigo-13: #0f022c;
    --indigo-14: #040112;
}
