:host {
    --indigo-0: #fbf9ff;
    --indigo-1: #ede8ff;
    --indigo-2: #ddd1ff;
    --indigo-3: #d6c7ff;
    --indigo-4: #c3b0ff;
    --indigo-5: #b7a2ff;
    --indigo-6: #9a7eff;
    --indigo-7: #7e58eb;
    --indigo-8: #6d48d1;
    --indigo-9: #5634ac;
    --indigo-10: #3e2181;
    --indigo-11: #2b165e;
    --indigo-12: #19053f;
    --indigo-13: #0d0326;
    --indigo-14: #050115;
}
