:root {
    --indigo-0: #fbfaff;
    --indigo-1: #eae7ff;
    --indigo-2: #d6caff;
    --indigo-3: #bea6ff;
    --indigo-4: #ac8fff;
    --indigo-5: #9873ff;
    --indigo-6: #815cee;
    --indigo-7: #6d48d1;
    --indigo-8: #5634ac;
    --indigo-9: #402880;
    --indigo-10: #220852;
    --indigo-11: #130631;
    --indigo-12: #04010f;
}
