:root {
    --lime-0: #f9fef0;
    --lime-1: #e5f0d4;
    --lime-2: #c5e68c;
    --lime-3: #a3d139;
    --lime-4: #8ebf00;
    --lime-5: #77a900;
    --lime-6: #618f00;
    --lime-7: #4f7900;
    --lime-8: #3c6000;
    --lime-9: #2d4700;
    --lime-10: #132600;
    --lime-11: #0a1600;
    --lime-12: #020500;
}
