:host {
    --lime-0: #f4ffde;
    --lime-1: #cfeaa1;
    --lime-2: #a1d206;
    --lime-3: #82bb00;
    --lime-4: #6bae00;
    --lime-5: #417600;
    --lime-6: #1d4800;
    --lime-7: #0c2b00;
    --lime-8: #000d00;
    --lime-9: #000100;
}
