:root {
    --lime-0: #f7ffea;
    --lime-1: #e5f6cb;
    --lime-2: #ccec93;
    --lime-3: #c2e87d;
    --lime-4: #add658;
    --lime-5: #9fc93e;
    --lime-6: #7eaa00;
    --lime-7: #5e8c00;
    --lime-8: #4f7900;
    --lime-9: #3c6000;
    --lime-10: #294500;
    --lime-11: #1c3100;
    --lime-12: #0c1c00;
    --lime-13: #050f00;
    --lime-14: #020600;
}
