:root {
    --orange-0: #fff7d8;
    --orange-1: #ffd394;
    --orange-2: #ffa100;
    --orange-3: #ff7a00;
    --orange-4: #ff5300;
    --orange-5: #ba2000;
    --orange-6: #810000;
    --orange-7: #500;
    --orange-8: #2d0000;
    --orange-9: #070000;
}
