:root {
    --pink-0: #fff4ff;
    --pink-1: #ffdff4;
    --pink-2: #ffb7e3;
    --pink-3: #ff97ca;
    --pink-4: #f47db9;
    --pink-5: #ea5da9;
    --pink-6: #db479a;
    --pink-7: #cd2e8b;
    --pink-8: #b8217c;
    --pink-9: #a7186f;
    --pink-10: #830054;
    --pink-11: #6a0043;
    --pink-12: #400024;
    --pink-13: #230012;
    --pink-14: #0d0005;
}
