:host {
    --pink-0: #fff7fe;
    --pink-1: #ffe1ef;
    --pink-2: #ffb7e3;
    --pink-3: #ff88ce;
    --pink-4: #ff6cbc;
    --pink-5: #f14aa8;
    --pink-6: #d1328e;
    --pink-7: #b51c79;
    --pink-8: #930660;
    --pink-9: #6d0b47;
    --pink-10: #430027;
    --pink-11: #280016;
    --pink-12: #0b0005;
}
