:host {
    --pink-0: #ffefff;
    --pink-1: #ffc3e7;
    --pink-2: #ff80d0;
    --pink-3: #ff49ba;
    --pink-4: #ff00af;
    --pink-5: #c20078;
    --pink-6: #87004c;
    --pink-7: #58002e;
    --pink-8: #300011;
    --pink-9: #080001;
}
