:host {
    --purple-0: #fff0ff;
    --purple-1: #ffc6fe;
    --purple-2: #ff88fa;
    --purple-3: #f558ed;
    --purple-4: #f300ec;
    --purple-5: #ad00a9;
    --purple-6: #760075;
    --purple-7: #4d004c;
    --purple-8: #27002a;
    --purple-9: #050007;
}
