:host {
    --purple-0: #fff7ff;
    --purple-1: #fbe2f8;
    --purple-2: #ffbbfd;
    --purple-3: #fd8ff4;
    --purple-4: #ee75e6;
    --purple-5: #db55d4;
    --purple-6: #bd3fb7;
    --purple-7: #a32b9e;
    --purple-8: #851980;
    --purple-9: #62155f;
    --purple-10: #3b0039;
    --purple-11: #230122;
    --purple-12: #090008;
}
