:host {
    --purple-0: #fff5ff;
    --purple-1: #ffe1ff;
    --purple-2: #ffbbfd;
    --purple-3: #f09be8;
    --purple-4: #e282da;
    --purple-5: #d665cf;
    --purple-6: #c851c1;
    --purple-7: #ba3bb4;
    --purple-8: #a72fa1;
    --purple-9: #972692;
    --purple-10: #760f72;
    --purple-11: #5f055b;
    --purple-12: #380036;
    --purple-13: #1e001d;
    --purple-14: #0a000a;
}
