:root {
    --red-0: #fff7f4;
    --red-1: #ffe2dc;
    --red-2: #ffb9a8;
    --red-3: #ff8b75;
    --red-4: #ff6e59;
    --red-5: #ff4b38;
    --red-6: #df3322;
    --red-7: #c21b0d;
    --red-8: #9e0200;
    --red-9: #760a03;
    --red-10: #490000;
    --red-11: #2c0000;
    --red-12: #0d0000;
}
