:host {
    --red-0: #fff0e8;
    --red-1: #ffc5b7;
    --red-2: #ff836c;
    --red-3: #ff4a35;
    --red-4: #f00;
    --red-5: #d30000;
    --red-6: #940000;
    --red-7: #620000;
    --red-8: #380000;
    --red-9: #0b0000;
}
