:host {
    --red-0: #fff5f2;
    --red-1: #ffe0da;
    --red-2: #ffb8af;
    --red-3: #ff9890;
    --red-4: #ff7e76;
    --red-5: #f75d59;
    --red-6: #e94646;
    --red-7: #db2b33;
    --red-8: #c51d28;
    --red-9: #b31220;
    --red-10: #8d000e;
    --red-11: #720006;
    --red-12: #460000;
    --red-13: #260000;
    --red-14: #0f0000;
}
