:root {
    --red-gray-0: #fff4f4;
    --red-gray-1: #ffe7e7;
    --red-gray-2: #ebd0d0;
    --red-gray-3: #d1b6b6;
    --red-gray-4: #bda4a4;
    --red-gray-5: #aa9191;
    --red-gray-6: #9b8282;
    --red-gray-7: #8b7474;
    --red-gray-8: #7c6565;
    --red-gray-9: #715a5a;
    --red-gray-10: #574142;
    --red-gray-11: #463232;
    --red-gray-12: #291718;
    --red-gray-13: #180808;
    --red-gray-14: #0a0101;
}
