:host {
    --red-gray-0: #fff4f4;
    --red-gray-1: #ffe7e7;
    --red-gray-2: #f1d7d6;
    --red-gray-3: #ebd0d0;
    --red-gray-4: #d7bdbd;
    --red-gray-5: #cab0b0;
    --red-gray-6: #aa9191;
    --red-gray-7: #8b7474;
    --red-gray-8: #796262;
    --red-gray-9: #624c4c;
    --red-gray-10: #493435;
    --red-gray-11: #362323;
    --red-gray-12: #221011;
    --red-gray-13: #160607;
    --red-gray-14: #0d0202;
}
