:root {
    --red-gray-0: #fff4f4;
    --red-gray-1: #ffe4e4;
    --red-gray-2: #ebd0d0;
    --red-gray-3: #d1b6b6;
    --red-gray-4: #bda4a4;
    --red-gray-5: #a78e8e;
    --red-gray-6: #8e7676;
    --red-gray-7: #796262;
    --red-gray-8: #624c4c;
    --red-gray-9: #4c3737;
    --red-gray-10: #2c191a;
    --red-gray-11: #1d0c0c;
    --red-gray-12: #0a0101;
}
