:root {
    --red-gray-0: #fff4f4;
    --red-gray-1: #f1d7d6;
    --red-gray-2: #d1b6b6;
    --red-gray-3: #b79d9d;
    --red-gray-4: #a78e8e;
    --red-gray-5: #745d5d;
    --red-gray-6: #493435;
    --red-gray-7: #2f1c1c;
    --red-gray-8: #110304;
    --red-gray-9: #020000;
}
