:host {
    --teal-0: #effffa;
    --teal-1: #d2f4e7;
    --teal-2: #7df1cb;
    --teal-3: #00e1ac;
    --teal-4: #00d197;
    --teal-5: #00bc80;
    --teal-6: #00a169;
    --teal-7: #008956;
    --teal-8: #006e42;
    --teal-9: #005231;
    --teal-10: #002e16;
    --teal-11: #001b0c;
    --teal-12: #000602;
}
