:root {
    --teal-0: #e9fff9;
    --teal-1: #c7fce8;
    --teal-2: #7df1cb;
    --teal-3: #43dab0;
    --teal-4: #00ca9b;
    --teal-5: #00bb86;
    --teal-6: #00ac76;
    --teal-7: #009e66;
    --teal-8: #008d59;
    --teal-9: #007f4f;
    --teal-10: #006139;
    --teal-11: #004d2b;
    --teal-12: #002c14;
    --teal-13: #001608;
    --teal-14: #000702;
}
