:host {
    --teal-0: #dcfff7;
    --teal-1: #97f4d4;
    --teal-2: #00e5aa;
    --teal-3: #00d28c;
    --teal-4: #00c976;
    --teal-5: #008b4a;
    --teal-6: #005a24;
    --teal-7: #003810;
    --teal-8: #001600;
    --teal-9: #000200;
}
