:root {
    --violet-0: #fff7ff;
    --violet-1: #fbe4ff;
    --violet-2: #f0c1ff;
    --violet-3: #d9a3ff;
    --violet-4: #ca8cf5;
    --violet-5: #bc70ee;
    --violet-6: #ae5de1;
    --violet-7: #a049d4;
    --violet-8: #8f3dc0;
    --violet-9: #8133ae;
    --violet-10: #631e8a;
    --violet-11: #4f1370;
    --violet-12: #2e0045;
    --violet-13: #180026;
    --violet-14: #07000f;
}
