:host {
    --violet-0: #fff3ff;
    --violet-1: #f2ccff;
    --violet-2: #e594ff;
    --violet-3: #d469ff;
    --violet-4: #ce33ff;
    --violet-5: #9100d1;
    --violet-6: #610097;
    --violet-7: #3e0065;
    --violet-8: #1f0041;
    --violet-9: #04000f;
}
