:host {
    --yellow-0: #fdffd9;
    --yellow-1: #e2e496;
    --yellow-2: #c7c700;
    --yellow-3: #b2ad00;
    --yellow-4: #a79c00;
    --yellow-5: #736700;
    --yellow-6: #493b00;
    --yellow-7: #2d2100;
    --yellow-8: #100600;
    --yellow-9: #010100;
}
