:host {
    --yellow-0: #fffdd7;
    --yellow-1: #ede091;
    --yellow-2: #ddbe00;
    --yellow-3: #cba100;
    --yellow-4: #c58d00;
    --yellow-5: #8a5a00;
    --yellow-6: #5b2f00;
    --yellow-7: #3a1800;
    --yellow-8: #190100;
    --yellow-9: #020000;
}
