:root {
    --yellow-0: #fffced;
    --yellow-1: #f1ecce;
    --yellow-2: #eada78;
    --yellow-3: #d9be00;
    --yellow-4: #c9aa00;
    --yellow-5: #b69300;
    --yellow-6: #9c7b00;
    --yellow-7: #866600;
    --yellow-8: #6b4f00;
    --yellow-9: #4f3b00;
    --yellow-10: #2e1c00;
    --yellow-11: #1a1000;
    --yellow-12: #060300;
}
