/* 1: Prevents weird overflow, if moving offscreen on Android with a `@starting-style` */
:is(.offcanvas, .offcanvas-end) {
  position: fixed;
  block-size: 100%;
  inline-size: min(100%, 25rem);
  max-block-size: 100%;
}

.offcanvas {
  --dialog-translate-y: 0;
  --dialog-translate-x: -100%;
  margin-inline-start: 0;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.offcanvas-end {
  --dialog-translate-y: 0;
  --dialog-translate-x: 100%;
  margin-inline-end: 0;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.toast {
  --dialog-translate-y: -100%;
  --dialog-translate-x: 0;
  position: fixed;
  margin-block-start: 1em;
}
