$fade-in: fade-in .5s var(--ease-3);
$fade-out: fade-out .5s var(--ease-3);
$scale-up: scale-up .5s var(--ease-3);
$scale-down: scale-down .5s var(--ease-3);
$slide-out-up: slide-out-up .5s var(--ease-3);
$slide-out-down: slide-out-down .5s var(--ease-3);
$slide-out-right: slide-out-right .5s var(--ease-3);
$slide-out-left: slide-out-left .5s var(--ease-3);
$slide-in-up: slide-in-up .5s var(--ease-3);
$slide-in-down: slide-in-down .5s var(--ease-3);
$slide-in-right: slide-in-right .5s var(--ease-3);
$slide-in-left: slide-in-left .5s var(--ease-3);
$shake-x: shake-x .75s var(--ease-out-5);
$shake-y: shake-y .75s var(--ease-out-5);
$spin: spin 2s linear infinite;
$ping: ping 5s var(--ease-out-3) infinite;
$blink: blink 1s var(--ease-out-3) infinite;
$float: float 3s var(--ease-in-out-3) infinite;
$bounce: bounce 2s var(--ease-squish-2) infinite;
$pulse: pulse 2s var(--ease-out-3) infinite;
