/* Base */
@import url("../base");
@import url("../base/theme.css");

/* Tokens */
@import url("../tokens");

/* Components */
@import url("../components/container");
@import url("../components/join");
@import url("../components/menu");
@import url("../components/breadcrumbs");
@import url("../components/badge");
@import url("../components/offcanvas");

/* Utilities */
@import url("../utilities");

/* Boilerplate code */
@view-transition {
	navigation: auto;
}

@media (prefers-reduced-motion) {
	@view-transition {
		navigation: none;
	}
}

:root {
	--anchor-offset: calc(75px + 5ex);
}

@keyframes add-shadow {
	from {
		box-shadow: none;
		background-color: var(--root-bg);
	}

	to {
		box-shadow: var(--shadow-2);
		background-color: color-mix(in srgb, var(--root-bg) 60%, #fff3);
	}
}

.sticky-header {
	--btn-stroke: transparent;
	z-index: 9;
	position: sticky;
	inset-block-start: 0;
	background-color: var(--root-bg);
	backdrop-filter: blur(3px);
	animation: add-shadow linear both;
	animation-timeline: scroll();
	animation-range: 0 4rem;

	@media print {
		display: none;
	}
}

[data-theme^="light"] {
	--root-bg: hsl(0 0% 100%);
	--root-fg: hsl(0 0% 8%);
	--select-icon: var(--chevron-light-scheme);
	--shadow-color: 0 0% 50%;
	--shadow-weight: 1%;
	color-scheme: light;
}

[data-theme^="dark"] {
	--root-bg: color-mix(in oklab, black 82%, var(--brand));
	--root-fg: #fff;
	--select-icon: var(--chevron-dark-scheme);
	--shadow-color: 220 40% 2%;
	--shadow-weight: 25%;
	color-scheme: dark;
}

[data-theme$="arc"] {
	--brand: var(--arc-palette-foregroundSecondary, darkseagreen);
	--on-brand: var(--arc-palette-background, black);
}

[data-theme$="lava"] {
	--brand: hsl(0 100% 35%);
	--on-brand: hsl(260 0% 100%);
}
