:where(.breadcrumbs, nav[aria-label=breadcrumbs] > ol) {
  display: flex;
  gap: var(--breadcrumbs-gap);
}

:where(.breadcrumbs, nav[aria-label=breadcrumbs]) {
  --breadcrumbs-separator: "/";
  --breadcrumbs-gap: 0.5rem;
}
:where(.breadcrumbs, nav[aria-label=breadcrumbs]) li {
  display: inline-flex;
  align-items: center;
  gap: var(--breadcrumbs-gap);
  white-space: nowrap;
}
:where(.breadcrumbs, nav[aria-label=breadcrumbs]) :where(li + li)::before {
  content: var(--breadcrumbs-separator);
}
@supports (content: "a"/"a") {
  :where(.breadcrumbs, nav[aria-label=breadcrumbs]) :where(li + li)::before {
    content: var(--breadcrumbs-separator)/"";
  }
}
:where(.breadcrumbs, nav[aria-label=breadcrumbs]) a {
  font-weight: normal;
  text-decoration: none;
}
:where(.breadcrumbs, nav[aria-label=breadcrumbs]) a:where(:hover:not([aria-current=page])) {
  text-decoration: underline;
}
:where(.breadcrumbs, nav[aria-label=breadcrumbs]) a:where([aria-current=page]) {
  font-weight: bolder;
}
