:host {
    --yellow-0-hsl: 53.497 100% 95.034%;
    --yellow-1-hsl: 48.301 85.37% 87.019%;
    --yellow-2-hsl: 48.232 86.422% 72.731%;
    --yellow-3-hsl: 48.479 85.843% 66.608%;
    --yellow-4-hsl: 49.586 77.117% 52.231%;
    --yellow-5-hsl: 50.304 100% 42.359%;
    --yellow-6-hsl: 47.341 100% 36.817%;
    --yellow-7-hsl: 43.296 100% 31.407%;
    --yellow-8-hsl: 42.035 100% 27.457%;
    --yellow-9-hsl: 40.461 100% 22.123%;
    --yellow-10-hsl: 38.687 100% 16.149%;
    --yellow-11-hsl: 37.452 100% 11.548%;
    --yellow-12-hsl: 30.439 100% 7.025%;
    --yellow-13-hsl: 26.463 100% 3.9473%;
    --yellow-14-hsl: 23.613 100% 1.7694%;
}
