@theme {
	--ease-xs: cubic-bezier(0.25, 0.1, 0.1, 1);
	--ease-sm: cubic-bezier(0.25, 0.1, 0.2, 1);
	--ease: cubic-bezier(0.25, 0.1, 0.3, 1);
	--ease-lg: cubic-bezier(0.25, 0.1, 0.4, 1);
	--ease-xl: cubic-bezier(0.25, 0.1, 0.5, 1);
	--ease-in-xs: cubic-bezier(0.3, 0, 1, 1);
	--ease-in-sm: cubic-bezier(0.5, 0, 1, 1);
	--ease-in: cubic-bezier(0.7, 0, 1, 1);
	--ease-in-lg: cubic-bezier(0.9, 0, 1, 1);
	--ease-in-xl: cubic-bezier(1, 0, 1, 1);
	--ease-out-xs: cubic-bezier(0, 0, 0.7, 1);
	--ease-out-sm: cubic-bezier(0, 0, 0.5, 1);
	--ease-out: cubic-bezier(0, 0, 0.3, 1);
	--ease-out-lg: cubic-bezier(0, 0, 0.1, 1);
	--ease-out-xl: cubic-bezier(0, 0, 0, 1);
	--ease-in-out-xs: cubic-bezier(0.1, 0, 0.9, 1);
	--ease-in-out-sm: cubic-bezier(0.3, 0, 0.7, 1);
	--ease-in-out: cubic-bezier(0.5, 0, 0.5, 1);
	--ease-in-out-lg: cubic-bezier(0.7, 0, 0.3, 1);
	--ease-in-out-xl: cubic-bezier(0.9, 0, 0.1, 1);
	--ease-elastic-in-xs: cubic-bezier(0.5, 0.25, 0.75, -0.25);
	--ease-elastic-in-sm: cubic-bezier(0.5, 0, 0.75, -0.25);
	--ease-elastic-in: cubic-bezier(0.5, -0.25, 0.75, -0.25);
	--ease-elastic-in-lg: cubic-bezier(0.5, -0.5, 0.75, -0.25);
	--ease-elastic-in-xl: cubic-bezier(0.5, -0.75, 0.75, -0.25);
	--ease-elastic-out-xs: cubic-bezier(0.5, 0.75, 0.75, 1.25);
	--ease-elastic-out-sm: cubic-bezier(0.5, 1, 0.75, 1.25);
	--ease-elastic-out: cubic-bezier(0.5, 1.25, 0.75, 1.25);
	--ease-elastic-out-lg: cubic-bezier(0.5, 1.5, 0.75, 1.25);
	--ease-elastic-out-xl: cubic-bezier(0.5, 1.75, 0.75, 1.25);
	--ease-elastic-in-out-xs: cubic-bezier(0.5, -0.1, 0.1, 1.5);
	--ease-elastic-in-out-sm: cubic-bezier(0.5, -0.3, 0.1, 1.5);
	--ease-elastic-in-out: cubic-bezier(0.5, -0.5, 0.1, 1.5);
	--ease-elastic-in-out-lg: cubic-bezier(0.5, -0.7, 0.1, 1.5);
	--ease-elastic-in-out-xl: cubic-bezier(0.5, -0.9, 0.1, 1.5);

}
