@theme {
	--shadow-xs: 0 2px 1px -1px #0001, 0 1px 1px #0001, 0 1px 3px #0001;
	--shadow-sm: 0 3px 3px -2px #0001, 0 3px 4px #0001, 0 1px 8px #0001;
	--shadow-md: 0 3px 5px -1px #0001, 0 6px 10px #0001, 0 1px 18px #0001;
	--shadow-lg: 0 5px 5px -3px #0001, 0 8px 10px 1px #0001, 0 3px 14px 2px #0001;
	--shadow-xl: 0 7px 8px -4px #0001, 0 12px 17px 2px #0001, 0 5px 22px 4px #0001;
	--shadow-2xl: 0 8px 10px -5px #0001, 0 16px 24px 2px #0001, 0 6px 30px 5px #0001;

}
