:where(input, select, textarea):user-invalid:not(:focus) {
  --form-stroke: var(--form-invalid-color, #e00);
  outline: 1px solid var(--form-stroke);
}

label:has([aria-describedby]) {
  --show-notice: initial;
}
label:has([aria-describedby]) [id]:is(span, small) {
  visibility: var(--show-notice, hidden);
}
label:has([aria-describedby]):has(:user-invalid:not(:focus)) {
  --show-notice: /* */ ;
}

:where(input[type=range]) {
  --track-color: color-mix(in srgb, var(--root-fg) 24%, transparent);
  --fill-color: var(--form-active-color, currentcolor);
  --fill-max: 100;
  --fill: 0;
  --size: var(--thumb-size, 4ex);
  appearance: none;
  block-size: var(--size);
  inline-size: 100%;
  margin: 0;
  background: none;
  outline: 0;
  cursor: grab;
}
:where(input[type=range]):dir(rtl) {
  --fill-direction: left;
}
:where(input[type=range]):focus-visible {
  --outline-width: 2px;
}
:where(input[type=range]):active {
  cursor: grabbing;
}
:where(input[type=range])::-webkit-slider-runnable-track {
  --_progression: calc(100% * var(--fill) / var(--fill-max));
  block-size: var(--track-height, 1ex);
  border-radius: var(--track-radius, 0.3rem);
  background: var(--track-color) linear-gradient(to var(--fill-direction, right), var(--fill-color) var(--_progression), var(--track-color) var(--_progression));
}
:where(input[type=range])::-moz-range-track {
  --_progression: calc(100% * var(--fill) / var(--fill-max));
  block-size: var(--track-height, 1ex);
  border-radius: var(--track-radius, 0.3rem);
  background: var(--track-color) linear-gradient(to var(--fill-direction, right), var(--fill-color) var(--_progression), var(--track-color) var(--_progression));
}
:where(input[type=range])::-webkit-slider-thumb {
  appearance: none;
  block-size: var(--size);
  inline-size: var(--size);
  box-shadow: var(--thumb-shadow);
  margin-block-start: var(--thumb-offset, calc(0.5 * (var(--track-height, 1ex) - var(--size))));
  border-radius: var(--thumb-radius, 50%);
  border: var(--thumb-border-width, 0.5ex) solid var(--thumb-stroke, var(--root-bg));
  background: var(--thumb-bg, var(--fill-color));
  outline: var(--outline-width) solid var(--form-active-color, currentcolor);
}
:where(input[type=range])::-moz-range-thumb {
  appearance: none;
  block-size: var(--size);
  inline-size: var(--size);
  box-shadow: var(--thumb-shadow);
  margin-block-start: var(--thumb-offset, calc(0.5 * (var(--track-height, 1ex) - var(--size))));
  border-radius: var(--thumb-radius, 50%);
  border: var(--thumb-border-width, 0.5ex) solid var(--thumb-stroke, var(--root-bg));
  background: var(--thumb-bg, var(--fill-color));
  outline: var(--outline-width) solid var(--form-active-color, currentcolor);
  box-sizing: border-box;
}

meter,
progress {
  appearance: none;
  block-size: 0.5rem;
  inline-size: 100%;
  border-radius: 0.3rem;
  background: var(--bg-subtle);
}

meter {
  --success: #218003;
  --error: #e00;
}

progress::-webkit-progress-value {
  background-color: var(--brand, currentcolor);
}
