@keyframes progressLoading {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 200% 0;
  }
}
meter,
progress {
  --track-height: 1ex;
  --track-color: color-mix(in srgb, var(--root-fg) 24%, transparent);
  --track-radius: 0.3rem;
  appearance: none;
  block-size: var(--track-height, 1ex);
  inline-size: 100%;
  border-radius: var(--track-radius);
  background: var(--track-color);
  vertical-align: middle;
}
@media (forced-colors: active) {
  meter,
  progress {
    border: 1px solid;
  }
}

meter::-webkit-meter-bar,
progress::-webkit-progress-bar {
  align-self: auto;
  border: transparent;
  background: inherit;
}

progress {
  --progress-value-radius: var(--track-radius);
  --track-height: 1.8ex;
  --fill: var(--brand, currentcolor);
}
@media (forced-colors: active) {
  progress {
    --fill: currentcolor;
  }
}
progress::-webkit-progress-value {
  border-radius: var(--progress-value-radius);
  background-color: var(--fill);
  forced-color-adjust: none;
}
progress::-moz-progress-bar {
  border-radius: var(--progress-value-radius);
  background-color: var(--fill);
  forced-color-adjust: none;
}
@media (prefers-reduced-motion: no-preference) {
  progress:indeterminate {
    background: var(--track-color) linear-gradient(var(--fill), var(--fill)) 0 0/50% no-repeat;
    animation: 5s infinite linear progressLoading;
  }
}
progress.show-value {
  position: relative;
}
progress.show-value::after {
  content: attr(value) "%";
  position: absolute;
  inset: 0;
  text-align: center;
  font-size: var(--track-height);
  line-height: 1;
}

meter {
  --success: #107c10;
  --warning: #ffb900;
  --error: #e00;
  overflow: hidden;
}
meter::-webkit-meter-inner-element {
  position: relative;
  display: block;
}
meter::-webkit-meter-optimum-value {
  background: var(--success);
}
meter::-webkit-meter-suboptimum-value {
  background: var(--warning);
}
meter::-webkit-meter-even-less-good-value {
  background: var(--error);
}
meter:-moz-meter-optimum::-moz-meter-bar {
  background: var(--success);
}
meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: var(--warning);
}
meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: var(--error);
}
