$range-track-color: color-mix(
	in srgb,
	var(--root-fg) 24%,
	transparent
) !default;
$range-track-height: 1ex !default;

$range-thumb-size: 4ex !default;
$range-thumb-radius: 50% !default;
$range-thumb-stroke: var(--root-bg) !default;
$range-thumb-border-width: math.div($range-thumb-size, 8) !default;

@mixin range-track {
	--_progression: calc(100% * var(--fill) / var(--fill-max));
	block-size: var(--track-height, #{$range-track-height});
	border-radius: var(--form-radius, #{$radius});
	background: var(--track-color)
		linear-gradient(
			to var(--fill-direction, right),
			var(--fill-color) var(--_progression),
			var(--track-color) var(--_progression)
		);
}

@mixin range-thumb() {
	$calc-offset: calc(
		0.5 * calc(var(--track-height, #{$range-track-height}) - var(--size))
	);
	appearance: none;
	block-size: var(--size);
	inline-size: var(--size);
	box-shadow: var(--thumb-shadow);
	margin-block-start: var(--thumb-offset, #{$calc-offset});
	border-radius: var(--thumb-radius, #{$range-thumb-radius});
	border: var(--thumb-border-width, #{$range-thumb-border-width}) solid
		var(--thumb-stroke, #{$range-thumb-stroke});
	background: var(--thumb-bg, var(--fill-color));
	outline: var(--outline-width) solid var(--form-active-color, currentcolor);
}

@mixin range {
	--track-color: #{$range-track-color};
	--fill-color: var(--form-active-color, currentcolor);
	--fill-max: 100;
	--fill: 0;
	--size: var(--thumb-size, #{$range-thumb-size});
	block-size: var(--size);
	padding: 0;
	border: 0;
	background: transparent;
	outline: 0;
	cursor: grab;

	&:dir(rtl) {
		--fill-direction: left;
	}

	&:focus-visible {
		--outline-width: 2px;
	}

	&:active {
		cursor: grabbing;
	}

	&::-webkit-slider-runnable-track {
		@include range-track;
	}

	&::-moz-range-track {
		@include range-track;
	}

	&::-webkit-slider-thumb {
		@include range-thumb;
	}

	&::-moz-range-thumb {
		@include range-thumb;
		box-sizing: border-box;
	}
}

:where(input[type="range"]) {
	@include form.range;
}
