:where(input[type=range]) {
  --fill-color: var(--form-active-color, currentcolor);
  --fill-max: 100;
  --fill: 0;
  --size: var(--thumb-size, 4ex);
  --track-color: color-mix(in srgb, var(--root-fg) 24%, transparent);
  --track-size: 1ex;
  --thumb-border-width: 0.5ex;
  --thumb-stroke: var(--root-bg);
  --thumb-radius: 50%;
  appearance: none;
  block-size: var(--size);
  inline-size: 100%;
  margin: 0;
  background: none;
  outline: 0;
  cursor: grab;
}
:where(input[type=range]):dir(rtl) {
  --fill-direction: left;
}
:where(input[type=range]):where(.vertical) {
  --fill-direction: bottom;
  inline-size: 20ex;
  writing-mode: vertical-lr;
}
:where(input[type=range]):focus-visible {
  --outline-width: 2px;
}
:where(input[type=range]):active {
  cursor: grabbing;
}
:where(input[type=range])::-webkit-slider-runnable-track {
  --_progression: calc(100% * var(--fill) / var(--fill-max));
  block-size: var(--track-size);
  border-radius: var(--track-radius, 0.3rem);
  background: linear-gradient(to var(--fill-direction, right), var(--fill-color) var(--_progression), var(--track-color) var(--_progression));
}
:where(input[type=range])::-moz-range-track {
  --_progression: calc(100% * var(--fill) / var(--fill-max));
  block-size: var(--track-size);
  border-radius: var(--track-radius, 0.3rem);
  background: linear-gradient(to var(--fill-direction, right), var(--fill-color) var(--_progression), var(--track-color) var(--_progression));
}
:where(input[type=range])::-webkit-slider-thumb {
  appearance: none;
  block-size: var(--size);
  inline-size: var(--size);
  box-shadow: var(--thumb-shadow);
  margin-block-start: var(--thumb-offset, calc(0.5 * (var(--track-size) - var(--size))));
  border-radius: var(--thumb-radius);
  border: solid var(--thumb-stroke);
  border-width: var(--thumb-border-width);
  background: var(--thumb-bg, var(--fill-color));
  outline: var(--outline-width) solid var(--form-active-color, currentcolor);
}
:where(input[type=range])::-moz-range-thumb {
  appearance: none;
  block-size: var(--size);
  inline-size: var(--size);
  box-shadow: var(--thumb-shadow);
  margin-block-start: var(--thumb-offset, calc(0.5 * (var(--track-size) - var(--size))));
  border-radius: var(--thumb-radius);
  border: solid var(--thumb-stroke);
  border-width: var(--thumb-border-width);
  background: var(--thumb-bg, var(--fill-color));
  outline: var(--outline-width) solid var(--form-active-color, currentcolor);
  box-sizing: border-box;
}
