:where(input, select, textarea):user-invalid:not(:focus) {
  --form-stroke: var(--form-invalid-color, #e00);
  outline: 1px solid var(--form-stroke);
}

label:has([aria-describedby]) {
  --show-notice: initial;
}
label:has([aria-describedby]) [id]:is(span, small) {
  visibility: var(--show-notice, hidden);
}
label:has([aria-describedby]):has(:user-invalid:not(:focus)) {
  --show-notice: /* */ ;
}
