.hidden {
  display: none;
}

.block {
  --inline: /* */ ;
  display: var(--inline) block;
}

.inline {
  --inline: inline;
}

@media (width >= 480px) {
  .sm\:hidden {
    display: none;
  }
  .sm\:block {
    display: var(--inline) block;
  }
}
@media (width >= 768px) {
  .md\:hidden {
    display: none;
  }
  .md\:block {
    display: var(--inline) block;
  }
}
@media (width >= 1024px) {
  .lg\:hidden {
    display: none;
  }
  .lg\:block {
    display: var(--inline) block;
  }
}
@media (width >= 1440px) {
  .xl\:hidden {
    display: none;
  }
  .xl\:block {
    display: var(--inline) block;
  }
}
@media (width >= 1920px) {
  .xxl\:hidden {
    display: none;
  }
  .xxl\:block {
    display: var(--inline) block;
  }
}
