.divide-y > :not(template, [hidden]:where(:not([hidden=until-found]))) + * {
  --divide: 1px;
  border-block-start-width: var(--divide);
}

.divide-x > :not(template, [hidden]:where(:not([hidden=until-found]))) + * {
  --divide: 1px;
  border-inline-start-width: var(--divide);
}

.divide-gap-y,
.divide-gap-x {
  --divide-gap: 0.5em;
}

.divide-gap-y > :not(template,
[hidden]:where(:not([hidden=until-found])),
:first-child) {
  padding-block-start: var(--divide-gap);
}
.divide-gap-y > :not(template,
[hidden]:where(:not([hidden=until-found])),
:last-child) {
  padding-block-end: var(--divide-gap);
}

.divide-gap-x > :not(template,
[hidden]:where(:not([hidden=until-found])),
:first-child) {
  padding-block-start: var(--divide-gap);
}
.divide-gap-x > :not(template,
[hidden]:where(:not([hidden=until-found])),
:last-child) {
  padding-block-end: var(--divide-gap);
}
