.gap-var {
  --gap: 1em;
  --sm_gap: initial;
  --md_gap: initial;
  --lg_gap: initial;
  --xl_gap: initial;
  --xxl_gap: initial;
  gap: var(--xxl_gap, var(--xl_gap, var(--lg_gap, var(--md_gap, var(--sm_gap, var(--gap))))));
}

@media (width <= 480px) {
  .gap-var {
    --sm_gap: initial !important;
  }
}
@media (width <= 768px) {
  .gap-var {
    --md_gap: initial !important;
  }
}
@media (width <= 1024px) {
  .gap-var {
    --lg_gap: initial !important;
  }
}
@media (width <= 1440px) {
  .gap-var {
    --xl_gap: initial !important;
  }
}
@media (width <= 2200px) {
  .gap-var {
    --xxl_gap: initial !important;
  }
}
