.border-gradient, .text-gradient, .bg-gradient {
  --gradient-from: currentcolor;
  --gradient-to: transparent;
  --gradient-stops: var(--gradient-from), var(--gradient-to);
  --gradient-angle: 0deg;
  --gradient: linear-gradient(var(--gradient-angle), var(--gradient-stops));
}

.bg-gradient {
  background: var(--gradient);
}

.text-gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(0, 0, 0, 0);
}

.border-gradient {
  --inner-bg: var(--root-bg, #fff);
  background: linear-gradient(var(--inner-bg, rgba(0, 0, 0, 0)) 0 0) padding-box, var(--gradient) border-box;
  border-color: rgba(0, 0, 0, 0);
}
