.grid {
  --grid-cols: 1;
  --_cols: var(--grid-cols);
  display: grid;
  grid-template-columns: repeat(var(--_cols), minmax(0, 1fr));
}

.grid-flow {
  --grid-flow-size: calc(
  	(100% - var(--_gap, var(--gap, 0px)) * (var(--_cols) - 1)) /
  		var(--_cols)
  );
  grid-template-columns: none;
  grid-auto-flow: column;
  grid-auto-columns: var(--grid-flow-size);
}

@media (width >= 480px) {
  .grid:where([style*="--sm_grid-cols:"]) {
    --_cols: var(--sm_grid-cols);
  }
}
@media (width >= 768px) {
  .grid:where([style*="--md_grid-cols:"]) {
    --_cols: var(--md_grid-cols);
  }
}
@media (width >= 1024px) {
  .grid:where([style*="--lg_grid-cols:"]) {
    --_cols: var(--lg_grid-cols);
  }
}
@media (width >= 1440px) {
  .grid:where([style*="--xl_grid-cols:"]) {
    --_cols: var(--xl_grid-cols);
  }
}
@media (width >= 1920px) {
  .grid:where([style*="--xxl_grid-cols:"]) {
    --_cols: var(--xxl_grid-cols);
  }
}
