.grid-cols {
  --grid-cols: 1;
  --gap: 1em;
  --_cols: var(--grid-cols);
  display: grid;
  gap: var(--_gp, var(--gap));
  grid-template-columns: repeat(var(--_cols), minmax(0, 1fr));
}

.grid-cols-flow {
  grid-auto-flow: column;
  grid-template-columns: none;
  grid-auto-columns: calc((100% - var(--_gp, var(--gap)) * (var(--_cols) - 1)) / var(--_cols));
}

@media (width >= 480px) {
  .grid-cols:where([style*="--sm_grid-cols:"]) {
    --_cols: var(--sm_grid-cols);
  }
}
@media (width >= 768px) {
  .grid-cols:where([style*="--md_grid-cols:"]) {
    --_cols: var(--md_grid-cols);
  }
}
@media (width >= 1024px) {
  .grid-cols:where([style*="--lg_grid-cols:"]) {
    --_cols: var(--lg_grid-cols);
  }
}
@media (width >= 1440px) {
  .grid-cols:where([style*="--xl_grid-cols:"]) {
    --_cols: var(--xl_grid-cols);
  }
}
@media (width >= 1920px) {
  .grid-cols:where([style*="--xxl_grid-cols:"]) {
    --_cols: var(--xxl_grid-cols);
  }
}
