.hidden {
  --_show: initial;
  display: var(--_show, none);
}

.not-hidden {
  --_show: /* */ ;
  display: var(--_show, none);
}

@media (width >= 480px) {
  .sm\:hidden {
    --_show: initial;
  }
  .sm\:not-hidden {
    --_show: /* */ ;
  }
}
@media (width >= 768px) {
  .md\:hidden {
    --_show: initial;
  }
  .md\:not-hidden {
    --_show: /* */ ;
  }
}
@media (width >= 1024px) {
  .lg\:hidden {
    --_show: initial;
  }
  .lg\:not-hidden {
    --_show: /* */ ;
  }
}
@media (width >= 1440px) {
  .xl\:hidden {
    --_show: initial;
  }
  .xl\:not-hidden {
    --_show: /* */ ;
  }
}
@media (width >= 1920px) {
  .xxl\:hidden {
    --_show: initial;
  }
  .xxl\:not-hidden {
    --_show: /* */ ;
  }
}
