@property --scroll-mask-start-opacity {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --scroll-mask-end-opacity {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@keyframes scroll-mask {
  0% {
    --mask-start-opacity: 100%;
    --mask-end-opacity: 0%;
  }
  2%, 98% {
    --mask-start-opacity: 0%;
    --mask-end-opacity: 0%;
  }
  100% {
    --mask-start-opacity: 0%;
    --mask-end-opacity: 100%;
  }
}
.scroll-mask-x,
.scroll-mask-y {
  --mask-dir: to right;
  --mask-size: 2rem;
  --mask: linear-gradient(
  	var(--mask-dir),
  	hsl(0 0% 0% / var(--mask-start-opacity, 100%)),
  	hsl(0 0% 0% / 100%) var(--mask-size),
  	hsl(0 0% 0% / 100%) calc(100% - var(--mask-size)),
  	hsl(0 0% 0% / var(--mask-end-opacity, 100%))
  );
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  animation: scroll-mask;
}

.scroll-mask-x {
  animation-timeline: scroll(self inline);
}

.scroll-mask-y {
  --mask-dir: to bottom;
  --scroll: visible auto;
  --overscroll: auto contain;
  animation-timeline: scroll(self block);
}
