.gap-var {
  --gap: 1em;
  gap: var(--gap);
}

.m-var {
  --my: 0;
  --mx: auto;
  margin-block: var(--my);
  margin-inline: var(--mx);
}

.p-var {
  --py: 1em;
  --px: 1em;
  padding-block: var(--py);
  padding-inline: var(--px);
}
