:where([style*="--my:"]) {
  --my: 1em;
  margin-block: var(--_my, var(--my));
}

:where([style*="--mx:"]) {
  --mx: auto;
  margin-inline: var(--_mx, var(--mx));
}

:where([style*="--py:"]) {
  --py: 1em;
  padding-block: var(--_py, var(--py));
}

:where([style*="--px:"]) {
  --px: 1em;
  padding-inline: var(--_px, var(--px));
}

@media (width >= 480px) {
  :where([style*="--sm_my:"]) {
    --_my: var(--sm_my);
  }
  :where([style*="--sm_mx:"]) {
    --_mx: var(--sm_mx);
  }
  :where([style*="--sm_py:"]) {
    --_py: var(--sm_py);
  }
  :where([style*="--sm_px:"]) {
    --_px: var(--sm_px);
  }
}
@media (width >= 768px) {
  :where([style*="--md_my:"]) {
    --_my: var(--md_my);
  }
  :where([style*="--md_mx:"]) {
    --_mx: var(--md_mx);
  }
  :where([style*="--md_py:"]) {
    --_py: var(--md_py);
  }
  :where([style*="--md_px:"]) {
    --_px: var(--md_px);
  }
}
@media (width >= 1024px) {
  :where([style*="--lg_my:"]) {
    --_my: var(--lg_my);
  }
  :where([style*="--lg_mx:"]) {
    --_mx: var(--lg_mx);
  }
  :where([style*="--lg_py:"]) {
    --_py: var(--lg_py);
  }
  :where([style*="--lg_px:"]) {
    --_px: var(--lg_px);
  }
}
@media (width >= 1440px) {
  :where([style*="--xl_my:"]) {
    --_my: var(--xl_my);
  }
  :where([style*="--xl_mx:"]) {
    --_mx: var(--xl_mx);
  }
  :where([style*="--xl_py:"]) {
    --_py: var(--xl_py);
  }
  :where([style*="--xl_px:"]) {
    --_px: var(--xl_px);
  }
}
@media (width >= 1920px) {
  :where([style*="--xxl_my:"]) {
    --_my: var(--xxl_my);
  }
  :where([style*="--xxl_mx:"]) {
    --_mx: var(--xxl_mx);
  }
  :where([style*="--xxl_py:"]) {
    --_py: var(--xxl_py);
  }
  :where([style*="--xxl_px:"]) {
    --_px: var(--xxl_px);
  }
}
