.lead {
  font-size: var(--lead-size, large);
  line-height: inherit;
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: italic;
}

.nowrap {
  white-space: nowrap;
}
