.visible,
.peer-invalid\:invisible,
.has-hover\:invisible {
  visibility: visible;
}

.invisible,
.peer-invalid\:visible,
.has-hover\:visible {
  visibility: hidden;
}

:user-invalid ~ .peer-invalid\:visible,
:hover > .has-hover\:visible {
  visibility: visible;
}

:user-invalid ~ .peer-invalid\:invisible,
:hover > .has-hover\:invisible {
  visibility: hidden;
}
